---
layout: default
title: EuroRust – Imprint
---

{% include main_header.html %}

<main>
  <section class="generic-content">
    <h2 class="title">Imprint</h2>
    <p>Publisher information according to §6 Teledienstgesetz (TDG)<br>
      Responsible according to §6 MDStV:</p>
    <p>
      Events Matter UG <br>
      +49 89 452 139 03‬ <br>
      Marco Otte-Witte <br>
      Hans-Sachs-Str. 12 <br>
      80469 München <br>
      Germany <br>
    </p>
    <p>
      We check and update the information on this website regularly. Despite our best efforts, information on the site may not always be correct. Liability concerning timeliness, correctness and completeness of the available information can not be assumed. This applies also for all other websites which are referred via hyperlink. Events Matter UG is not responsible for the content of these third party websites.
    </p>
  </section>
</main>

{% include footer.html %}
