<h2 class="title">{{ section.extra.section.speakers.title }}</h2>
<ul class="speakers">
  {% for speaker in section.extra.speakers %}
  <li>
    <img alt="{{ speaker.name }} speaker profile photo" src="/2022/images/speakers/{{speaker.image}}.jpeg"
      class="photo" />
    {% if not speaker.hide_link %}<a href="/2022/speakers/{{speaker.image}}">{% endif %}{{ speaker.name }}{% if not
      speaker.hide_link %}</a>{% endif %}
    {% if speaker.talk %}
    <p class="talk-title">{{ speaker.talk }}</p>
    {% endif %}
    <div class="links">
      <a href="https://twitter.com/{{ speaker.twitter }}"><img alt="twitter icon"
          src="/2022/images/icons/twitter.svg" /></a>
      <a href="{{ speaker.web }}"><img alt="external link icon" src="/2022/images/icons/external-link.svg" /></a>
    </div>
  </li>
  {% endfor %}
</ul>