
b {
    font-weight: 800;
}

a {
  cursor: pointer;
  text-decoration: none;
}


.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  margin: 20px auto;

  @media screen and (max-width: $breakpoint-tablet) {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}

.box {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 20px auto;
  flex-wrap: wrap;
}

.block {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  flex: 1;
}

.button {
  @include button;

  &.solid {
    background-color: var(--magenta-800);
    border: 1px solid;
    border-color: var(--magenta-800);

    &:hover,
    &:active {
      transition: all 0.1s ease-in-out;
      transform: scale(105%);
      background-color: var(--dark-purple);
      border-color: var(--magenta-800);
    }
  }

  &.lined {
    background-color: var(--dark-purple);
    border: 1px solid;
    border-color: var(--magenta-800);

    &:hover,
    &:active {
      transition: all 0.1s ease-in-out;
      transform: scale(105%);
      background-color: var(--magenta-800);
    }
  }

}