// Animated hover links in paragraphs and the footer
@keyframes btnText {
  0% {
    background-position-x: -4rem;
  }

  100% {
    background-position: 0 0;
  }
}

// Jelly Animation for Buttons
  @keyframes jelly {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.01);
    }
    50% {
      transform: scale(1.05, 1);
    }
    75% {
      transform: scale(0.95, 1.005);
    }
    100% {
      transform: scale(1, 1);
    }
  }

// Moving Clouds
$clouds: 
  ("/images/backgrounds/cloud1.webp" 70vw 175s),
  ("/images/backgrounds/cloud2.webp" 75vw 190s),
  ("/images/backgrounds/cloud3.webp" 88vw 180s),
  ("/images/backgrounds/cloud4.webp" 91vw 200s),
  ("/images/backgrounds/cloud5.webp" 95vw 175s);

// Animation & keyframes
// Refactor by @HugoGiraudel
// https://codepen.io/HugoGiraudel
@for $i from 1 through length($clouds) {
  
  $item     : nth($clouds, $i);
  $path     : nth($item, 1);
  $width    : nth($item, 2);
  $duration : nth($item, 3);
  
  @keyframes clouds-loop-#{$i} {
    from {
       transform: translateX(100%)
    }
    to {
       transform: translateX(-100%)
    }
  }
  
  .clouds-#{$i} {
    background-image: url($path);
    background-size: contain;
    animation: clouds-loop-#{$i} $duration infinite linear;
    z-index: 1;
  }
}

.clouds {
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    top: 3.5rem;
}

.clouds-1,
.clouds-2,
.clouds-3, 
.clouds-4,
.clouds-5 {
  background-repeat: no-repeat;
  position: relative;
  top:      0;
  right:    0;
  left:     0;
}

.clouds-1 {
    height: 46vw;
    animation-delay: -100s;

    @media screen and (max-width: 60rem) {
      height: 92vw;
    }
}

.clouds-2 {
    height: 40vw;
    animation-delay: -13s;
    top: -45vw;

     @media screen and (max-width: 60rem) {
      height: 80vw;
    }
}

.clouds-3 {
    height: 37vw;
    animation-delay: -120s;
    opacity: 0.8;

      @media screen and (max-width: 60rem) {
      height: 74vw;
    }
}

.clouds-4 {
    height: 57vw;
    margin-top: -36vw;
    animation-delay: -30s;
    opacity: 0.5;

    @media screen and (max-width: 60rem) {
      height: 114vw;
    }
}

.clouds-5 {
    height: 39vw;
    animation-delay: -50s;
    opacity: 0.5;
    margin-bottom: 39vw;

    @media screen and (max-width: 60rem) {
      height: 78vw;
      margin-bottom: 0;
    }
}

//Soap bubbles 
@keyframes bubbles {
  0% {
    scale: 1;
    }
  50% {
    scale: 0.90;
  }
  100% {
    scale: 1;
  }
}