@import "./reset.scss";
@import "./mixins.scss";
@import "./fonts.scss";
@import "./typography.scss";
@import "./colors.scss";
@import "./workshops.scss";
@import "./privacy.scss";
@import "./schedule.scss";
@import "./speaker.scss";
@import "./tito-button.scss";
@import "./utility";
@import "./travel";
@import "components/hero";
@import "components/nav";
@import "components/rustfest";
@import "components/topics";
@import "components/speakers";
@import "components/schedule";
@import "components/venue";
@import "components/mentor";
@import "components/footer";
@import "components/get-involved";
@import "components/presented-by";
@import "components/hover-effect";
@import "components/sponsors";
@import "components/past-event-highlights";
@import "components/activity-card";
@import "components/premier";

body {
  background-color: var(--black);
  color: var(--white);
}

:root {
  --activity-card-padding: 0.75rem;
}

main {
  background: url(images/space-station.png);
  background-position: bottom center;
  background-size: 75vw;
  background-repeat: no-repeat;
  padding-bottom: 100vh;
}
