@import "./reset.scss";
@import "./mixins.scss";
@import "./typography.scss";
@import "./colors.scss";
@import "./utility";
@import "./animation";
@import "components/tito-button.scss";
@import "components/hero";
@import "components/nav";
@import "components/rustfest";
@import "components/about";
@import "components/footer";
@import "components/presented-by";
@import "components/past-speakers";
@import "components/past-sponsors";
@import "components/topics";
@import "components/past-event-highlights";
@import "components/hover-effect";
@import "components/generic-content";
@import "components/schedule-overview";
@import "components/activity";
@import "components/venue";

body {
  background-color: var(--blue-500);
  color: var(--blue-light);
  @include background__noise;

  @media screen and (max-width: 60rem) {
    background-size: 140vw, 140vw;
  }
}

.btn__icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--orange-300);
  border-radius: var(--corner);
}

.main {
  position: relative;
  padding-bottom: 70vh;

  @media screen and (max-width: 60rem) {
    padding-bottom: 60vw;
  }
}

.main__station {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: max(15rem, 10vw);
  width: 60vw;
  display: block;
  z-index: -1;
  pointer-events: none;
}

img {
  max-width: 100%;
  height: auto;
}

.blurred-background {
  backdrop-filter: blur(0.12rem);
}

.inline {
  display: inline;
}

hr.separator {
  border-top: 2px dotted var(--blue-light);
  color: transparent;
  border-bottom: 0;
}

.wordbreak {
  hyphens: auto;
}

.separator__top {
    @include separator__top;
}


.separator__content {
    @include separator__content;
}

.separator__bottom {
  @include separator__bottom;
}
