@import "./reset.scss";
@import "./mixins.scss";
@import "./typography.scss";
@import "./tito-button.scss";
@import "components/hero";
@import "components/nav";
@import "components/rustfest";
@import "components/speakers";
@import "components/venue";
@import "components/footer";
@import "components/presented-by";
@import "components/sponsors";
@import "components/submit";
@import "components/topics";
@import "components/past-event-highlights";

body {
  background-color: var(--black);
  color: var(--white);
}

:root {
  --activity-card-padding: 0.75rem;
}

main {
  background: url(images/space-station.png), url(/images/background.jpg);
  background-position: bottom 10rem center, top left;
  background-size: 75vw, 100vw;
  background-repeat: no-repeat, repeat-y;
  padding-bottom: 100vh;
}
