@import "./reset.scss";
@import "./mixins.scss";
@import "./typography.scss";
@import "./colors.scss";
@import "./utility";
@import "./animation";
@import "./fonts";
@import "components/hero";
@import "components/nav";
@import "components/nav-generic";
@import "components/rustfest";
@import "components/mailing";
@import "components/about";
@import "components/footer";
@import "components/presented-by";
@import "components/past-speakers";
@import "components/get-tickets";
@import "components/past-sponsors";
@import "components/topics";
@import "components/hover-effect";
@import "components/generic-content";
@import "components/activity";
@import "components/venue";

body {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3c1980, #101954 28.85%, #2b1e74 60.59%, #0d275e 77.89%, #06428a);
  font-family: Lexend, sans-serif;
}
