:root {
  --blue-050: #9ED0D6;
  --blue-100: #86E2FC;
  --blue-200: #2EC0EA;
  --blue-300: #2AB9DA;
  --blue-400: #0A95B5;
  --blue-500: #2180E3;
  --blue-600: #1C75C4;
  --blue-700: #105696;
  --blue-800: #001C76;

  --orange-gradient: linear-gradient(#FFF9E1, #FFE0BC, #FFF9E1);
  --orange-100: #FFF9E1;
  --orange-200: #FEB568;
  --orange-300: #FC9557;

  --pink-gradient: linear-gradient(#F5E9ED, #FEDCEA, #F5E9ED);
  --pink-100: #FFF7FA;
  --pink-200: #FFF0F5;
  --pink-300: #FFDDE8;
  --pink-400: #FFD0E2;
  --pink-500: #FF89BD;
  --pink-600: #F665A5;

  --purple-gradient: linear-gradient(#F6EEFF, #F3D5FF, #F6EEFF);
  --purple-100: #BE80F0;
  --purple-200: #A862E0;

  --white: #fff;

  --corner: 25px;
}

