@font-face {
  font-family: "Poppins-Light-Italic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/poppins-light-italic.woff) format("woff");
}

@font-face {
  font-family: "Poppins-SemiBoldItalic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Poppins-SemiBoldItalic.woff) format("woff");
}
