@import "./colors.scss";

@mixin min-screen-width($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin min-max-screen-width($min-width, $max-width) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

@mixin desktop-only {
  @include min-screen-width(1024px) {
    @content;
  }
}

@mixin wide-desktop-only {
  @include min-screen-width(1100px) {
    @content;
  }
}

@mixin desktop-and-tablet-only {
  @include min-screen-width(768px) {
    @content;
  }
}

@mixin mobile-xl-only {
  @include min-max-screen-width(480px, 640px) {
    @content;
  }
}

@mixin mobile-only {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

@mixin mobile-and-tablet-only {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin neon-text-style {
  color: var(--white);
  text-shadow: 1px 1px 0px var(--pink), -1px -1px 0px var(--pink),
    1px -1px 0px var(--pink), -1px 1px 0px var(--pink), 0 4px 21px var(--pink);
}

@mixin neon-border-style($intens: false) {
  @if $intens {
    box-shadow: 0 0 26px 0 var(--pink), 0 0 26px 0 var(--pink),
      inset 0px 0 36px 0 var(--pink), inset 0px 0 36px 0 var(--pink);
  } @else {
    box-shadow: 0 0 26px 0 var(--pink);
  }
}

@mixin pill-button($selector, $paddingButton, $icon: false, $iconHeight: 23px) {
  #{$selector} {
    --font-size: 18px;
    @include desktop-and-tablet-only {
      --font-size: 22px;
    }
    color: var(--white);
    font-size: var(--font-size);
    font-family: Poppins-Light;
    letter-spacing: 0;
    text-align: center;
    line-height: 56px;

    border: 2px solid var(--white);
    border-radius: 41px;
    padding: 0 #{$paddingButton};
    @content;
  }

  #{$selector}:hover {
    background: var(--transparent-white);
  }

  @if $icon {
    #{$selector}:before {
      content: "";
      display: block;
      width: 27px;
      height: #{$iconHeight};
      float: left;
      margin-right: 10px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-top: if(
        $iconHeight > 23px,
        calc(var(--font-size) / 2),
        $iconHeight - 6px
      );
      background: url(/images/icons/#{$icon}) no-repeat;
    }
  }
}
