$max-width: 1440px;

$breakpoint-desktop: 1920px;
$breakpoint-tablet: 1025px;
$breakpoint-mobile: 800px;

@mixin button {
  width: 100%;
  border-radius: 17px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 900;
  color: inherit;
  text-decoration: none;
  padding: 20px;
  font-size: 20px 1.4vw 30px;
  cursor: pointer;
}

@mixin max-width($max-width) {
  max-width: $max-width;
}
