@mixin button {
  border-radius: 100px;
  display: inline-flex;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.4s;
  width: auto;
  position: relative;

  &:hover,
  &:active {
   animation: jelly 0.5s ease-in-out;
  }

  @media (max-width: 60rem) {
    padding: 8px;
    width: 70vw;
  }
}

@mixin btn__secondary($color: var(--pink-300)) {
  @include button;
  border: 2px solid $color;
  color: $color;
  font-size: clamp(14px, 1.5vw, 38px);
  line-height: normal;
  text-decoration: none;

  @media (max-width: 60rem) {
    padding: 5px 15px;
    font-size: 15px;
    width: auto;
  }
}

@mixin btn__text($color: var(--pink-300)) {
  @include btn__secondary;
  border: none;
  color: $color;
  line-height: normal;
  text-decoration: none;

  @media (max-width: 60rem) {
    font-size: 15px;
    width: auto;
  }
}

@mixin btn__primary-purple ($color1: #FFB8D6, $color2: #C000B5, $color3: #940196, $shadow1: rgba(255,255,255, 0.4), $shadow2: rgba(180, 70, 207, 1)) {
  @include button;
  padding: 20px 35px; 
  font-size: clamp(18px,1.9vw,48px);
  color: var(--white);
  text-decoration: none;
	background-image: linear-gradient($color1 0%, $color2 75%, $color3 95%);
	box-shadow: 0 0.75rem 0.5rem $shadow1 inset,
							0 0.25rem 0.5rem 0 $shadow2 inset;

  &::before {
    content: "";
    display: block;
    height: 0.2rem;
    position: absolute;
    top: 0.35rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 4.5rem);
    background: #fff;
    border-radius: 100%;
    opacity: 0.9;
    background-image: linear-gradient(-270deg, rgba(255,255,255,0.30) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.30) 100%);
  }

  &::after {
    content: "";
    display: block;
    height: 0.25rem;
    position: absolute;
    bottom: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 7.5rem);
    background: #fff;
    border-radius: 100%;
    filter: blur(1px);
    opacity: 0.05;
    background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
  }
}

@mixin btn__primary-pink ($color1: #F39CD1, $color2: #F9528A, $color3: #D31D7D, $shadow1: rgba(255,255,255, 0.4), $shadow2: rgba(180, 70, 207, 1)) {
  @include btn__primary-purple($color1, $color2, $color3, $shadow1, $shadow2);
}

@mixin btn__primary-orange ($color1: #FFCC92, $color2: #FD9935, $color3: #DC4E14, $shadow1: rgba(255,255,255, 0.4), $shadow2: rgba(193, 7, 7, 1)) {
  @include btn__primary-purple($color1, $color2, $color3, $shadow1, $shadow2);
}

@mixin btn__secondary-large($color: var(--blue-light)) {
  @include btn__primary-purple;
  border: 2px solid $color;
  color: $color;
  background: none;
  box-shadow: none;

  &:hover,
  &:active {
    box-shadow: none;
    background: none;
  }
}

/* Jelly Animation */
  @keyframes jelly {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
    100% {
      transform: scale(1, 1);
    }
  }

@mixin dark-blue-shadow {
  text-shadow: 0 0 20px var(--blue-800);
}

@mixin stroke($color: #000, $size: 1px) {
  text-shadow:
    -#{$size} -#{$size} 0 $color,
     0        -#{$size} 0 $color,
     #{$size} -#{$size} 0 $color,
     #{$size}  0        0 $color,
     #{$size}  #{$size} 0 $color,
     0         #{$size} 0 $color,
    -#{$size}  #{$size} 0 $color,
    -#{$size}  0        0 $color;
}

@mixin stroke__shadow($color: #000, $size: 1px) {
  text-shadow: 
    -#{$size} -#{$size} 0 $color,
     0        -#{$size} 0 $color,
     #{$size} -#{$size} 0 $color,
     #{$size}  0        0 $color,
     #{$size}  #{$size} 0 $color,
     0         #{$size} 0 $color,
    -#{$size}  #{$size} 0 $color,
    -#{$size}  0        0 $color,
    0 0 20px var(--blue-800), ;
}

