@mixin button {
  display: inline-flex;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.4s;
  width: auto;

  &:hover,
  &:active {
    scale: 1.03;
    transition: all 0.2s ease-in-out;
  }

  @media (max-width: 60rem) {
    padding: 8px;
    width: 70vw;
  }
}

@mixin btn__secondary($color: var(--pink-300)) {
  @include button;
  border-radius: 100px;
  border: 2px solid $color;
  color: $color;
  font-size: clamp(14px, 1.5vw, 38px);
  line-height: normal;
  text-decoration: none;

  @media (max-width: 60rem) {
    padding: 5px 15px;
    font-size: 15px;
    width: auto;
  }
}

@mixin btn__text($color: var(--pink-300)) {
  @include btn__secondary;
  border: none;
  color: $color;
  line-height: normal;
  text-decoration: none;

  @media (max-width: 60rem) {
    font-size: 15px;
    width: auto;
  }
}

@mixin btn__primary {
  @include button;
  border-radius: 45px;
  border: 2px solid var(--blue-dark);
  background: linear-gradient(90deg, var(--yellow) 0%, var(--green) 100%);
  box-shadow: 0px 0px 100px 0px var(--yellow);
  color: var(--blue-dark);
  font-size: clamp(32px, 2.9vw, 55px);
  line-height: 48px;
  letter-spacing: 0.3vw;
  text-decoration: none;

  &:hover,
  &:active {
    box-shadow: 0px 0px 50px 0px var(--blue);
    background: linear-gradient(90deg, var(--green) 0%, #f6d2d7 80%);
  }
}

@mixin btn__secondary-large($color: var(--blue-light)) {
  @include btn__primary;
  border: 2px solid $color;
  color: $color;
  background: none;
  box-shadow: none;

  &:hover,
  &:active {
    box-shadow: none;
    background: none;
  }
}

@mixin dark-blue-shadow {
  text-shadow: 0 0 20px var(--blue-800);
}

@mixin stroke($color: #000, $size: 1px) {
  text-shadow:
    -#{$size} -#{$size} 0 $color,
     0        -#{$size} 0 $color,
     #{$size} -#{$size} 0 $color,
     #{$size}  0        0 $color,
     #{$size}  #{$size} 0 $color,
     0         #{$size} 0 $color,
    -#{$size}  #{$size} 0 $color,
    -#{$size}  0        0 $color;
}

@mixin stroke__shadow($color: #000, $size: 1px) {
  text-shadow: 
    -#{$size} -#{$size} 0 $color,
     0        -#{$size} 0 $color,
     #{$size} -#{$size} 0 $color,
     #{$size}  0        0 $color,
     #{$size}  #{$size} 0 $color,
     0         #{$size} 0 $color,
    -#{$size}  #{$size} 0 $color,
    -#{$size}  0        0 $color,
    0 0 20px var(--blue-800), ;
}

