@import "./mixins.scss";

h1,
h2,
h3 {
  @include neon-text-style;
}

h2 {
  font-family: Poppins-Light-Italic;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0;
  font-size: 35px;
  line-height: 45px;

  @include desktop-and-tablet-only {
    font-size: 55px;
    line-height: 65px;
  }
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-family: Poppins-SemiBoldItalic;
  font-size: calc(min(9vw, 40px));
  line-height: 46px;

  @include desktop-and-tablet-only {
    font-size: 55px;
    line-height: 65px;
  }
}

h4,
h5 {
  font-family: Poppins-Light;
  font-size: 25px;
  line-height: 28px;
  color: var(--pink);
  @include desktop-and-tablet-only {
    font-size: 40px;
    line-height: 35px;
  }
}

h5 {
  font-family: Poppins-Light;
  color: var(--white);
  font-size: 25px;
  line-height: 30px;
  @include desktop-and-tablet-only {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 55px;
  }
}

h3.pill-title {
  font-family: Poppins-Light;
  background: var(--black);
  border-radius: 41px;
  letter-spacing: 0;
  text-align: center;
  line-height: 40px;
  color: var(--white);
  text-transform: uppercase;
  text-shadow: none;
  font-size: 32px;
  box-shadow: var(--pink) 2px solid;
  @include neon-border-style();
  @include desktop-and-tablet-only {
    min-width: 340px;
  }
}

p.light-font {
  font-family: Poppins-Light;
}

p,
.generic-content .box a {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 24px;

  @include desktop-and-tablet-only {
    &:not(a) {
      font-size: 22px;
      line-height: 28px;
    }
  }
}

a {
  text-decoration: none;
}

.generic-block {
  .box a,
  p {
    @include desktop-and-tablet-only {
      font-size: 20px;
    }
  }

  .box a {
    color: var(--neon-green);
  }
}

.text-centered {
  text-align: center;
}

.highlight {
  color: var(--neon-green);
}

.group-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  @include desktop-and-tablet-only {
    gap: 100px;
  }
}
