@import "./mixins.scss";

body {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  color: var(--white);
}

.bold {
  font-weight: 700;
}

h1,
.h1 {
  font-size: clamp(35px, 5vw, 60px);
  line-height: 100%;
  text-transform: uppercase;
}

h2,
.h2 {
  font-size: clamp(30px, 3.5vw, 50px);
  line-height: 120%;
  margin: auto;
  text-align: center;
}

h3,
.h3 {
  font-size: clamp(25px, 2.5vw, 30px);
  line-height: 120%;
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: clamp(20px, 2.5vw, 30px);
  }

}

h4,
.h4 {
  font-size: clamp(20px, 1.4vw, 35px);
  line-height: 120%;
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: clamp(15px, 1.4vw, 35px);
  }
}

p+p,
p+ul,
ul+p,
h2+p {
  margin-top: 1rem;
}

p,
a,
li {
  font-size: clamp(15px, 1vw, 20px);
  line-height: 150%;
}

a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

a:not([class]) {
  color: var(--white);
  display: block;

  &:hover {
    color: var(--magenta-800);
  }

  &:visited {
    text-decoration-color: var(--orange-100);
  }
}

strong {
  font-weight: 900;
}