@import "./mixins.scss";

body {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}
.bold {
  font-weight: 700;
}

h1,
.h1,
h2,
.h2 {
  color: var(--orange-100);
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: clamp(20px, 2.6vw, 50px);
  line-height: 156%;

  @media screen and (max-width: 60rem) {
    font-size: clamp(30px, 4.5vw, 36px);
    line-height: 42px;
  }
}

h2,
.h2 {
  font-size: clamp(14px, 1.5vw, 38px);
  @include stroke(var(--orange-100), 0.5px);

  @media screen and (max-width: 60rem) {
    font-size: clamp(24px, 3.3vw, 30px);
  }
}

h3,
.h3 {
  font-size: clamp(13px, 2.3vw, 40px);
  line-height: 150%;
  color: var(--orange-100);

  @media screen and (max-width: 60rem) {
    font-size: clamp(24px, 3.3vw, 30px);
  }
}

h4,
.h4 {
  font-size: clamp(10px, 1.825vw, 35px);

  @media screen and (max-width: 60rem) {
    font-size: clamp(20px, 3vw, 25px);
  }
}

p + p,
p + ul,
ul + p,
h2 + p {
  margin-top: 1rem;
}

p,
a,
li {
  color: var(--orange-100);
  font-size: clamp(14px, 1.5vw, 38px);
  line-height: 150%;

  @media screen and (max-width: 60rem) {
    font-size: 1rem;
    line-height: 24px;
  }
}

a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

a:not([class]) {
  display: block;
  -webkit-text-fill-color: var(--orange-100);

  &:hover {
    @include textlink-hover-animation;
  }

  &:visited {
    text-decoration-color: var(--orange-100);
  }
}

strong {
  font-weight: 900;
}
