@import "./mixins.scss";

body {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}

@mixin base-typo {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}

.bold {
  font-weight: 700;
}

h1,
.h1,
h2,
.h2 {
  @include base-typo;
  color: var(--blue);
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: clamp(20px, 2.6vw, 50px);
  line-height: 156%;
  text-shadow:
    -1px -1px 0 var(--blue),
     0 -1px 0 var(--blue),
     1px -1px 0 var(--blue),
     1px 0 0 var(--blue),
     1px 1px 0 var(--blue),
     0 1px 0 var(--blue),
    -1px 1px 0 var(--blue),
    -1px 0 0 var(--blue);


  @media screen and (max-width: 60rem) {
    font-size: clamp(30px, 4.5vw, 36px);
    line-height: 42px;
  }
}

h2,
.h2 {
  font-size: clamp(14px, 1.9vw, 38px);

  text-shadow:
    -0.5px -0.5px 0 var(--blue),
     0 -0.5px 0 var(--blue),
     0.5px -0.5px 0 var(--blue),
     0.5px 0 0 var(--blue),
     0.5px 0.5px 0 var(--blue),
     0 0.5px 0 var(--blue),
    -0.5px 0.5px 0 var(--blue),
    -0.5px 0 0 var(--blue);


  @media screen and (max-width: 60rem) {
    font-size: clamp(24px, 3.3vw, 30px);
  }
}

h3,
.h3 {
  font-size: clamp(13px, 2.3vw, 40px);

  @media screen and (max-width: 60rem) {
    font-size: clamp(24px, 3.3vw, 30px);
  }
}

h4,
.h4 {
  font-size: clamp(10px, 1.825vw, 35px);

  @media screen and (max-width: 60rem) {
    font-size: clamp(20px, 3vw, 25px);
  }
}

p + p,
p + ul,
ul + p,
h2 + p {
  margin-top: 1rem;
}

p,
a,
li {
  color: var(--blue-light);
  font-size: clamp(22px, 1.5vw, 30px);
  line-height: 150%;

  @media screen and (max-width: 60rem) {
    font-size: 1rem;
    line-height: 24px;
  }
}

a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-weight: 700;
}

@keyframes btnText {
  0% {
    background-position-x: -4rem;
  }

  100% {
    background-position: 0 0;
  }
}

a:not([class]) {
  display: block;
  /*TO DO: move <a> style to body */
  -webkit-text-fill-color: var(--blue-light);

  &:hover {
    text-decoration-color: transparent;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(
      65deg,
      var(--blue-light) 0%,
      var(--yellow) 30%,
      var(--green) 70%,
      var(--blue) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: btnText;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  &:visited {
    text-decoration-color: var(--blue-light);
  }
}

strong {
  font-weight: 900;
}
