@import "./mixins.scss";

@mixin base-typo {
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Panel Mono", monospace;
  font-weight: 500;
}

h1,
.h1 {
  @include base-typo;
  font-size: 5rem;
  line-height: 1;
}

h2, .h2, h3, .h3 {
  @include base-typo;
  color: #8DD7FF;
  
  font-feature-settings: "liga" off, "clig" off;
  text-shadow: 10px 10px 20px #2880FF;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFF;
  font-family: Strenuous;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

h4, .h4 {
  @include base-typo;
  color: #8DD7FF;
  
  font-feature-settings: "liga" off, "clig" off;
  text-shadow: 10px 10px 20px #2880FF;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFF;
  font-family: Strenuous;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

h5,
.h5 {
  @include base-typo;
  font-size: 1.5rem;
  line-height: 1.2;
}

p + p, p + ul, ul + p, h2 +p {
  margin-top: 1rem;
}

body {
  @include base-typo;
  font-size: 1.25;
  line-height: 1.5;
}

.large {
  @include base-typo;
  font-size: 1.75rem;
  line-height: 1.5;
}

.base {
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 60rem) {
  h1,
  .h1 {
    font-size: 3rem;
  }

  h2,
  .h2 {
    font-size: 2.75rem;
  }

  h3,
  .h3 {
    font-size: 2.5rem;
  }
}

p, a {
  color: #E8EAE7;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a {
  color: #8DD7FF;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
