.nav {
  z-index: 50;
  position: relative;
  background: linear-gradient(90deg, #fec976 0%, #c0cffa 47%, #c0cffa 97%);
  padding: 14px 16px;

  .skip-link {
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    opacity: 0;
    top: 0;
    left: 0;

    &:focus {
      opacity: 1;
    }
  }

  @media screen and (max-width: 60rem) {
    position: sticky; /* Change to sticky */
    top: 0; /* Stick to the top */
    z-index: 100; /* Ensure it's above other content */
  }
}

.nav__links {
  display: flex;
  flex-direction: row;
  gap: .25rem;

  @media screen and (max-width: 60rem) {
    gap: .75rem;
  }
}

.nav__links-schedule {
  @include btn__text;
} 

.nav__logo {
  .link {
    display: flex;
  }
  .logo {
    height: 20px;
    padding-bottom: 0;

    @media screen and (max-width: 60rem) {
      width: 30vw;
      padding-bottom: 0.75rem;
    }
  }
}

.nav__tito-button {
  @include btn__secondary;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 60rem) {
  .nav {
    position: sticky; /* Ensure it's sticky */
    top: 0; /* Stick to the top */
  }

  .nav__wrapper {
    flex-direction: column;
    gap: .75rem; 
  }
}