---
layout: default
title: EuroRust – October 13-14, Berlin and online
---

{% include main_header.html %}

<main>
  <section class="about">
    <h2 class="title">About EuroRust</h2>
    <p>
      EuroRust is a 2 day conference for the European Rust community. We cover
      all things Rust: from Rust patterns and idioms to systems programming and
      CLI tooling, servers WASM, and embedded systems.
    </p>
    <p class="rustfest">EuroRust is part of the RustFest family of events.</p>
    <img
      src="/assets/images/rustfest-logo.svg"
      alt="RustFest logo"
      class="rustfest-logo"
    />
  </section>

  <section class="get-involved">
    <div class="container">
      <h2 class="title">Get involved with EuroRust!</h2>
      <div class="actions">
        <a href="https://twitter.com/euro_rust" class="twitter"
          >follow us on Twitter</a
        >
        <a href="http://eepurl.com/h5i1k1" class="mailing-list"
          >sign up to the mailing list</a
        >
      </div>
    </div>
  </section>

  <section class="speak">
    <h2 class="title">Want to be a speaker?</h2>
    <p>
      We are asking the community to submit proposals for talks! Do you have
      some experience with Rust you would like to share in front of an
      international audience of enthusiasts and experts? We don’t require prior
      experience on talking on stage, just come as you are!
    </p>
    <a href="https://www.papercall.io/eurorust-2022" class="cfp"
      >Submit a talk!</a
    >
  </section>

  <section class="talks">
    <h2 class="title">The talks</h2>
    <p>
      Our speakers and schedule will be announced soon, but expect this year to
      be focused on all things Rust, covering:
    </p>
    <ul class="topics">
      <li>Rust patterns & idioms</li>
      <li>Distributed Systems</li>
      <li>WASM</li>
      <li>Servers</li>
      <li>Embedded Systems</li>
      <li>Rust case studies</li>
    </ul>
  </section>

  <section class="venue">
    <div class="location">
      <div class="hexagon">
        <img class="image hexagon" src="/assets/images/location1.jpg" />
      </div>
      <div class="location-info">
        <div class="title">
          <h3>Conference</h3>
          <h3 class="title-second-part">venue</h3>
        </div>
        <p class="description">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.905504909604!2d12.497022415802785!3d41.89488927234163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDHCsDUzJzQxLjYiTiAxMsKwMjknNTcuMiJF!5e0!3m2!1sen!2sin!4v1624437272537!5m2!1sen!2sin"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location-info">
        <div class="title">
          <h3>Conference</h3>
          <h3 class="title-second-part">dinner</h3>
        </div>
        <p class="description">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.905504909604!2d12.497022415802785!3d41.89488927234163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDHCsDUzJzQxLjYiTiAxMsKwMjknNTcuMiJF!5e0!3m2!1sen!2sin!4v1624437272537!5m2!1sen!2sin"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
      <div class="hexagon">
        <img class="image hexagon" src="/assets/images/location1.jpg" />
      </div>
    </div>
  </section>

  <section class="presented-by">
    <h2 class="title">Presented by</h2>
    <a href="https://simplabs.com"
      ><img src="/assets/images/simplabs-white.svg" alt="simplabs logo"
    /></a>
  </section>
</main>

{% include footer.html %}
