---
layout: default
title: EuroRust – October 13-14, Berlin and online
---

{% include main_header.html %}

<main>
  <section class="about">
    <h2 class="title">About EuroRust</h2>
    <p>
      EuroRust is a 2 day conference for the European Rust community. We cover
      all things Rust: from Rust patterns and idioms to systems programming and
      CLI tooling, servers WASM, and embedded systems.
    </p>
    <p class="rustfest">EuroRust is part of the RustFest family of events.</p>
    <img
      src="/assets/images/rustfest-logo.svg"
      alt="RustFest logo"
      class="rustfest-logo"
    />
  </section>

  <section class="get-involved">
    <div class="container">
      <h2 class="title">Get involved with EuroRust!</h2>
      <div class="actions">
        <a href="https://twitter.com/euro_rust" class="twitter"
          >follow us on Twitter</a
        >
        <a href="http://eepurl.com/h5i1k1" class="mailing-list"
          >sign up to the mailing list</a
        >
      </div>
    </div>
  </section>

  <section class="our-speakers">
    <h2 class="title">Our speakers</h2>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <ul class="speakers">
      <li>
        <img src="/assets/images/speakers/melanie-sumner.jpg" class="photo" />
        <p>Melanie Sumner</p>
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <img src="/assets/images/speakers/melanie-sumner.jpg" class="photo" />
        <p>Melanie Sumner</p>
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <img src="/assets/images/speakers/melanie-sumner.jpg" class="photo" />
        <p>Melanie Sumner</p>
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <img src="/assets/images/speakers/melanie-sumner.jpg" class="photo" />
        <p>Melanie Sumner</p>
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <img src="/assets/images/speakers/melanie-sumner.jpg" class="photo" />
        <p>Melanie Sumner</p>
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <img src="/assets/images/speakers/melanie-sumner.jpg" class="photo" />
        <p>Melanie Sumner</p>
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <img src="/assets/images/speakers/melanie-sumner.jpg" class="photo" />
        <p>Melanie Sumner</p>
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <img src="/assets/images/speakers/melanie-sumner.jpg" class="photo" />
        <p>Melanie Sumner</p>
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
    </ul>
  </section>
</main>

{% include footer.html %}
