---
layout: default
title: EuroRust – October 13-14, Berlin and online
---

{% include main_header.html %}

<main>
  <section class="about">
    <h2 class="title">About EuroRust</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p class="rustfest">
      EuroRust is part of the RustFest family of events.
    </p>
    <img src="/assets/images/rustfest-logo.svg" alt="RustFest logo" class="rustfest-logo">
  </section>

  <section class="speak">
    <h2 class="title">Want to be a speaker?</h2>
    <p>
      We are looking for speakers to host a panel talk. Do you have some experience with Rust you would like to share in front of an international audience of enthusiasts and experts? Submit a proposal for a talk of around 45mins and we will get back to you soon with the next steps. We don’t require prior experience on talking on stage, just come as you are!
    </p>
    <a href="https://www.papercall.io/eurorust-2022" class="cfp">Submit a talk!</a>
  </section>

  <section class="talks">
    <h2 class="title">The talks</h2>
    <p>
      Our speakers and schedule will be announced very soon, but expect this year to be focused on all-things fullstack Rust, covering:
    </p>
    <ul class="topics">
      <li>topic 1</li>
      <li>topic 2</li>
      <li>topic 3</li>
      <li>topic 4</li>
      <li>topic 5</li>
    </ul>
  </section>

<section class="get-involved">
    <h2 class="title">Get involved with EuroRust! </h2>
    <div class="actions">
      <a href="https://twitter.com/eurorust" class="twitter">follow us on Twitter</a>
      <a href="#" class="mailing-list">sign up to the mailing list</a>
    </div>
  </section>
</main>

<section class="presented-by">
    <h2 class="title">Presented by</h2>
    <img src="/assets/images/simplabs-white.svg">
  </section>
</main>

{% include footer.html %}
