<div class="activity-card">
  {% if activity.talk %}
    {% set path = "talks/" ~ activity.talk ~ ".md" %}
    {% set talk = get_page(path = path) %}
    <!-- Link goes here  -->
    <div class="activity-card__content">
      <p><strong>{{ activity.time }}</strong></p>
      <p aria-hidden="true" class="beige"><strong>{{ talk.title }}</strong></p>
      <p>
        {% if talk.extra.speakers %}
          {% for speaker in talk.extra.speakers %}
            {% set path = "speakers/" ~ speaker ~ ".md" %}
            {% set speaker = get_page(path = path) %}
            <!-- Insert link here -->
            <p class="beige">»{{speaker.extra.name}}</p>
          {% endfor %}
        {% endif %}
      </p>
    </div>
  {% elif activity.title %}
    <div class="activity-card__content">
      <p><strong>{{ activity.time }}</strong></p>
      <p class="beige">{{ activity.title }}</p>
    </div>
  {% else %}
    <p><strong>{{ activity.time }}</strong></p>
    <p>TBA</p>
  {% endif %}
  </div>
