<div class="activity-card activity-card__workshop mb-2">
  {% if activity.title %}
    {% set path = "workshops/" ~ activity.title ~ ".md" %}
    {% set event = get_page(path = path) %}
    <a class="activity-card__link" href="{{event.path}}">
    
    <div class="activity-card__content">
      {% if event.extra.heroimage %}
        <img class="activity-card__image mb-1" src="{{ event.extra.heroimage }}" alt="{{ event.extra.heroimage_alt }}" />
      {% else %}
        <img class="activity-card__image mb-1" src="/images/events/placeholder.webp" alt="" />
      {% endif %}
      <p class="activity-card__time"><strong>{{ activity.time }}</strong></p>
      <p aria-hidden="true" class="beige activity-card__title"><strong>{{ event.title }}</strong></p>
      {% if event.extra.mentors %}
        {%for mentor in event.extra.mentors %}
          <p class="beige mentor mt-3">»Led by {{ mentor.name }}</p>
        {% endfor %}
      {% endif %}
      {% if event.extra.sponsor %}
        <p class="beige sponsored-by">*Sponsored by {{ event.extra.sponsor }}</p>
      {% endif %}
      
    </div>
    </a>
  {% endif %}
  </div>
