<li class="activity-card">
  {% if activity.talk %}
    {% set path = "talks/" ~ activity.talk ~ ".md" %}
    {% set talk = get_page(path = path) %}
    <a class="activity-card__link" href="{{talk.path}}">
      <span class="visually-hidden">{{ talk.title }}</span>
    </a>
    <div class="activity-card__content">
      <p class="large">{{ activity.time }}</p>
      <p aria-hidden="true">{{ talk.title }}</p>
      <p>
        {% if talk.extra.speakers %}
          {% for speaker in talk.extra.speakers %}
            {% set path = "speakers/" ~ speaker ~ ".md" %}
            {% set speaker = get_page(path = path) %}
            <a href="{{speaker.path}}" class="speaker">{{speaker.extra.name}}</a>
          {% endfor %}
        {% endif %}
      </p>
    </div>
  {% elif activity.title %}
    <p class="large">{{ activity.time }}</p>
    <p>{{ activity.title }}</p>
  {% else %}
    <p class="large">{{ activity.time }}</p>
    <p>TBA</p>
  {% endif %}
</li>
