<div class="footer">
  <ul class="meta">
    <li>
      <p>&copy; Events Matter UG</p>
    </li>
    <li><a href="https://mainmatter.com" target="_blank" rel="noopener noreferrer">Presented by Mainmatter</a></li>
    <li><a href="/2022">2022</a></li>
  </ul>
  <hr>
  <div class="links">
    <ul class="pages">
      <li><a href="/code-of-conduct">Code of Conduct</a></li>
      <li><a href="/cancellation">Cancellation Policy</a></li>
      <li><a href="/sponsorship-prospectus.pdf">Sponsorships</a></li>
      <li><a href="/imprint">Imprint</a></li>
    </ul>
  </div>
  <ul class="social">
    <li>
      <a href="https://www.youtube.com/@eurorust" target="_blank" rel="noopener noreferrer"><img
          src="/images/icons/youtube.svg" alt="YouTube icon" /></a>
    </li>
    <li>
      <a href="https://fosstodon.org/@eurorust" target="_blank" rel="noopener noreferrer"><img
          src="/images/icons/mastodon.svg" alt="Mastodon icon" /></a>
    </li>
    <li>
      <a href="https://twitter.com/euro_rust" target="_blank" rel="noopener noreferrer"><img
          src="/images/icons/twitter-footer-white.svg" alt="Twitter icon" /></a>
    </li>
  </ul>
</div>