<footer>
	<img class="avatar" src="/images/avatar.svg" alt="EuroRust Avatar">
	<div class="meta">
		<p class="copy">&copy; 2022 Events Matter UG</p>
		<p class="presented">Presented by <a href="https://simplabs.com"><img src="/images/simplabs-white.svg"
					alt="simplabs logo"></a></p>
	</div>
	<div class="links">
		<ul class="pages">
			<li><a href="/code-of-conduct">Code of Conduct</a></li>
			<li><a href="/cancellation">Cancellation</a></li>
			<li><a href="/sponsorship-prospectus.pdf">Sponsorships</a></li>
			<li><a href="/accessibility">Accessibility</a></li>
			<li><a href="/imprint">Imprint</a></li>
		</ul>
		<ul class="social">
			<li><a href="https://twitter.com/euro_rust"><img src="/images/twitter-footer.svg" alt="Twitter icon"></a>
			</li>
		</ul>
	</div>
</footer>