<div class="footer">
  <ul class="meta">
    <li><a href="code-of-conduct">&copy; Events Matter UG</a></li>
    <li>∙</li>
    <li><a href="imprint">Presented by Mainmatter</a></li>
    <li>∙</li>
    <li><a href="2023">2023</a></li>
  </ul>
  <hr>
  <div class="links">
    <ul class="pages">
      <li><a href="code-of-conduct">Code of Conduct</a></li>
      <li>∙</li>
      <li><a href="sponsorships">Sponsorships</a></li>
      <li>∙</li>
      <li><a href="imprint">Imprint</a></li>
    </ul>
    <ul class="social">
      <li>
        <a href="https://twitter.com/euro_rust"><img src="/images/icons/twitter-footer-white.svg"
            alt="Twitter icon" /></a>
      </li>
    </ul>
  </div>
</div>