---
layout: default
title: EuroRust – October 13-14, Berlin and online

speaker_name: Melanie Sumner
company: Company
job_title: Developer Advocate
speaker_image: melanie-sumner
talk: Accessibility in Ember&#58; where we are, where we need to go, how to get involved
bio: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
twitter: msumner
web: https://msumner.com
---

{% include main_header.html %}
<main>
  <section class="speaker-profile">
    <img
      class="profile-image"
      alt="{{ page.speaker_name }} profile picture"
      src="/assets/images/speakers/{{ page.speaker_image }}.jpg"
    />
    <div class="speaker-details">
        <h2>{{ page.speaker_name }}</h2>
        <h3>
          {{ page.job_title }} at 
          <span class="speaker-section_company">{{ page.company }}</span>
        </h3>
        <p>
          {{ page.bio }}
        </p>
        <div class="talk">
          <h2>Talk</h2>
          <h3>{{ page.talk }}</h3>
          <a href="/schedule#{{ page.speaker_image }}" alt="speaker talk details">See talk details</a>
        </div>
        <h3>Social Media</h3>
        <div class="links">
          <a href="https://twitter.com/{{ page.twitter }}"><img src="/assets/images/icons/twitter.svg"></a>
          <a href="{{ page.web }}"><img src="/assets/images/icons/external-link.svg"></a>
        </div>
      </div>
    </div>
  </section>
</main>
{% include footer.html %}
