---
layout: default
title: Schedule
---

{% include main_header.html %}

<section class="schedule full-schedule">
  <div class="content">
    <h3 class="title">Schedule</h3>
    <div class="timetable">
      {% include schedule/header.html day="1" date="June, 30 - Thursday" %}
      <table class="table schedule-table">
        <thead>
          <tr>
            <th class="time">Schedule</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="timetable">
      {% include schedule/header.html day="2" date="July, 1 - Friday" %}
      <table class="table schedule-table">
        <thead>
          <tr>
            <th class="time">Schedule</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">10:00 &ndash; 10:30</h3>
                <div id="melanie-sumner" class="speaker">
                  <a href="/speakers/melanie-sumner" alt="speaker profile">
                    <img
                      class="photo"
                      src="/assets/images/speakers/melanie-sumner.jpeg"
                    />
                  </a>
                  <a
                    href="/speakers/melanie-sumner"
                    alt="speaker profile"
                    class="name"
                  >
                    Melanie Summer
                  </a>
                </div>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">
                  Accessibility in Ember: where we are, where we need to go, how
                  to get involved
                </h3>
                <p class="talk-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

{% include footer.html %}
