<footer>
  <img class="avatar" src="/2022/images/avatar.svg" alt="EuroRust Avatar" />
  <div class="meta">
    <p class="copy">&copy; 2022 Events Matter UG</p>
    <p class="presented">
      Presented by
      <a href="https://mainmatter.com/rust-consulting/?utm_source=eurorust"><img src="/2022/images/mainmatter-logo-negative.svg" alt="Mainmatter logo" /></a>
    </p>
    
  </div>
  <div class="links">
    <ul class="pages">
      <li><a href="/2022/code-of-conduct">Code of Conduct</a></li>
      <li><a href="/2022/cancellation">Cancellation</a></li>
      <li><a href="/2022/sponsorship-prospectus.pdf">Sponsorships</a></li>
      <li><a href="/2022/accessibility">Accessibility</a></li>
      <li><a href="/2022/covid-policy">Covid Policy</a></li>
      <li><a href="/2022/imprint">Imprint</a></li>
      <li><a href="/2022">2022</a></li>
      <li><a href="/2023">2023</a></li>
      <li><a href="/2024">2024</a></li>
    </ul>
    <ul class="social">
      <li>
        <a href="https://twitter.com/euro_rust"><img src="/2022/images/twitter-footer.svg" alt="Twitter icon" /></a>
      </li>
    </ul>
  </div>
</footer>