.speaker_link {
    text-decoration: none;
}

.social {
    list-style: none;
}

.speaker-info {
    margin-block-start: 5rem;
}

@media (min-width: 62em) {
    .speaker-details[class] {
        display: grid;
        padding-block: 5rem;
        grid-template-columns: 25% 1fr;
        gap: 5rem;
    }

    .speaker-info {
        margin-block-start: 0;
    }
}
