tito-button button {
  background-color: initial;
  border: initial;
  padding: initial;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  line-height: inherit;
}
