@import "./mixins.scss";

@mixin base-typo {
  font-family: "Courier Prime", "Courier New", Courier, monospace;
  font-weight: 400;
}

h1,
.h1 {
  @include base-typo;
  font-size: 5rem;
  line-height: 1;
}

h2,
.h2 {
  @include base-typo;
  font-size: 4rem;
  line-height: 1.2;
}

h3,
.h3 {
  @include base-typo;
  font-size: 3rem;
  line-height: 1.2;
}

h4,
.h4 {
  @include base-typo;
  font-size: 2rem;
  line-height: 1.2;
}

h5,
.h5 {
  @include base-typo;
  font-size: 1.5rem;
  line-height: 1.2;
}

p + p, p + ul, ul + p {
  margin-top: 1rem;
}

body {
  @include base-typo;
  font-size: 1.25;
  line-height: 1.5;
}

.large {
  @include base-typo;
  font-size: 1.75rem;
  line-height: 1.5;
}

.base {
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 60rem) {
  h1,
  .h1 {
    font-size: 3rem;
  }

  h2,
  .h2 {
    font-size: 2.75rem;
  }

  h3,
  .h3 {
    font-size: 2.5rem;
  }
}

a {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 4px;
  -webkit-text-fill-color: rgba(255, 255, 255, 1);
  color: #fff;

  &:hover {
    text-decoration-color: #fff;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(
      65deg,
      #59decb 0%,
      #3b63e7 30%,
      #de59cc 70%,
      #59decb 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: btnText;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}

.btn__secondary,
.btn__secondary button {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 4px;
  -webkit-text-fill-color: rgba(255, 255, 255, 1);

  &:hover {
    text-decoration-color: #fff;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(
      65deg,
      #59decb 0%,
      #3b63e7 30%,
      #de59cc 70%,
      #59decb 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: btnText;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}

.btn__icon,
.btn__primary--link {
  text-decoration: none;
}

.btn__icon {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 0;
}

.btn__icon::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #de59cc;
  mix-blend-mode: overlay;
  clip-path: circle();
  opacity: 0;
  transition: opacity 0.5s ease;
}

.btn__icon:hover::after {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.btn__primary--link {
  position: relative;
  border: 2px solid var(--white);
  border-image-slice: 1;
  border-image-source: linear-gradient(65deg, #fff 0%, #fff 60%, #fff 100%);
  padding: 2rem 2.5rem 1.25rem 3.25rem;
  font-weight: 700;
  cursor: pointer;

  button {
    padding: 2rem 2.5rem 1.25rem 3.25rem;
    margin: -2rem -2.5rem -1.25rem -3.25rem;
    font-weight: 700;
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 4px;
    -webkit-text-fill-color: rgba(255, 255, 255, 1);

    &:hover span {
      text-decoration-color: #fff;
      background-repeat: no-repeat;
      background: -webkit-linear-gradient(
        65deg,
        #59decb 0%,
        #3b63e7 30%,
        #de59cc 70%,
        #59decb 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation-name: btnText;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
    }
  }

  &:hover {
    animation-name: btnHover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0.75rem, 0.75rem);
    border: 2px solid var(--white);
    pointer-events: none;
  }

  &:hover::after {
    animation-name: btnHover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}

ul {
  list-style: outside;
}
