{% extends "2025/base.html" %}

{% block content %}
  <div class="schedule">
    {% include "2025/sections/nav.html" %}

    <main tabindex="-1" id="main">
      <section class="schedule-hero pb-10">
        <div class="container p-1">
          <p class="schedule-hero__details mb-7">
            »Schedule
          </p>
          <h1 class="schedule-hero__title pb-7">This is your Eurorust experience</h1>
          <div class="schedule-hero__nav schedule__day">
            <p><strong>Jump to:</strong></p>
            <ul>
              <li>
                <a href="#workshop-day">Workshop day</a>
              </li>
              <li>
                <a href="#day1">Day 1</a>
              </li>
               <li>
                <a href="#day2">Day 2</a>
              </li>
               <li>
                <a href="#post-day">Post-conference day</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      {% set schedule = load_data(path = "data/2025/workshop-day-schedule.json") %}
      {% set_global sideCount = 0 %}
      {% set_global currentRowspan = 0 %}
      {% set_global sideRow = 0 %}
      {% for day in schedule %}

      <section id="workshop-day" class="mt-6 mb-8">
        <div class="container">
          <div class="schedule__container">
            <div class="schedule__day">
              <h3>Workshop Day</h3>
              <h4 class="mt-3 mb-6">{{ day.date }}</h4>
              <div class="mobile-schedule schedule__grid day-one mb-5">
                <div class="schedule__main-stage">
                  <h4 class="schedule__track mb-4">Workshops</h4>
                  <ol class="schedule__list">
                    <li><p class="span-columns"><strong>The EuroRust workshops will take place in a separate venue, <a style="display:inline; text-shadow:none" href="https://maps.app.goo.gl/KVWt3iy6rVuuQQ3h7" target="_blank">Fiap Paris</a></strong></p></li>
                    {% for activity in day.workshop %}
                      <li>
                        {% include "2025/partials/activity-card-workshop.html" %}
                      </li>
                    {% endfor %}
                  </ol>
                </div>
                <div class="schedule__side-track">
                  <h4 class="schedule__track mb-4">Side activities</h4>
                  <ol class="schedule__list">
                    {% for activity in day.side %}
                    <li>
                      {% include "2025/partials/activity-card-side.html" %}
                    </li>
                    {% endfor %}
                  </ol>
                </div>
              </div>
              <div class="desktop-schedule">
                <table class="schedule__table">
                  <tr class="schedule__track h4">
                    <th scope="col" class="visually-hidden">Time</th>
                    <th scope="col">Workshops</th>
                    <th scope="col" class="schedule__table-side">Side activities</th>
                  </tr>
                  <tr>
                    <td scope="row" class="visually-hidden"></td>
                    <td class="venue-warning"><p class="beige"><strong>The EuroRust workshops will take place in a separate venue, <a style="display:inline; text-shadow:none" href="https://maps.app.goo.gl/KVWt3iy6rVuuQQ3h7" target="_blank">Fiap Paris</a></strong></p></td>
                    <td class="schedule-table__side"></td>
                  </tr>
                  {% set_global sideCount = 1 %}
                  {% set_global currentRowspan = 0 %}
                  {% set_global sideRow = 0 %}
                  {% for activity in day.workshop %}
                  <tr>
                    <td scope="row" class="visually-hidden">{{activity.time}}</td>
                    <td {% if activity.isBreak %}colspan="2" class="schedule{% endif %}>
                      <!-- siderow: {{ sideRow }} count: {{ sideCount }} currentRowSpan {{ currentRowspan }} -->
                      {% include "2025/partials/activity-card-workshop.html" %}
                    </td>
                      {% if currentRowspan and sideCount - sideRow < currentRowspan %}
                      {% else %}
                        {% if day.side[sideRow] %}
                          {% if day.side[sideRow].rowspan %}
                            {% set activity = day.side[sideRow] %}
                            {% set_global currentRowspan = activity.rowspan %}
                          {% else %}
                            {% set_global currentRowspan = 0 %}
                          {% endif %}
                          {% if not activity.isBreak %}
                            {% set activity = false %}
                            {% set activity = day.side[sideRow] %}
                            <td class="schedule__table-side" {% if activity.rowspan %}rowspan="{{ activity.rowspan }}"{% endif %}>
                              {% include "2025/partials/activity-card-side.html" %}
                            </td>
                          {% endif %}
                          {% set_global sideRow = sideRow + 1 %}
                        {% endif %}
                      {% endif %}
                      {% set_global sideCount = sideCount + 1 %}
                  </tr>
                  {% endfor %}
                </table>
              </div>
      </div>
    </section>
    {% endfor %}
       
      {% set schedule = load_data(path = "data/2025/schedule.json") %}
      {% set_global sideCount = 0 %}
      {% set_global currentRowspan = 0 %}
      {% set_global sideRow = 0 %}
      {% for day in schedule %}
      {% set is_day1 = loop.first %}

      <section id="day{{ day.day }}" class="mt-6 mb-9">
        <div class="container">
          <div class="schedule__container">
            <div class="schedule__day">
              <h3>Conference Day {{ day.day }}</h3>
              <h4 class="mt-3 mb-6">{{ day.date }}</h4>
              <div class="mobile-schedule schedule__grid day-one mb-5">
                <div class="schedule__main-stage">
                  <h4 class="schedule__track mb-4">Main stage</h4>
                  <ol class="schedule__list">
                    {% for activity in day.mainStage %}
                      <li>
                        {% include "2025/partials/activity-card.html" %}
                      </li>
                    {% endfor %}
                  </ol>
                </div>
                <div class="schedule__side-track">
                  <h4 class="schedule__track mb-4">Side track</h4>
                  <ol class="schedule__list">
                    {% for activity in day.side %}
                    <li>
                      {% include "2025/partials/activity-card.html" %}
                    </li>
                    {% endfor %}
                  </ol>
                </div>
                {% if day.day == "1"  %}
                  <div class="closing-part closing-party__grid schedule__shared impl-room__container pt-8">
                    <h4 class="schedule__track mb-4">impl room</h4>
                    {% include "2025/partials/impl-room.html" %}
                  </div>
                  <div class="closing-part closing-party__grid schedule__shared pt-8">
                    <h4 class="schedule__track mb-4">Workshops</h4>
                      {% set workshopType = "jetbrains-rustrover" %}
                      {% include "2025/partials/activity-card-workshop.html" %}
                      {% set workshopType = "rust-meets-solana" %}
                      {% include "2025/partials/activity-card-workshop.html" %}
                  </div>
                  <div class="closing-party closing-party__grid schedule__shared mb-9 pt-8 pb-8 border-bottom">
                    <h4 class="schedule__track mb-4 border-bottom pb-4">Side activities</h4>
                    <div class="closing-party__content">
                      <img class="image-party py-3" src="/2025/images/dinner.webp" alt="Plate of food"/>
                      <p><strong>20:00</strong></p>
                      <p class="beige"><strong>Group Dinners: Meet & Eat!</strong></p>
                      <p class="beige">We have reservations at various local restaurants in Paris. Sign up at the conference venue to join fellow Rustaceans for a dinner of your choice!</p>
                    </div>
                  </div>
                  <div class="closing-party closing-party__grid schedule__shared">
                        <a class="activity-card__link" href="/2025/activities/karaoke/">
                          <div class="closing-party__content">
                            <img class="image-party py-3" src="/2025/images/activities/karaoke.webp" alt="Retro mic"/>
                            <p><strong>20:40–22:40</strong></p>
                            <p class="beige"><strong>Karaoke Night</strong></p>
                          </div>
                        </a>
                  </div>
                {% endif %}
                {% if day.day == "2"  %}
                  <div class="closing-part closing-party__grid schedule__shared impl-room__container pt-8">
                    <h4 class="schedule__track mb-4">impl room</h4>
                    {% include "2025/partials/impl-room.html" %}
                  </div>
                  <div class="closing-part closing-party__grid schedule__shared pt-8">
                    <h4 class="schedule__track mb-4">Workshop</h4>
                    {% set workshopType = "profiling-rust-in-action" %}
                    {% include "2025/partials/activity-card-workshop.html" %}
                  </div>
                  <div class="closing-party closing-party__grid schedule__shared pt-8">
                    <h4 class="schedule__track mb-4 border-bottom pb-4">Side activity</h4>
                    <div class="closing-party__content">
                      <img class="image-party py-3" src="/2025/images/party.webp" alt="Astronaut with balloons"/>
                      <p><strong>18:30–22:00</strong></p>
                      <p class="beige"><strong>Closing Party</strong></p>
                      <p class="beige">Like every year, we'll be ending the conference with a closing party. It will be held directly at the conference venue, right after the closing talk on Friday, October 10.</p>
                    </div>
                  </div>
                {% endif %}
                </div>
              </div>
              <div class="desktop-schedule">
                <table class="schedule__table">
                  <tr class="schedule__track h4">
                    <th scope="col" class="visually-hidden">Time</th>
                    <th scope="col">Main Stage</th>
                    <th scope="col" class="schedule__table-4cols">Side Track</th>
                    <th scope="col" class="schedule__table-4cols">impl Room</th>
                    <th scope="col" class="schedule__table-4cols">Workshop{% if day.day == "1" %}s{% endif %}</th>
                  </tr>
                  {% set_global sideCount = 1 %}
                  {% set_global currentRowspan = 0 %}
                  {% set_global sideRow = 0 %}
                  {% for activity in day.mainStage %}
                  <tr>
                    <td scope="row" class="visually-hidden">{{activity.time}}</td>
                    <td {% if activity.isBreak %}colspan="4" class="schedule{% endif %}>
                      <!-- siderow: {{ sideRow }} count: {{ sideCount }} currentRowSpan {{ currentRowspan }} -->
                      {% include "2025/partials/activity-card.html" %}
                    </td>
                      {% if currentRowspan and sideCount - sideRow < currentRowspan %}
                      
                      {% else %}
                        {% if day.side[sideRow] %}
                          {% if day.side[sideRow].rowspan %}
                            {% set activity = day.side[sideRow] %}
                            {% set_global currentRowspan = activity.rowspan %}
                          {% else %}
                            {% set_global currentRowspan = 0 %}
                          {% endif %}
                          {% if not activity.isBreak %}
                            {% set activity = false %}
                            {% set activity = day.side[sideRow] %}
                            <td class="schedule__table-4cols" {% if activity.rowspan %}rowspan="{{ activity.rowspan }}"{% endif %}>
                              {% include "2025/partials/activity-card.html" %}
                            </td>
                          {% endif %}
                        {% endif %}
                        <!-- impl room sticky cell -->
                        {% set_global rowSpan = 0 %}
                        {% if sideRow == 2 or sideRow == 9 %}
                          {% set_global rowSpan = 2%}
                        {% elif sideRow == 5 %}
                          {% set_global rowSpan = 3 %}
                        {% endif %}

                        {% if sideRow == 2 or sideRow == 5 or sideRow == 9 %}
                            <td rowspan="{{ rowSpan }}" class="schedule__table-4cols sticky">
                              {% include "2025/partials/impl-room.html" %}
                            </td>
                        {% endif %}
                        <!-- end of impl room -->
                        <!-- workshop cell -->
                        {% if sideRow == 2 %}
                          {% set_global rowSpan = 2 %}
                        {% elif sideRow == 5 %}
                          {% set_global rowSpan = 3 %}
                        {% endif %}

                        {% if sideRow == 2 or sideRow == 5%}
                          <td rowspan="{{ rowSpan }}" class="schedule__table-4cols sticky">
                            {% if day.day == "1" %}
                               <div class="two-sticky-activity-cards">
                                {% set workshopType = "jetbrains-rustrover" %}
                                {% include "2025/partials/activity-card-workshop.html" %}
                                {% set workshopType = "rust-meets-solana" %}
                                {% if sideRow == 2 %}
                                  {% set timeSolana ="11:00–12:00" %}
                                {% else %}
                                  {% set timeSolana ="14:00–15:00" %}
                                {% endif %}
                                {% include "2025/partials/activity-card-workshop.html" %}
                               </div>
                            {% elif day.day == "2" %}
                              {% set workshopType = "profiling-rust-in-action" %}
                              {% include "2025/partials/activity-card-workshop.html" %}
                            {% endif %}
                          </td>
                        {% endif%}

                        {% if sideRow == 9 %}
                          <td rowspan="{{ rowSpan }}" class="schedule__table-4cols sticky">
                            {% if day.day == "1" %}
                              {% set workshopType = "rust-meets-solana" %}
                              {% include "2025/partials/activity-card-workshop.html" %}
                            {% elif day.day == "2" %}
                              {% set workshopType = "profiling-rust-in-action" %}
                              {% include "2025/partials/activity-card-workshop.html" %}
                            {% endif %}
                          </td>
                        {% endif%}
                        
                        {% set_global sideRow = sideRow + 1 %}
                      {% endif %}
                      {% set_global sideCount = sideCount + 1 %}
                  </tr>
                  {% endfor %}
                  {% if day.day == "1"  %}
                  <tr>
                    <td class="visually-hidden">18:00</td>
                    <td colspan="4">
                      <div class="closing-party closing-party__grid schedule__shared">
                        <div class="closing-party__content">
                          <img class="image-party py-3" src="/2025/images/dinner.webp" alt="Plate of food"/>
                          <p><strong>20:00</strong></p>
                          <p class="beige"><strong>Group Dinners: Meet & Eat!</strong></p>
                          <p class="beige">We have reservations at various local restaurants in Paris. Sign up at the conference venue to join fellow Rustaceans for a dinner of your choice!</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="visually-hidden">20:40–22:40</td>
                    <td colspan="4">
                      <div class="closing-party closing-party__grid schedule__shared">
                        <a class="activity-card__link" href="/activities/karaoke/">
                          <div class="closing-party__content">
                            <img class="image-party py-3" src="/2025/images/activities/karaoke.webp" alt="Retro mic"/>
                            <p><strong>20:40–22:40</strong></p>
                            <p class="beige"><strong>Karaoke Night</strong></p>
                          </div>
                        </a>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                  {% if day.day == "2"  %}
                  <tr>
                    <td class="visually-hidden">18:30-22:00</td>
                    <td colspan="4">
                      <div class="closing-party closing-party__grid schedule__shared">
                        <div class="closing-party__content">
                          <img class="image-party py-3" src="/2025/images/party.webp" alt="Astronaut with balloons"/>
                          <p><strong>18:30–22:00</strong></p>
                          <p class="beige"><strong>Closing Party</strong></p>
                          <p class="beige">Like every year, we'll be ending the conference with a closing party. It will be held directly at the conference venue, right after the closing talk on Friday, October 10.</p>
                        </div>
                      </div>
                    </td>
                  </tr>
            {% endif %}
                </table>
              </div>
      </div>
    </section>
    {% endfor %}

    {% set schedule = load_data(path = "data/2025/post-conference-day-schedule.json") %}
      {% set_global sideCount = 0 %}
      {% set_global currentRowspan = 0 %}
      {% set_global sideRow = 0 %}
      {% for day in schedule %}

      <section id="post-day" class="mt-6 mb-9">
        <div class="container">
          <div class="schedule__container">
            <div class="schedule__day">
              <h3>Post-Conference Day</h3>
              <h4 class="mt-3 mb-6 schedule__track pb-3">{{ day.date }}</h4>
              <div class="schedule__grid mb-5">
                <div class="schedule__main-stage">
                  <ol class="schedule__list">
                    {% for activity in day.side %}
                      <li>
                        {% include "2025/partials/activity-card-side.html" %}
                      </li>
                    {% endfor %}
                  </ol>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
    {% endfor %}

  {% include "2025/sections/footer.html" %}
  </div>
  {% endblock content %}
