<section class="venue">
	<h3>conference venue</h3>
	<div class="image-venue-container">
		<picture>
			<source srcset="/2023/images/venue/mobile/venue.webp" media="(max-width: 640px)" />
			<img class="image-venue" src="/2023/images/venue/venue.webp" alt="venue picture" />
		</picture>
	</div>

	<p>EuroRust will take place in Brussels, in the Docks Dome. The venue is located at Boulevard Lambermont 1, 1000 Brussels. We'll have a spacious main hall, a lounge and sponsors area as well as a lobby for the hallway track.</p>
	<a class="map-link" href="https://goo.gl/maps/h8Kmv5Bi356mUMnc6" alt="Google Maps for conference venue address"
		target="_blank" rel="noopener noreferrer">Check on Map</a>
</section>