<div class="activity-card activity-card__workshop">
  {% if activity.title %}
    {% set path = "2025/activities/" ~ activity.title ~ ".md" %}
    {% set event = get_page(path = path) %}
    <a class="activity-card__link" href="{{event.path}}">
    
    <div class="activity-card__content">
      {% if event.extra.heroimage %}
        <img class="activity-card__image mb-3" src="{{ event.extra.heroimage }}" alt="{{ event.extra.heroimage_alt }}" />
      {% else %}
        <img class="activity-card__image mb-3" src="/2025/images/events/placeholder.webp" alt="" />
      {% endif %}
      <p class="activity-card__time"><strong>{{ activity.time }}</strong></p>
      <p aria-hidden="true" class="beige activity-card__title"><strong>{{ event.title }}</strong></p>
    </div>
    </a>
  {% endif %}
  </div>
