<div class="footer">
  <ul class="meta">
    <li>
      <p>&copy; Events Matter UG</p>
    </li>
    <li>
      <a
        href="https://mainmatter.com/rust-consulting/?utm_source=eurorust"
        target="_blank"
        rel="noopener noreferrer">Presented by Mainmatter</a>
    </li>
    <li>
      <a href="/2022">2022</a>
    </li>
    <li>
      <a href="/2023">2023</a>
    </li>
    <li>
      <a href="/2024">2024</a>
    </li>
    <li>
      <a href="/">2025</a>
    </li>
  </ul>
  <hr>
  <div class="links">
    <ul class="pages">
      <li>
        <a href="/2024/sponsorship-prospectus.pdf">Sponsorships</a>
      </li>
      <li>
        <a href="/2024/code-of-conduct">Code of Conduct</a>
      </li>
      <li>
        <a href="/2024/imprint">Imprint</a>
      </li>
    </ul>
  </div>
  <ul class="social">
    <li>
      <a
        href="https://www.youtube.com/@eurorust"
        target="_blank"
        rel="noopener noreferrer"><img src="/2024/images/icons/youtube.svg" alt="YouTube icon" /></a>
    </li>
    <li>
      <a
        href="https://fosstodon.org/@eurorust"
        target="_blank"
        rel="noopener noreferrer"><img src="/2024/images/icons/mastodon.svg" alt="Mastodon icon" /></a>
    </li>
    <li>
      <a
        href="https://twitter.com/euro_rust"
        target="_blank"
        rel="noopener noreferrer"><img src="/2024/images/icons/twitter-footer-white.svg" alt="Twitter icon" /></a>
    </li>
  </ul>
</div>