<section class="workshop-venue">
  <h3><a name="workshop-venue">Workshops Venue</a></h3>
  <div class="image-venue-container">
    <picture>
      <source srcset="/2024/images/workshop-venue/mobile/comet-louise.webp" media="(max-width: 640px)" />
      <img class="image-venue" src="/2024/images/workshop-venue/comet-louise.webp" alt="workshop venue picture" />
    </picture>
  </div>

  <p>The EuroRust workshops will take place in the Comet Louise coworking space in the city center of Brussels. The venue is located at Pl. Stéphanie 20, 1050 Brussels.</p>
  <a class="map-link" href="https://goo.gl/maps/vZEUrH9EMzHDSW256" alt="Google Maps for workshop venue address"
    target="_blank" rel="noopener noreferrer">Check on Map</a>
</section>