<h2 class="title">Our speakers</h2>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <ul class="speakers">
      <li>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          ><img src="/assets/images/speakers/melanie-sumner.jpg" class="photo"
        /></a>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          >Melanie Sumner</a
        >
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          ><img src="/assets/images/speakers/melanie-sumner.jpg" class="photo"
        /></a>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          >Melanie Sumner</a
        >
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          ><img src="/assets/images/speakers/melanie-sumner.jpg" class="photo"
        /></a>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          >Melanie Sumner</a
        >
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          ><img src="/assets/images/speakers/melanie-sumner.jpg" class="photo"
        /></a>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          >Melanie Sumner</a
        >
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          ><img src="/assets/images/speakers/melanie-sumner.jpg" class="photo"
        /></a>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          >Melanie Sumner</a
        >
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          ><img src="/assets/images/speakers/melanie-sumner.jpg" class="photo"
        /></a>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          >Melanie Sumner</a
        >
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          ><img src="/assets/images/speakers/melanie-sumner.jpg" class="photo"
        /></a>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          >Melanie Sumner</a
        >
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
      <li>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          ><img src="/assets/images/speakers/melanie-sumner.jpg" class="photo"
        /></a>
        <a href="/speakers/melanie-sumner" alt="melanie sumner profile"
          >Melanie Sumner</a
        >
        <div class="links">
          <a href="https://twitter.com/melaniersumner"
            ><img src="/assets/images/icons/twitter.svg"
          /></a>
          <a href="https://www.linkedin.com/in/melaniesumner"
            ><img src="/assets/images/icons/external-link.svg"
          /></a>
        </div>
      </li>
    </ul>