@font-face {
  font-family: 'Prototype';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/prototype.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/roboto.woff) format('woff');
}

