.about {
  background-color: var(--blue-300);
  @include background__noise;
  
  @media screen and (max-width: 60rem) {
    padding: 4rem 0;
    margin: 0;
  }

  .separator__top,
  .separator__bottom {
    background: var(--blue-300);
  }

  .about__grid {
    background-color: var(--pink-300);
    background-image: url('/images/backgrounds/eurorust.svg');
    background-repeat: repeat;
    margin: -17rem auto;
    padding: 17rem 0;
  }

  .about__grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: none;
    width: clamp(600px, 45vw, 1600px);
    margin: 0 auto;
    background: var(--pink-300);
    border: 1.5px solid var(--blue-400);
    border-radius: var(--corner);

    @media screen and (max-width: 60rem) {
      grid-template-columns: none;
      grid-template-rows: auto;
      gap: 3rem;
      padding: 2rem;
      width: 70vw;
    }
  }

  .about__grid-list {
    display: grid;
    text-align: right;
    border-right: 1.5px solid var(--blue-400);
    grid-template-columns: 31% 1fr;
    grid-template-rows: repeat(6, 1fr);

    @media screen and (max-width: 60rem) {
      text-align: center;
    }

    .about__grid-list__line {
      color: var(--blue-400);
      padding: 1rem 3.125rem;
      border-bottom: 1.5px solid var(--blue-400);

      @media screen and (max-width: 60rem) {
        padding: 0.25rem 0;
      }

      &.line-1 {
        grid-row: 1/2;
        grid-column: 1/3;
      }

      &.line-2 {        
        grid-row: 2/3;
        grid-column: 1/3;
      }

      &.line-3 {
        grid-row: 3/4;
        grid-column: 1/3;
      }

      &.line-4 {
        grid-row: 4/5;
        grid-column: 1/3;
      }

      &.line-5 {
        grid-row: 5/7;
        grid-column: 1/2;
        border-bottom: none;
        border-right: 1.5px solid var(--blue-400);
        background-image: url('images/cursor.png');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center center; 
      }

      &.line-6 {
        grid-row: 5/6;
        grid-column: 2/3;
      }

      &.line-7 {        
        grid-row: 6/7;
        grid-column: 2/3;
        border-bottom: none;
      }
    }
  }

  .about__grid-image {
    display: grid;
    padding: 1rem;
    border-top-right-radius: var(--corner);
    border-bottom-right-radius: var(--corner);
    background-image: 
      url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect opacity="1" x="0.5" y="0.5" width="24" height="24" stroke="%2384B9CF"/></svg>');
  }

  .about__grid-image__content {
    justify-self: center;
    align-self: center;
    background-color: var(--pink-400);
    border-radius: var(--corner);
    border: 1.5px solid var(--blue-400);

    @media screen and (max-width: 60rem) {
      margin: 0 auto;
      max-width: 300px;
    }

    img {
      width: 14vw;
      max-width: 250px;
      padding: 1rem;
    }
  }

  h1 {
    text-align: center;
    margin-top: -2rem;
    padding-bottom: 2rem;
    color: var(--blue-300);
    @include stroke(var(--blue-300), 0.5px);

    @media screen and (max-width: 60rem) {
      padding-top: 8rem;
    }
  }
}
