.about {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 100px 160px;
  box-sizing: border-box;
  @include max-width($max-width);

  .container-ab {
    flex: 1;
    border-radius: 30px;
    background-color: var(--dark-purple);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 80px;
    box-sizing: border-box;
    gap: 29px;
    max-width: 1400px;
    z-index: 0;
    flex-shrink: 0;
  }

  .topic-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 40px;
    z-index: 1;
  }

  .background {
    overflow: hidden;
    background-image: url(images/fdiaz/rust4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30px;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    z-index: 2;
    flex-shrink: 0;
    font-size: 30px;
    color: #fff;
  }

  .event-topic {
    border-radius: 19px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    gap: 20px;
  }

  .square-bullet {
    height: 26.7px;
    width: 32px;
    display: flex;
    align-items: center;
    position: relative;
    isolation: isolate;
    gap: 7.6px;

  }

  .square-bullet-child {
    height: 19.8px;
    width: 19.8px;
    position: absolute;
    margin: 0 !important;
    top: -1.61px;
    left: 12.69px;
    background-color: #600a7f;
    transform: rotate(36.8deg);
    transform-origin: 0 0;
    z-index: 0;
    flex-shrink: 0;
  }

  .square-bullet-item {
    height: 19.8px;
    width: 19.8px;
    position: absolute;
    margin: 0 !important;
    top: 0.94px;
    left: 15.23px;
    background: linear-gradient(180deg, #a509ba, #5c0b80);
    transform: rotate(45deg);
    transform-origin: 0 0;
    z-index: 1;
    flex-shrink: 0;
  }

  h3 {
    position: relative;
    font-weight: 500;
    line-height: 110%;
  }

  .logo-wrapper {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    z-index: 0;
  }

  .rust-logo-icon {
    width: 100%;
    height: fit-content;
  }

  .code-blocks-icon {
    width: 232.3px;
    position: absolute;
    margin: 0 !important;
    top: 18px;
    right: 121.7px;
    max-height: 100%;
    z-index: 1;
    flex-shrink: 0;
  }

  @media screen and (max-width: $breakpoint-tablet) {

    padding: 100px 30px;

    .container-ab {
      flex-direction: column;
      padding: 40px;
    }

    .code-blocks-icon {
      right: 0;
      top: 0;
      width: 150px;
    }

    .rust-logo-icon {
      max-width: 50%;
    }

    .event-topic {
      padding: 15px 15px;
    }
  }
}