.about {
  background-color: var(--blue-300);
  position: relative;
  z-index: 2;
  @include background__noise;

  @media screen and (max-width: 60rem) {
    padding: 4rem 0;
    margin: 0;
  }

  p + p {
    margin-top: 0;
  }

  .separator__top,
  .separator__bottom {
    background: var(--blue-300);
  }

  .about__grid {
    @include background-pink;
  }

  .about__grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: none;
    width: 60vw;
    max-width: 55rem;
    margin: 0 auto;
    background: var(--pink-300);
    border: 1.5px solid var(--blue-400);
    border-radius: var(--corner);

    @media screen and (max-width: 60rem) {
      grid-template-columns: none;
      grid-template-rows: auto;
      width: 70vw;
    }

    @media screen and (max-width: 32rem) {
      width: 90vw;
    }
  }

  .about__grid-list {
    display: grid;
    text-align: right;
    border-right: 1.5px solid var(--blue-400);
    grid-template-columns: 40% 1fr;
    grid-template-rows: repeat(6, 1fr);

    @media screen and (max-width: 60rem) {
      border-right: none;
      text-align: center;
      border-bottom: 1.5px solid var(--blue-400);
    }

    .about__grid-list__line {
      color: var(--blue-400);
      padding: 1rem 3.125rem;
      border-bottom: 1.5px solid var(--blue-400);

      @media screen and (max-width: 60rem) {
        padding: 1rem 0;
      }

      &.line-1 {
        grid-row: 1/2;
        grid-column: 1/3;
      }

      &.line-2 {
        grid-row: 2/3;
        grid-column: 1/3;
      }

      &.line-3 {
        grid-row: 3/4;
        grid-column: 1/3;
      }

      &.line-4 {
        grid-row: 4/5;
        grid-column: 1/3;
      }

      &.line-5 {
        grid-row: 5/7;
        grid-column: 1/2;
        border-bottom: none;
        border-right: 1.5px solid var(--blue-400);
        background-image: url("images/cursor.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center center;

        @media screen and (max-width: 60rem) {
          background-size: contain;
        }
      }

      &.line-6 {
        grid-row: 5/6;
        grid-column: 2/3;
      }

      &.line-7 {
        grid-row: 6/7;
        grid-column: 2/3;
        border-bottom: none;
      }
    }
  }

  .about__grid-image {
    display: grid;
    padding: 1rem;
    border-radius: 0 var(--corner) var(--corner) 0;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect opacity="1" x="0.5" y="0.5" width="24" height="24" stroke="%2384B9CF"/></svg>');

    @media screen and (max-width: 60rem) {
      border-radius: 0 0 var(--corner) var(--corner);
    }
  }

  .about__grid-image__content {
    justify-self: center;
    align-self: center;
    background-color: var(--pink-400);
    border-radius: var(--corner);
    border: 1.5px solid var(--blue-400);

    @media screen and (max-width: 60rem) {
      margin: 0 auto;
    }

    img {
      width: clamp(200px, 20vw, 300px);
      padding: 1rem;
    }
  }

  h1 {
    text-align: center;
    margin-top: -2rem;
    padding-bottom: 2rem;
    color: var(--blue-300);
    @include stroke(var(--blue-300), 0.5px);

    @media screen and (max-width: 60rem) {
      margin-top: -18vw;
    }
  }
}
