.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 24px;
  overflow: hidden;

  .frame-parent {
    align-self: stretch;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    gap: 43px;
    flex-shrink: 0;
  }

  .bug-report-icon {
    width: 312px;
    height: 274px;
    position: relative;
    flex-shrink: 0;
  }

  .footer-child {
    width: 100%;
    height: 202px;
    object-fit: cover;
    flex-shrink: 0;
  }


  p {
    font-weight: 900;
    text-align: center;
    color: var(--magenta-800);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;

    li {
      margin: 0px 20px;

      a {
        font-size: clamp(20px, 1.5vw, 40px);
      }
    }
  }
}

.pre-footer {
  margin: auto;
  width: 100%;
  text-align: center;
  overflow: hidden;

  img {
    width: 300px;
  }
}