footer {
  background: linear-gradient(to bottom, #0E1025, #0E1024) no-repeat 0 3rem;
  padding-bottom: 2rem;

  .footer__meta-links, .footer__meta-pages, .footer__meta-social {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
  }

  .footer__meta-links {
    margin-top: -3rem;
  }

  a {
    display: block;
  }
}
