.pre-footer {
  .footer__image {
      margin: 4rem auto 7rem auto;
      transform: scale(-1, 1);
      bottom: max(15rem, 10vw);
      width: 20vw;
      display: block;
    }

  .separator__bottom {
    background-color: var(--blue-700);
    background-image: none;
  }
}
  
.footer {
  background-color: var(--blue-700);
  margin-top: -1px;

  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 1rem; 

    @media screen and (max-width: 60rem) {
      margin: 0 5%;
    }
  }

  .footer__link {
    color: var(--blue-100);
  }

  .footer__meta-links,
  .footer__meta-pages,
  .footer__meta-social {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .footer__meta-links,
  .footer__meta-pages {
    @media screen and (max-width: 60rem) {
      flex-direction: column;
    }
  }

  .footer__meta-social {
    @media screen and (max-width: 60rem) {
      gap: 1rem;
      justify-content: left;
    }
  }

  .footer__meta-links {
    margin-bottom: 2rem;
    padding-bottom: 0;
    padding-top: 4rem;

    @media screen and (max-width: 60rem) {
      margin-top: 2rem;
      padding-bottom: 2rem;
      margin-bottom: 0;
      border-bottom: solid 1px var(--blue-100);
    }
  }

  .footer__meta-rust {
    color: var(--orange-100);
    text-align: center;
    padding: 2rem 0 4rem 0;
    margin-top: 2rem;
    background-image: 
    url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect opacity="0.2" x="0.5" y="0.5" width="24" height="24" stroke="%23FFF9E1"/></svg>');

    @media screen and (max-width: 60rem) {
      text-align: left;
    }
  }

  .btn__icon {
    background-color: var(--blue-100);
  }
}


