main.generic-block {
  background-color: var(-blue-300);
}

.generic-content {
  width: 75vw;
  margin: 0 auto;

  a {
    display: inline;
  }

  .generic-list {
    list-style: square;

    li {
      font-size: clamp(14px, 1.5vw, 38px);

      @media (max-width: 60rem) {
        font-size: 1rem;
      }
    }
  }
  h1,
  h2,
  h3,
  h4,
  .h1,
  .h2,
  .h3,
  .h4 {
    color: var(--orange-100);
  }

  h1,
  h2,
  h3,
  .h1,
  .h2,
  .h3 {
    text-shadow: 0 0 20px var(--blue-800);
  }
}
