.get-ticket {
  padding: 200px 0px;
  background-image: url(/images/fdiaz/rust2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include max-width($max-width);
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: relative;

  .button {
    position: relative;
    width: 350px;
    z-index: 2;
  }
}

.ticket-icon {
  display: flex;
  width: 255px;
  filter: drop-shadow(0px 4px 27.4px rgba(0, 0, 0, 0.25));
  max-height: 100%;
  position: absolute;
  z-index: 1;
  bottom: 190px;
}