.hero {
  min-height: 100vh;
  background: url(/images/sparkle.png), url(/images/sparkle.png), url(/images/planet.png);
  background-size: 4rem, 4rem, 4rem;
  background-position: 0 50vh, 75vw 0, right 6rem;
  background-repeat: no-repeat;
}
.canvas__hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  outline: none;
  z-index: 1;
  margin-left: auto; 
  margin-right: auto;
  width: 1440px;
}
.hero__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 4rem 2rem;;
  width: 85%;
  max-width:1600px;
  margin: 0 auto;

  @media screen and (max-width:960px) {
    padding-bottom: 2rem;
  }
}

.hero__grid-meta {
  padding-top: .75rem;
  width:35vw;

  .hero__grid-meta-info {
    color: var(--beige);
    letter-spacing: 1px;
    line-height: 140%;
    margin-bottom: 2rem;
    padding-left:20px;
  }

  .hero__grid-canvas {
    max-width: 200px !important; //tmp: fix this properly later
  }

  .hero__grid-logo-wrapper img {
    max-width: 100%;
  }
}

.hero__grid-content {
  z-index:2;
  width:40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4vw;
  @include dashed-border-with-corners;

  .hero__grid-content-ticket-button {
    margin-top: 1rem;
    @include btn__primary;
  }
}
