.hero {
	background-image: url(/images/fdiaz/rust1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 10%;
	scroll-margin-top: 150px;
	@include max-width($max-width);

	.block {
		flex: 0 0 50%;

		&.bg-filled {
			border-radius: 20px;
			background-color: #200e46;
			padding: 90px 60px;
		}
	}

	.pill {
		margin: 0 !important;
		position: absolute;
		top: 22px;
		left: calc(50% - 141px);
		border-radius: 30px;
		background-color: var(--cyan-800);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 20px;
		z-index: 2;
	}

	.frame-icon {
		height: 18px;
		width: 122px;
		position: relative;
	}

	.ferrisdesktop-icon,
	.hero__canvas {
		align-self: stretch;
		position: relative;
		max-width: 500px;
		overflow: visible;
		object-fit: cover;
		z-index: 1;

		canvas {
			width: 100%;
			height: auto;
		}
	}

	.logoherodesktop-parent {
		align-self: stretch;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		z-index: 0;
		margin-top: -80px;
		position: relative;
		text-align: center;
		font-size: 32px;
	}

	.logoherodesktop-icon {
		align-self: stretch;
		position: relative;
		max-width: 100%;
		overflow: hidden;
		max-height: 100%;
	}

	@media screen and (max-width: $breakpoint-tablet) {
		.block {
			flex: 0 0 100%;
			gap: 30px;

			&.bg-filled {
				padding: 40px;
			}

			.ferrisdesktop-icon {
				max-width: 100%;
			}

			.ferrisdesktop-icon,
			.hero__canvas {
				canvas {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}