.hero {
  padding: 1rem 2rem;
  background:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==),
    linear-gradient(var(--blue-500), var(--blue-050), var(--blue-300));
  background-blend-mode: overlay;

  @media screen and (max-width: 60rem) {
    min-height: auto;
  }

  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }

  .hero__grid {
    display: grid;
    grid-template:
      "meta content" auto
      / auto max(45%, 26rem);

    gap: 5rem;
    width: min(85%, 100rem);
    margin: 0 auto;

    @media screen and (max-width: 60rem) {
      grid-template:
        "meta" auto
        "content" auto
        / 1fr;
      padding-bottom: 2rem;
      gap: 1rem;
      width: 100%;
    }
  }

  .hero__logo {
    margin-bottom: -30%;
  }

  .hero__canvas {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;

    canvas {
      width: 100%;
      height: 100%;
    }
  }

  .hero__grid-meta {
    z-index: 2;
    grid-area: meta;
    padding-top: 0.75rem;
    margin: 0 auto;

    @media screen and (max-width: 60rem) {
      width: 80vw;
    }

    &::before {
      content: "";
      background-image: url("/images/backgrounds/bubble2.webp");
      position: absolute;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      width: 9.5vw;
      height: 7.1vw;
      top: 20rem;
      left: 0;
      animation: bubbles 3s infinite ease-in-out;

      @media screen and (max-width: 60rem) {
        left: 74vw;
        width: 19vw;
        height: 14.2vw;
      }
    }

    .hero__grid-meta-info {
      color: var(--orange-100);
      line-height: 140%;
      margin-bottom: -1rem;
      text-align: center;
      text-shadow: 0px 5px 10px var(--blue-800);
      font-size: clamp(20px, 1.725vw, 44px);

      @media screen and (max-width: 60rem) {
        text-align: center;
        padding-left: 0;
      }

      span {
        color: var(--pink-400);
      }
    }

    .hero__grid-logo-wrapper img {
      max-width: 100%;
    }
  }

  .hero__grid-content {
    grid-area: content;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 4vw;
    background: rgba(28, 117, 196, 0.65);
    border-radius: var(--corner);
    box-shadow: inset 0 5px 5px var(--blue-200);

    @media screen and (max-width: 60rem) {
      padding: clamp(1.5rem, 8vw, 3rem);
    }

    &::before {
      content: "";
      background-image: url("/images/backgrounds/bubble1.webp");
      position: relative;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      width: 8vw;
      height: 8.2vw;
      margin-bottom: -8.2vw;
      top: 90%;
      left: -65%;
      animation: bubbles 3s infinite ease-in-out;
      animation-delay: 1s;

      @media screen and (max-width: 60rem) {
        width: 16vw;
        height: 16.4vw;
        margin-bottom: -16.4vw;
        top: -5vw;
        left: -58%;
      }
    }

    &::after {
      content: "";
      background-image: url("/images/backgrounds/bubble3.webp");
      position: relative;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      width: 5.78vw;
      height: 6.05vw;
      margin-bottom: -6.05vw;
      bottom: 90%;
      right: -65%;
      animation: bubbles 3s infinite ease-in-out;
      animation-delay: 2.5s;

      @media screen and (max-width: 60rem) {
        width: 11.56vw;
        height: 12.1vw;
        margin-bottom: -12.1vw;
        top: 1rem;
        right: 0;
      }
    }

    .hero__grid-content-header {
      @include stroke__shadow(var(--orange-100), 0.5px);

      @media screen and (max-width: 60rem) {
        text-align: center;
      }
    }

    .hero__grid-content-about {
      @media screen and (max-width: 60rem) {
        text-align: center;
      }
    }
    .hero__grid-button {
      &:first-child {
        @include btn__primary-purple;
        text-align: center;
      }

      &:nth-child(2) {
        @include btn__primary-pink;
      }

      &:nth-child(3) {
        @include btn__primary-orange;
      }
    }
  }

  .hero__grid-buttons {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0 auto;
    gap: 1.25rem;
  }
}
