.hero {
  padding: 4rem 2rem;
  background: url(/images/sparkle.png), url(/images/sparkle.png), url(/images/planet.webp);
  background-size: 4rem, 4rem, 4rem;
  background-position:
    0 50vh,
    75vw 0,
    right 6rem;
  background-repeat: no-repeat;

  @media screen and (max-width: 60rem) {
    min-height: auto;
  }
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero__grid {
  display: grid;
  grid-template:
    'meta content' auto
    / auto max(50%, 26rem);

  gap: 5rem;
  width: min(85%, 100rem);
  margin: 0 auto;

  @media screen and (max-width: 60rem) {
    grid-template:
      'meta' auto
      'content' auto
      / 1fr;
    padding-bottom: 2rem;
    gap: 1rem;
    width: 100%;
  }
}

.hero__logo {
  margin-bottom: -30%;
}

.hero__canvas {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;

  canvas {
    width: 100%;
    height: 100%;
  }
}

.hero__grid-meta {
  grid-area: meta;
  padding-top: 0.75rem;
  width: 35vw;
  margin: 0 auto;

  @media screen and (max-width: 60rem) {
    width: 80vw;
  }

  .hero__grid-meta-info {
    color: var(--beige);
    letter-spacing: 1px;
    line-height: 140%;
    margin-bottom: 2rem;
    padding-left: 20px;
    text-align: left;

    @media screen and (max-width: 60rem) {
      text-align: center;
      padding-left: 0;
    }
  }

  .hero__grid-logo-wrapper img {
    max-width: 100%;
  }
}

.hero__grid-content {
  grid-area: content;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 4vw;

  .hero__grid-content-ticket-button {
    @include btn__primary;
    text-align: center;
  }

  .hero__grid-content-schedule-button {
    @include btn__secondary-large;
  }
}

.hero__grid-buttons {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  gap: 1.5rem;
}
