#hero {
  min-height: 100%;
}

.hero__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding-top: 10rem;
  align-items: center;
  padding-bottom: 15rem;
}

.hero__wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__wrapper-graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__wrapper-meta {
  position: absolute;
  top: 10rem;
  left: 5%;
}

.canvas__hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  outline: none;
  z-index: -1;
  margin-left: auto; 
  margin-right: auto;
  width: 1440px;
}

.logo-wrapper {
  max-width: 400px;
  max-height: 400px;
  position: relative;

  .logo {
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-burn;
    transform: translate3d(0,0,0);
  }

  .logo-white {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
}

@media (max-width: 60rem) {
  .hero__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .hero__wrapper-meta {
    position: static;
    margin-bottom: 2rem;
  }

  .canvas__hero {
    display: none;
  }

  .logo-wrapper {
    .logo {
      mix-blend-mode: normal;
    }
  }
}
