.btn__icon {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 0;
  scale: 1;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:active {
    scale: 1.15;
    transition: all 0.2s ease-in-out;
  }
}
