nav {
  z-index: 50;
  position: sticky;
  top:0;
  left:0;
  padding: 14px 16px;
  background-color: var(--blue-500);

  &.sticking {
    background:red
  }


  .skip-link {
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    opacity: 0;
    top: 0;
    left: 0;

    &:focus {
      opacity: 1;
    }
  }
}

.nav__links {
  display: flex;
  flex-direction: row;
  gap: .25rem;

  @media screen and (max-width: 60rem) {
    gap: .75rem;
  }
}

.nav__links-mm {
  @include btn__text;

  span {
    border-bottom: 2px solid var(--pink-300);
  }

  img {
    height: clamp(11px, 1.5vw, 30px);
  }
} 

.nav__logo {
  .link {
    display: flex;
    text-decoration: none;

    h1 {
      color: var(--orange-100);
      @include dark-blue-shadow;
      }
  }
}

.nav__tito-button {
  @include btn__secondary;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 114rem;
  margin: 2rem auto;
  background: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect opacity="0.2" x="0.5" y="0.5" width="24" height="24" stroke="%23FFF9E1"/></svg>');
  padding: 1.5rem 4.2rem;
  border-radius: 25px; 
  border: 1px solid var(--orange-100)
}

@media screen and (max-width: 60rem) {
  .nav {
    position: static;
  }

  .nav__wrapper {
    flex-direction: column;
    gap: .75rem; 
  }
}
