.nav {
	width: calc(100% - 40px);
	border-radius: 30px;
	display: flex;
	z-index: 50;
	position: sticky;
	margin: auto;
	left: 0px;
	padding: 20px;
	@include max-width($max-width);

	&.sticking {
		top: 0;
		padding: 0;
		width: 100%;

		.nav__wrapper {
			padding: 10px 40px;
		}
	}

	.nav__wrapper {
		flex: 1;
		border-radius: 30px;
		background-color: #200e46;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 40px;
		gap: 20px;
		width: 100%;
		transition: all 0.3s ease-in-out;

		.nav__logo {
			height: auto;
			width: 215px;
			min-width: 200px;

			img {
				width: 100%;
				height: auto;
			}
		}

		.nav__menu_btn {
			height: auto;
			width: 40px;
			min-width: 40px;
			display: none;

			img {
				width: 100%;
				height: auto;
			}
		}

		.nav__links {
			display: flex;
			align-items: center;
			top: 10px;
			transition: all 0.3s ease-in-out;

			a {
				text-transform: uppercase;
				text-decoration: none;
				font-weight: bold;
				padding: 10px 10px;
				font-size: clamp(14px, 1vw, 30px);
			}
		}

		.nav__links-mm {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0px 10px;
		}
	}

	@media screen and (max-width: $breakpoint-mobile) {

		.nav__wrapper {
			padding: 10px 40px;
			position: relative;

			.nav__logo {
				height: auto;
				width: 140px;
				min-width: 100px;

				img {
					width: 100%;
					height: auto;
				}
			}

			.nav__menu_btn {
				height: auto;
				width: 40px;
				min-width: 40px;
				display: block;

				img {
					width: 100%;
					height: auto;
				}
			}

			.nav__links {
				position: absolute;
				width: 100%;
				height: auto;
				background-color: var(--dark-purple);
				top: 0;
				gap: 10px;
				flex-wrap: wrap;
				display: none;
				top: 70px;
				left: 0;
				border-radius: 20px;

				&.open {
					display: block;
					transition: all 0.3s ease-in-out;
				}

				a {
					text-transform: uppercase;
					text-decoration: none;
					font-weight: bold;
					padding: 10px 15px;
					font-size: clamp(14px, 1vw, 30px);
				}
			}

			.nav__links-mm {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 10px 10px;
			}
		}
	}
}