.speakers {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 10%;
  box-sizing: border-box;
  gap: 60px;
  text-align: center;
  overflow: hidden;
  @include max-width($max-width);


  h3 {
    color: var(--magenta-800);
  }

  ul.speakers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    width: 100%;
  }

  .speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    padding: 30px;
    flex: 0 0 50%;

    @media screen and (max-width: $breakpoint-tablet) {
      width: 50%;
      flex: 0 0 100%;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      width: 100%;
      flex: 0 0 100%;
    }
  }

  .image-container {
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 33px 31.8px;
    position: relative;
    isolation: isolate;
    gap: 11.4px;
  }

  .profile-picture {
    width: 70%;
    object-fit: cover;
    z-index: 0;
    flex-shrink: 0;
  }

  .data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .social-platforms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }
}