.sponsors {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
  @include max-width($max-width);

  .sponsor-list {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    .sponsor {
      box-shadow: 0px 4px 0px var(--magenta-800);
      border-radius: 30px;
      background-color: var(--white);
      border: 1px solid #000;
      box-sizing: border-box;
      width: 305px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px 20px;
      margin: 30px 20px;
      min-height: 160px;

      img {
        width: 100%;
        height: auto;
        max-height: 60px;
      }
    }
  }

  @media screen and (max-width: $breakpoint-tablet) {
    .sponsor-list {
      .sponsor {
        padding: 15px 10px;
        margin: 15px 10px;
        width: 200px;
        min-height: 80px;

        img {
          width: 100%;
          height: auto;
          max-height: 60px;
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-mobile) {
    .sponsor-list {
      .sponsor {
        padding: 15px 10px;
        margin: 15px 10px;
        width: 130px;
        min-height: 80px;

        img {
          width: 100%;
          height: auto;
          max-height: 60px;
        }
      }
    }
  }
}