.speakers {
  &::before {
    content: "";
    background-image: url("/images/backgrounds/lens-flare.webp");
    position: relative;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 14.7vw;
    height: 14.7vw;
    margin-bottom: -14.7vw;
    top: 20vw;
    left: 3vw;
    z-index: 1;
  }
  padding-top: 7rem;

  @media screen and (max-width: 60rem) {
    padding-top: 0;
  }

  * {
    z-index: 2;
    position: relative;
  }

  .speakers__buttons {
    text-align: center;
    margin-top: 10rem;

    .speakers__buttons__background {
      background-image: url("/images/backgrounds/bubble1.webp");
      position: relative;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      width: 16rem;
      height: 16rem;
      margin: -11rem auto 8rem auto;
      animation: bubbles 9s infinite ease-in-out;
      animation-delay: 1s;
      z-index: 1;
    }
  }
  .speakers__ticket-button {
    @include btn__primary-orange;
    padding: 0.8rem 4.5rem;
    z-index: 2;

    @media screen and (max-width: 60rem) {
      padding: 1rem 4.5rem;
    }
  }

  img.speaker__portrait {
    width: 30vw;
    max-width: 400px;

    @media screen and (max-width: 60rem) {
      width: 75vw;
    }
  }

  .speaker__name {
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 25px;
    background-color: var(--orange-300);
    border-radius: var(--corner);
    box-decoration-break: clone;
  }

  h1 {
    @include stroke__shadow(var(--orange-100), 0.5px);
  }

  h1,
  h4 {
    text-align: center;
  }

  h4 {
    margin-bottom: 2rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 6rem;
    list-style: none;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 60rem) {
      grid-template-columns: 1fr;
      gap: 5rem;
    }

    p {
      margin: 1.5rem auto;
      color: var(--beige);
      width: 30rem;
      max-width: 400px;

      @media screen and (max-width: 60rem) {
        width: 70vw;
      }
    }

    .speaker__job {
      @include dark-blue-shadow;
    }

    .speaker__socials {
      display: flex;
      gap: 1.5rem;
      justify-content: center;
    }
  }

  li.speaker__details {
    &:last-child:nth-child(odd) {
      grid-column: span 2 / span 2;
      justify-self: center;

      @media screen and (max-width: 60rem) {
        grid-column: 1;
      }
    }

    &:nth-child(3n + 2) {
      .speaker__name,
      .btn__icon {
        background-color: var(--purple-200);
      }
    }

    &:nth-child(3n + 3) {
      .speaker__name,
      .btn__icon {
        background-color: var(--pink-600);
      }
    }
  }
}
