.past-event-highlights {
  padding: 8rem 0;
  

  h1 {
    @include stroke__shadow(var(--orange-100), 0.5px);
    margin-bottom: 8rem;
  }

  @media screen and (max-width: 60rem) {
    margin: 4rem auto;
  }

  text-align: center;

  lite-youtube {
    margin: 0 auto;
  }
}

.lty-playbtn:hover {
  animation: none;
}

.past-event-highlights__content {
  background: url('/images/backgrounds/circle.svg') no-repeat center center;
  background-size: contain;
  padding-bottom: 10rem;
}

.past-event-highlights__grid {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.past-event-highlights__image {
  margin-top: -3rem;
  margin-bottom: 1rem;
  width: clamp(15rem, 18vw, 20rem);
}

.past-event-highlights__video {
  width: clamp(300px, 50vw, 900px);
  margin: 0 auto;
  align-content: center;
  background: linear-gradient(black, black), 
              var(--pink-gradient);
  border: 2.5rem solid transparent;
  background-repeat: no-repeat;
  background-origin: padding-box, border-box;
  border-radius: var(--corner);
  border-width: 2.5rem;
  position: relative;

  @media screen and (max-width: 60rem) {
    padding: 10vw;
  }
}
