.speakers {
  &::before {
    content: "";
    background-image: url("/images/backgrounds/lens-flare.webp");
    position: relative;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 14.7vw;
    height: 14.7vw;
    margin-bottom: -14.7vw;
    top: 20vw;
    left: 3vw;
    z-index: 1;
  }

  background:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==),
    linear-gradient(var(--blue-300), var(--blue-050), var(--blue-500));
  background-blend-mode: overlay;
  padding-top: 7rem;
  margin-top: -1px;

  @media screen and (max-width: 60rem) {
    padding-top: 0;
  }

  * {
    z-index: 2;
    position: relative;
  }

  .clouds-top {
    margin-bottom: -60vw;
    z-index: 1;

    @media screen and (max-width: 60rem) {
      margin-bottom: -150vw;
    }
  }

  .clouds-middle {
    margin-top: -200vw;
    z-index: 1;
    top: 0;

    @media screen and (max-width: 60rem) {
      margin-top: -513vw;

      .clouds-5 {
        opacity: 0.9;
      }
    }
  }

  .clouds-bottom {
    margin-top: auto;
    z-index: 1;

    @media screen and (max-width: 60rem) {
      margin-top: 270vw;

      .clouds-5 {
        top: -48vw;
        opacity: 0.8;
      }
    }
  }

  .speakers__buttons {
    text-align: center;
    margin-top: 10rem;

    .speakers__buttons__background {
      background-image: url("/images/backgrounds/bubble1.webp");
      position: relative;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      width: 16rem;
      height: 16rem;
      margin: -11rem auto 16rem auto;
      animation: bubbles 9s infinite ease-in-out;
      animation-delay: 1s;
      z-index: 1;
    }
  }
  .speakers__ticket-button {
    @include btn__primary-orange;
    padding: 0.8rem 4.5rem;
    z-index: 2;

    @media screen and (max-width: 60rem) {
      padding: 1rem 4.5rem;
    }
  }

  img.speaker__portrait {
    width: 30vw;
    max-width: 400px;

    @media screen and (max-width: 60rem) {
      width: 75vw;
    }
  }

  .speaker__name {
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 25px;
    background-color: var(--orange-300);
    border-radius: var(--corner);
  }

  h1 {
    @include stroke__shadow(var(--orange-100), 0.5px);
  }

  h1,
  h4 {
    text-align: center;
  }

  h4 {
    margin-bottom: 2rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 6rem;
    list-style: none;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 60rem) {
      grid-template-columns: 1fr;
      gap: 5rem;
    }

    p {
      margin: 1.5rem auto;
      color: var(--beige);
      width: 30rem;
      max-width: 400px;

      @media screen and (max-width: 60rem) {
        width: 70vw;
      }
    }

    .speaker__job {
      @include dark-blue-shadow;
    }

    .speaker__socials {
      display: flex;
      gap: 1.5rem;
      justify-content: center;
    }
  }

  li.speaker__details {
    &:last-child:nth-child(odd) {
      grid-column: span 2 / span 2;
      justify-self: center;

      @media screen and (max-width: 60rem) {
        grid-column: 1;
      }
    }

    &:nth-child(3n + 2) {
      .speaker__name,
      .btn__icon {
        background-color: var(--purple-200);
      }
    }

    &:nth-child(3n + 3) {
      .speaker__name,
      .btn__icon {
        background-color: var(--pink-600);
      }
    }
  }
}
