.sponsors {
  &::before {
    content: "";
    background-image: url("/images/backgrounds/lens-flare.webp");
    position: relative;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    width: 23vw;
    height: 23vw;
    margin-bottom: -23vw;
    top: 50vw;
    left: -11vw;
    z-index: 1;
  }

  &::after {
    content: "";
    background-image: url("/images/backgrounds/bubble3.webp");
    position: relative;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 14.3vw;
    height: 15vw;
    margin-bottom: -15vw;
    bottom: 9vw;
    left: 55%;
    animation: bubbles 3s infinite ease-in-out;
    animation-delay: 2.5s;
    z-index: 2;
  }

  margin: 7rem auto 0 auto;
  z-index: 2;
  position: relative;

  @media screen and (max-width: 60rem) {
    margin: 4rem auto;
    padding-bottom: 4rem;
  }

  h1 {
    @include stroke__shadow(var(--orange-100), 0.5px);
    z-index: 3;
  }

  h1,
  h2 {
    text-align: center;
  }

  h2 {
    padding-bottom: 1rem;
  }

  .sponsors-grid {
    &::before {
      content: "";
      background-image: url("/images/backgrounds/bubble2.webp");
      position: relative;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      width: 11.4vw;
      height: 8.52vw;
      margin-bottom: -8.52vw;
      top: 5vw;
      left: -6vw;
      animation: bubbles 3s infinite ease-in-out;
      animation-delay: 1s;
      z-index: 2;

      @media screen and (max-width: 60rem) {
        width: 9rem;
        height: 6.7rem;
        margin-bottom: -7rem;
      }
    }

    &::after {
      content: "";
      background-image: url("/images/backgrounds/lens-flare.webp");
      position: relative;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      width: 10vw;
      height: 10vw;
      margin-bottom: -10vw;
      bottom: 18vw;
      right: -65vw;
      z-index: 1;
    }

    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div + div {
      padding-top: 4rem;
    }

    .sponsors-grid--main_partners,
    .sponsors-grid--premier_partners,
    .sponsors-grid--lounge_partners,
    .sponsors-grid--live_stream_partners,
    .sponsors-grid--closing_party_partners,
    .sponsors-grid--impl_room_partners,
    .sponsors-grid--head_partners,
    .sponsors-grid--partners,
    .sponsors-grid--supporters {
      display: grid;
      grid-template-columns: 25% 25% 25%;
      column-gap: 4rem;
      row-gap: 2rem;
      justify-content: center;
      justify-items: center;
      z-index: 3;

      @media screen and (max-width: 60rem) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 1.5rem;
        row-gap: 1.5rem;
      }

      a {
        @include sponsor-logo;
        @include btn__image;

        @media screen and (max-width: 60rem) {
          min-width: 0;
          border: clamp(0.5rem, 2vw, 1rem) solid transparent;
          padding: clamp(0.125rem, 0.5vw, 0.25rem);
          height: clamp(1.5rem, 7vw, 3.5rem);

          &:nth-child(odd) {
            justify-self: right;
          }

          &:nth-child(even) {
            justify-self: left;
          }
        }

        &:last-child:nth-child(3n + 1) {
          grid-column: span 3 / span 3;
          justify-self: center;

          @media screen and (max-width: 60rem) {
            grid-column: revert;
            justify-self: left;
          }
        }
      }
    }

    .sponsors-grid--main_partners a,
    .sponsors-grid--premier_partners a,
    .sponsors-grid--lounge_partners a,
    .sponsors-grid--live_stream_partners a,
    .sponsors-grid--closing_party_partners a,
    .sponsors-grid--impl_room_partners a,
    .sponsors-grid--head_partners a {
      aspect-ratio: 4/1;
      line-height: 6rem;
      border-radius: 6rem;

      img {
        max-height: 4rem;
        max-width: 100%;
        height: auto;
        width: auto;

        @media screen and (max-width: 60rem) {
          max-height: 2.75rem;
        }
      }
    }

    .sponsors-grid--partners,
    .sponsors-grid--supporters {
      img {
        max-width: 6rem;
      }

      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      a {
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }

    .sponsors-grid--partners {
      div {
        gap: 4rem;

        @media screen and (max-width: 60rem) {
          gap: 1rem;
        }
      }

      a {
        max-height: 6rem;

        img {
          max-height: 6rem;
        }
      }
    }

    .sponsors-grid--supporters {
      div {
        gap: 2rem;
      }

      a {
        max-height: 4rem;

        img {
          max-height: 4rem;
          height: unset;
          width: auto;
        }
      }
    }
  }
}
