.past-event-highlights {
  &::before {
    content: "";
    background-image: url("/images/backgrounds/lens-flare.webp");
    position: relative;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 14.7vw;
    height: 14.7vw;
    margin-bottom: -14.7vw;
    top: 20vw;
    left: 3vw;
    z-index: 1;
  }

  &::after {
    content: "";
    background-image: url("/images/backgrounds/lens-flare.webp");
    position: relative;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    width: 22vw;
    height: 22vw;
    margin-bottom: -22vw;
    bottom: 18vw;
    left: 70vw;
    z-index: 1;
  }

  margin-top: -1px;
  padding: 7rem 0;
  text-align: center;

  h1 {
    @include stroke__shadow(var(--orange-100), 0.5px);
    margin-bottom: 8rem;

    @media screen and (max-width: 60rem) {
      margin-bottom: 5rem;
    }
  }

  lite-youtube {
    margin: 0 auto;
  }
}

.lty-playbtn:hover {
  animation: none;
}

.past-event-highlights__content {
  background: url("/images/backgrounds/circle.svg") no-repeat center center;
  background-size: contain;
  padding-bottom: 10rem;
  z-index: 2;
  position: relative;

  @media screen and (max-width: 60rem) {
    padding-bottom: 5rem;
  }
}

.past-event-highlights__grid {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.past-event-highlights__image {
  margin-top: -3rem;
  margin-bottom: 1rem;
  width: clamp(15rem, 18vw, 20rem);

  @media screen and (max-width: 60rem) {
    width: 20vw;
  }
}

.past-event-highlights__video {
  width: clamp(250px, 50vw, 900px);
  @media screen and (max-width: 60rem) {
    width: 70vw;
  }
  @media screen and (max-width: 30rem) {
    width: 90vw;
  }

  margin: 0 auto;
  align-content: center;
  background: linear-gradient(black, black), var(--pink-gradient);
  border: 2rem solid transparent;
  background-repeat: no-repeat;
  background-origin: padding-box, border-box;
  border-radius: var(--corner);
  border-width: 2rem;
  position: relative;

  @media screen and (max-width: 60rem) {
    border: 1rem solid transparent;
    border-width: 1rem;
  }

  lite-youtube {
    width: 100%;
    max-width: none;
  }
}
