.presented-by {
  margin: 0 auto;
  position: relative;
  padding-top: 4rem;
  z-index: 2;

  @media screen and (max-width: 60rem) {
    margin: 0 auto;
  }

  .presented-by__wrapper {
    padding: 5rem 0;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    a {
      @include sponsor-logo(var(--purple-gradient), 1.5rem, 5rem);
      @include btn__image;
    }
  }

  h1 {
    text-align: center;
    @include stroke__shadow(var(--orange-100), 0.5px);
    margin-bottom: 2rem;
  }

  img {
    width: 55vw;
    max-width: 20rem;
    padding: 2rem;
  }
}
