.presented-by-box {
	width: 100%;
	background-image: url(/images/fdiaz/rust2.png);
	min-height: 600px;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: center;
	justify-items: center;
	justify-content: center;
	box-sizing: border-box;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	overflow: hidden;
	@include max-width($max-width);

	.mainmater-logo-icon {
		width: 50%;
    min-width: 300px;
		height: auto;
		align-self: center;
	}
}