.presented-by {
  margin: 8rem auto;

  @media screen and (max-width: 60rem) {
    margin: 4rem auto;
  }

  .presented-by__wrapper {
    background-image: url("/images/backgrounds/circle.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    background-size: 80% 100%;
    padding: 5rem 0;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    text-align: center;
    @include stroke(var(--blue-500), 0.5px);
    color: var(--blue-500);
  }

  img {
    width: 65vw;
    max-width: 25rem;
  }
}
