.rustfest {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 177px 20px;
  gap: 12px;
  background: url("/images/fdiaz/rust2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  @include max-width($max-width);
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.eurorust-is-part {
  width: 947px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}

.group-icon {
  width: 40%;
  max-width: 700px;
  position: relative;
}