.rustfest {
  margin: 8rem auto 0 auto;
  text-align:center;

  @media screen and (max-width: 60rem) {
    margin: 4rem auto 0 auto;
  }
  
    p {
        font-size: clamp(16px, 1vw, 20px);
        color: var(--beige);
      }
}