.speakers {
  h3, h4 {
    text-align: center;
  }
  
  h3 {
    margin-bottom: 4rem;
  }
  
  h4 {
    margin-bottom: 2rem;
  }
  
  ul {
    list-style: none;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    p {
      text-align: center;
      margin: 1rem 0;
    }

    .speaker__socials {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }
  }
}
