.speakers {
  img.speaker__portrait {
    width:30vw;
    max-width:400px;

    @media screen and (max-width: 60rem) {
      width:75vw;
    }
  }


  h1, h4 {
    text-align: center;
  }
  
  h4 {
    margin-bottom: 2rem;
  }
  
  ul {
    list-style: none;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    p {
      text-align: center;
      margin: 1rem 0;
      color: var(--beige);
    }

    .speaker__socials {
      display: flex;
      gap: 1.5rem;
      justify-content: center;
    }
  }
}
