.topics__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.topics__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 60rem) {

    .topics__grid {
        display: grid;
        grid-template-columns: 1fr;
    }

}