.venue {
  margin-bottom: -2px;

  .separator__top {
    background: var(--blue-500);
  }

  .separator__bottom {
    background: var(--blue-300);
  }

  p {
    color: var(--blue-400);
  }

  .venue__grid {
    @include background-pink; // keep the pink pattern
  }

  .venue__map-button {
    @include btn__secondary;
    color: var(--blue-400);
    border-color: var(--blue-400);
  }

  .venue__grid-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    max-width: 55rem;
    background: rgba(255, 255, 255, 0); // Start with a very transparent background
    border: 1.5px solid var(--blue-400); // Solid border for structure
    border-radius: var(--corner);
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    padding: 2rem 0;
    backdrop-filter: blur(1px);           // Apply blur to the card's background (no glass effect)
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); // Soft shadow for a floating effect
    transition: all 0.4s ease; // smooth transition for hover

    &:hover {
      transform: translateY(-10px) scale(1.02); // Lift and scale the container on hover
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15); // Deeper shadow on hover
      border-color: rgba(255, 255, 255, 0.6); // Brighter border on hover
      background: rgba(255, 255, 255, 0.3); // Slightly more transparent on hover
    }

    @media screen and (max-width: 60rem) {
      width: 70vw;
    }

    @media screen and (max-width: 32rem) {
      width: 90vw;
    }
  }

  .venue__image-container {
    border-bottom: 1.5px solid var(--blue-400);
    border-top-right-radius: var(--corner);
    border-top-left-radius: var(--corner);
    background: rgba(255, 255, 255, 0.1); // Consistent with the card's background
    transition: transform 0.4s ease; // smooth rotation effect on hover
  }

  .venue__image {
    padding: 3rem;
    max-width: 30vw;
    margin: 0 auto;
    display: block;
    transition: transform 0.4s ease; // smooth rotation

    @media screen and (max-width: 60rem) {
      max-width: 50vw;
    }

    &:hover {
      transform: rotate(5deg); // Slight rotation on hover
    }
  }

  .venue__description {
    padding: 3rem 6rem;

    @media screen and (max-width: 60rem) {
      padding: 3rem 2rem 2rem 2rem;
    }
  }

  h1 {
    text-align: center;
    margin-top: -2rem;
    padding-bottom: 2rem;
    color: var(--blue-400);
    @include stroke(var(--blue-400), 0.5px);

    @media screen and (max-width: 60rem) {
      margin-top: -18vw;
    }
  }
}



