.venue {
  .separator__top,
  .separator__bottom {
    background: var(--blue-500);
  }

  .venue__grid {
    @include background-pink;
  }

  h1 {
    text-align: center;
    margin-top: -2rem;
    padding-bottom: 2rem;
    color: var(--blue-300);
    @include stroke(var(--blue-300), 0.5px);

    @media screen and (max-width: 60rem) {
      padding-top: 8rem;
    }
  }
}