.venue {
  width: 100%;
  align-items: center;
  padding: 100px 65px;
  flex-wrap: wrap;
  overflow: hidden;
  @include max-width($max-width);

  .box {
    position: relative;
    flex-direction: row;

    .venue-image {
      width: 70%;
      margin-left: 10%;
    }

    img.venue-icon {
      width: 15vw;
      position: absolute;
      top: -80%;
      right: 10%;
    }

    .venue-description {
      position: absolute;
      right: 10%;
      top: 30%;
      min-width: 300px;
      width: 40%;
      background-color: var(--black);
      padding: 40px;
      border-radius: 30px;
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
      box-shadow: 0px 4px 0px var(--magenta-800);
    }
  }

  @media screen and (max-width: $breakpoint-tablet) {
    padding: 100px 30px;
    .box {
      position: relative;
      flex-direction: row;

      .venue-image {
        width: 100%;
        margin-left: 0;
      }

      img.venue-icon {
        width: 25vw;
        position: absolute;
        top: -20%;
        right: 0;
      }

      .venue-description {
        position: unset;
        width: 100%;
        margin-top: -50px;
      }
    }
  }
}