.workshop-schedule {
  .container {
    @media (max-width: 45rem) {
      margin: 0;
    }
  }

  h3 {
    font-size: 2rem;

      @media (max-width: 45rem) {
      font-size: 1.25rem;
    }
  }

  h1,
  .workshop-cta {
    text-align:center;
  }

  .workshop-schedule__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-auto-rows: 1fr;

   @media (max-width: 80rem) {
    display: flex;
    flex-direction: column;
    }
  }

  a:hover, a:active {
    h3, p {
    color: var(--beige);
    transition: 0.4s ease-in-out;
    }
  }

  .workshop-schedule__cta {
    text-decoration: underline;
  }

  .activity-card__workshop {
    background: url(/images/workshops/workshop-bkg.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 35rem;
    height:27rem;
    @media (max-width: 45rem) {
      width:90vw;
      height:auto;
      background-size: 100% 100%;
    }

    
    margin:0 auto;
  }

  .activity-card__content {
    padding: 6rem 4rem;
    @media (max-width: 45rem) {
      padding:6rem 2rem;
    }
  }


}