<nav>
  <a href="#main" class="skip-link">Skip to main content</a>
    <div class="nav__wrapper border-y py-4">
        <div class="nav__logo">
                <a href="/2024"><img class="logo" alt="eurorust" src="/2024/images/eurorust-logo-horizontal.png"></a>
            </div>
        <div class="nav__links">
            <ul class="social">
                <li>
                    <tito-button event="events-matter/eurorust-2024" save-metadata-parameters="utm_*" class="btn__secondary">Get your ticket</tito-button>
                </li>
                <div class="social_inner">
                <li>
                    <a
        href="https://fosstodon.org/@eurorust"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/2024/images/icons/mastodon.svg" alt="Mastodon icon"/></a>
                </li>
                <li>
                    <a
        href="https://twitter.com/euro_rust"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src=/2024/images/icons/twitter-footer-white.svg" alt="Twitter icon"/></a>
                </li>
                <li>
                    <a
        href="http://eepurl.com/h5i1k1"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/2024/images/icons/mail-icon.svg" alt="email icon"/></a>
                </li>
                </div>
            </ul>
        </div>
    </div>
</nav>
