<section class="topics pt-10">
	<div class="topics__grid container">
    <ul class="topics__grid-element topics__list">
      <li class="h3">Rust patterns & idioms</li>
      <li class="h3">WASM</li>
      <li class="h3">Embedded systems</li>
      <li class="h3">Distributed systems</li>
      <li class="h3">Servers</li>
      <li class="h3">Rust case studies</li>
    </ul>
		<div class="topics__grid-element topics__image">
			<div class="topics__wrapper-image">
				<img class="image-rust" src="/2024/images/rust-logo.png" alt="rust logo"/>
			</div>
		</div>
	</div>
</section>
