{% extends "2022/base.html" %} {% block content %}
2022!
<main>
  <section class="about">
    <h2 class="title">About EuroRust</h2>
    <p>
      EuroRust is a 2 day conference for the European Rust community. We cover
      all things Rust: from Rust patterns and idioms to systems programming and
      CLI tooling, servers WASM, and embedded systems.
    </p>
    <p class="rustfest">EuroRust is part of the RustFest family of events.</p>
    <img src="/images/rustfest-logo.svg" alt="RustFest logo" class="rustfest-logo" />
  </section>

  <section class="get-involved">
    <div class="container">
      <h2 class="title">Get involved with EuroRust!</h2>
      <div class="actions">
        <a href="https://twitter.com/euro_rust" class="twitter">follow us on Twitter</a>
        <a href="http://eepurl.com/h5i1k1" class="mailing-list">sign up to the mailing list</a>
      </div>
    </div>
  </section>

  <section class="talks our-speakers">
    <ul class="topics">
      <li>Rust patterns & idioms</li>
      <li>Distributed Systems</li>
      <li>WASM</li>
      <li>Servers</li>
      <li>Embedded Systems</li>
      <li>Rust case studies</li>
    </ul>

    {% include "2022/sections/our_speakers.html" %}
    {% include "2022/sections/schedule.html" %}
  </section>

  {% include "2022/sections/venue.html" %}

  {% include "2022/sections/sponsors.html" %}
</main>

{% endblock content %}