{% extends "2022/base.html" %} {% block content %}
{% set data = load_data(path="data/2022/schedule.json") %}

<section class="schedule full-schedule">
  <div class="content">
    <h3 class="title">Schedule</h3>
    {% for conference_day in data.days %}
    <div class="timetable">
      <h3 class="table-title">Day {{conference_day.day}}</h3>
      <h4 class="table-subtitle">{{ conference_day.date}}</h4>
      <h4 class="table-subtitle timezone">(Times are local, CEST)</h4>
      <table class="table schedule-table">
        <thead>
          <tr>
            <th class="time">Schedule</th>
          </tr>
        </thead>
        <tbody>
          {% for talk in conference_day.talks %}
          <tr>
            <td>
              <div class="talk-info">
                <p class="h3 table-entry time">{{ talk.time }}</p>
                {% if not talk.isBreak and talk.speaker %}
                <div id="{{ talk.id }}" class="speaker">
                  {% if not talk.hideImage %}
                  {% if not talk.hideLink %}
                  <a href="/2022/speakers/{{ talk.id }}" alt="speaker profile">
                    {% endif %}
                    <img alt="{{ talk.speaker }} speaker profile" class="photo"
                      src="/2022/images/speakers/{{ talk.id }}.jpeg" />
                    {% if not talk.hideLink %}
                  </a>
                  {% endif %}
                  {% endif %}
                  {% if not talk.hideLink %}
                  <a href="/2022/speakers/{{ talk.id }}" alt="speaker profile">
                    {% endif %}
                    <p class="table-entry name">{{ talk.speaker }}</p>
                    {% if not talk.hideLink %}
                  </a>
                  {% endif %}
                </div>
                {% endif %}
                {% if not talk.isBreak and talk.speaker2 %}
                <div id="{{ talk.id2 }}" class="speaker">
                  {% if not talk.hideImage %}
                  {% if not talk.hideLink %}
                  <a href="/2022/speakers/{{ talk.id2 }}" alt="speaker profile">
                    {% endif %}
                    <img alt="{{ talk.speaker2 }} speaker profile" class="photo"
                      src="/2022/images/speakers/{{ talk.id2 }}.jpeg" />
                    {% if not talk.hideLink %}
                  </a>
                  {% endif %}
                  {% endif %}
                  {% if not talk.hideLink %}
                  <a href="/2022/speakers/{{ talk.id2 }}" alt="speaker profile" class="name">
                    {% endif %}
                    <p class="table-entry name">{{ talk.speaker2 }}</p>
                    {% if not talk.hideLink %}
                  </a>
                  {% endif %}
                </div>
                {% endif %}
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <p class="h3 table-entry talk-title">{{ talk.title }}</p>
                {% if not talk.isBreak %}
                <div class="talk-description">{{ talk.description | safe }}</div>
                {% endif %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock content %}