.mentor__grid {
    display: grid;
    grid-template-columns: repeat(2, 70% 30%);
    align-items: center;
    justify-content: space-between;
    padding-bottom:8em;
    
    &:only-child, &:last-child {
        padding-bottom:0;
    }
}

.mentor__wrapper-image {
    margin-left: 0;
}

.mentor__wrapper-content {
    padding-right: 4rem;
}


@media (max-width: 60rem) {

    .mentor__grid {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom:5em;

        &:only-child, &:last-child {
            padding-bottom:0;
        }
    }

    .mentor__wrapper-image {
        margin-bottom: 4rem;
        grid-row: 1;

    }

}