---
---

@import "./reset.scss";
@import "./fonts.scss";
@import "./typography.scss";
@import "./mixins.scss";

body {
  background: top center url(/assets/images/hero-background.jpg) #010101
    no-repeat;

  @include desktop-only {
    background-size: contain;
  }
}

.hero {
  padding: 130px 16px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop-only {
    padding-bottom: 44px;
    padding-top: 250px;
  }

  .link {
    display: block;
    margin-bottom: 8px;

    img {
      width: 90vw;
      height: auto;
      margin-bottom: 36px;

      @include desktop-only {
        width: 75vw;
        max-width: 1068px;
        margin-bottom: 80px;
      }
    }
  }

  .facts {
    color: rgb(2, 0, 46);
    font-family: Prototype, sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-align: justify;
    text-transform: uppercase;
    transform: rotate(-4deg);
    margin-bottom: 100px;
    text-align: center;
    font-weight: normal;

    @include desktop-only {
      font-size: 40px;
      letter-spacing: 2px;
    }

    .date,
    .location {
      text-shadow: none;
      display: inline-block;
      border: 1.5px solid rgb(255, 255, 255);
      box-shadow: 1px 1px 0px 0px rgb(224, 32, 158);
      padding: 2px 5px;

      @include desktop-only {
        border: 5px solid rgb(255, 255, 255);
      }
    }

    .date {
      background: rgb(255, 255, 255);
    }

    .location {
      color: rgb(255, 255, 255);
      background: rgb(2, 0, 46);
    }
  }

  .tickets button {
    background: rgb(224, 32, 158);
    box-shadow: 4px 4px 0px 0px rgb(247, 243, 0);
    padding: 20px 44px;
    color: rgb(247, 243, 0);
    font-family: Prototype, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    border: none;

    @include desktop-only {
      font-size: 24px;
      letter-spacing: 2px;
    }
  }
}

.about {
  background: top left 32px / 120px no-repeat
    url(/assets/images/about-background.svg);
  padding: 100px 16px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-bottom: 37px;
  }

  @include desktop-only {
    background: none;

    .title {
      display: flex;
      align-items: center;
    }

    .title:before {
      content: "";
      background: top left 32px / 120px no-repeat
        url(/assets/images/about-background.svg);
      width: 133px;
      height: 133px;
      margin-left: -133px;
    }
  }

  p {
    padding: 0 16px;

    &.rustfest {
      font-size: 32px;
      margin-top: 32px;
    }
  }

  .rustfest-logo {
    margin-top: 20px;
    width: 225px;
    height: auto;
  }

  @include desktop-only {
    p {
      width: 50vw;
      min-width: 680px;
    }
  }
}

.speak {
  @include desktop-only {
    margin-top: 10rem;
  }

  background: linear-gradient(
      -180deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 52%,
      rgba(255, 255, 255, 0) 100%
    )
    rgb(247, 243, 0);
  padding: 80px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-shadow: none;
    color: rgb(2, 0, 46);
    margin-bottom: 37px;
  }

  p {
    color: rgb(2, 0, 46);
    padding: 0 16px;
    margin-bottom: 37px;
  }

  .cfp {
    background: rgb(224, 32, 158);
    box-shadow: 4px 4px 0px 0px rgb(2, 0, 46);
    padding: 23px 40px;
    color: rgb(247, 243, 0);
    font-family: Prototype, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transform: rotate(-4deg);

    @include desktop-only {
      font-size: 24px;
      letter-spacing: 2px;
    }
  }

  @include desktop-only {
    p {
      width: 50vw;
      min-width: 680px;
    }
  }
}

.talks {
  background: top 80px center / 100% no-repeat
      url(/assets/images/talks-background-top.svg),
    bottom 80px center / 100% no-repeat
      url(/assets/images/talks-background-bottom.svg);
  padding: 66vw 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include min-screen-width(420px) {
    padding: 50vw 16px;
  }

  @include min-screen-width(720px) {
    padding: 37.5vw 16px;
  }

  .title {
    margin: -20px 0 17px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      display: inline-block;
      background: center center / cover url(/assets/images/yellow-diamond.svg);
      height: 62px;
      width: 62px;
    }

    &:after {
      content: "";
      display: inline-block;
      background: center center / cover url(/assets/images/yellow-diamond.svg);
      height: 62px;
      width: 62px;
    }
  }

  p {
    padding: 0 16px;
    margin-bottom: 60px;
  }

  .topics {
    list-style-type: none;
    color: rgb(2, 0, 46);
    font-family: Prototype, sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-align: justify;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop-only {
      font-size: 24px;
      letter-spacing: 2px;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 50vw;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 40px;
    }

    li {
      transform: rotate(-4deg);
      display: inline-block;
      background: rgb(255, 255, 255);
      border: 1.5px solid rgb(255, 255, 255);
      box-shadow: 1px 1px 0px 0px rgb(224, 32, 158);
      padding: 2px 5px;
      text-align: left;

      @include desktop-only {
        margin-top: 40px;

        &:nth-child(2n) {
          margin-top: 0;
        }
      }
    }

    li + li {
      margin-top: 40px;
    }
  }

  @include desktop-only {
    p {
      width: 50vw;
      min-width: 680px;
    }
  }
}

.get-involved {
  background: bottom 80px center / 180px no-repeat
    url(/assets/images/get-involved-background-bottom.svg);
  padding: 60px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop-only {
    background-position: top 50% right 10%;
  }

  @include mobile-only {
    background: bottom 7rem center/100px no-repeat
      url(/assets/images/get-involved-background-bottom.svg);
    padding-bottom: 200px;
  }

  .title {
    margin: 0 0 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    background: center center / contain
      url(/assets/images/background-actions.png) no-repeat;
    height: 30rem;

    @include desktop-only {
      padding-top: 10rem;
    }
  }

  .actions {
    @include mobile-only {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    a {
      display: block;
      background: rgb(247, 243, 0);
      background-position: top 23px center;
      background-repeat: no-repeat;
      box-shadow: 4px 4px 0px 0px rgb(224, 32, 158);
      padding: 56px 0px 23px;
      height: 6.3rem;
      width: 22.5rem;
      max-width: 80vw;
      color: rgb(224, 32, 158);
      font-family: Prototype, sans-serif;
      font-size: 16px;
      letter-spacing: 1.5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      @include desktop-only {
        font-size: 18px;
        letter-spacing: 2px;
        display: inline-block;
        max-width: 360px;
        margin-right: 10px;
      }

      &.twitter {
        background-image: url(/assets/images/twitter.svg);

        @include mobile-only {
          margin-bottom: 40px;
        }
      }

      &.mailing-list {
        background-image: url(/assets/images/mailing-list.svg);
      }
    }
  }
}

.presented-by {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  .title {
    margin-bottom: 40px;
  }

  img {
    width: 246px;
  }
}

.generic-content {
  padding: 60px 16px;

  @include desktop-only {
    width: 50vw;
    min-width: 680px;
    margin: 0 auto;
  }

  .title {
    text-shadow: 0px 0px 10px rgb(224, 32, 158);
    color: rgb(255, 255, 255);
    font-size: 32px;
    letter-spacing: 1.6px;
    margin: 0 0 17px;
  }

  h3 {
    margin: 0 0 17px;
  }

  p {
    text-align: left;
    padding: 0 16px;

    & + h3 {
      margin-top: 17px;
    }
  }
}

footer {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop-only {
    width: 95vw;
    min-width: 760px;
    max-width: 1340px;
    margin: 0 auto;
  }

  .avatar {
    width: 120px;
    height: auto;
  }

  .meta {
    margin: 24px 0;

    .presented {
      display: flex;
      align-items: center;
      flex-direction: row;

      a {
        line-height: 20px;
        height: 20px;
      }

      img {
        height: 20px;
        margin-left: 10px;
      }
    }

    @include desktop-only {
      display: flex;
      width: 100%;
      align-items: baseline;
      justify-content: start;
      margin-bottom: 24px;

      .copy {
        margin-right: 24px;
      }
    }
  }

  .copy,
  .presented {
    text-shadow: 0px 0px 5px rgb(224, 32, 158);
    color: rgb(224, 32, 158);
    font-family: Prototype;
    font-size: 18px;
    letter-spacing: 0.9px;
    text-align: center;
    text-transform: uppercase;
  }

  .links {
    width: 100%;
    border-top: 2px dotted rgb(35, 190, 155);
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .pages {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        font-family: Prototype;
        font-size: 18px;
        letter-spacing: 0.9px;
        line-height: 40px;
        text-align: center;

        a {
          text-shadow: 0px 0px 5px rgb(35, 190, 155);
          color: rgb(35, 190, 155);
          text-transform: uppercase;
          text-decoration: none;

          &:before {
            content: "•";
            margin-right: 10px;

            @include desktop-only {
              display: none;
            }
          }

          &:after {
            content: "•";
            margin-left: 10px;
          }
        }
      }

      li + li {
        margin-top: 18px;
      }

      @include desktop-only {
        flex-direction: row;
        align-items: start;
        justify-content: start;

        li + li {
          margin-top: 0;
          margin-left: 10px;
        }

        li:last-child {
          a:after {
            display: none;
          }
        }
      }
    }

    .social {
      margin-top: 24px;
    }

    @include desktop-only {
      flex-direction: row;

      .social {
        margin-top: 0;
      }
    }
  }
}
