---
---

@import "./fonts.scss";
@import "./reset.scss";

.hero {
  background: top center / cover url(/assets/images/hero-background.jpg) #010101;
  padding: 130px 16px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .link {
    display: block;
    margin-bottom: 43px;

    img {
      width: 100vw;
      height: auto;
    }
  }

  .facts {
    color: rgb(2, 0, 46);
    font-family: Prototype, sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-align: justify;
    text-transform: uppercase;
    transform: rotate(-4deg);
    margin-bottom: 100px;

    .date {
      display: inline-block;
      background: rgb(255, 255, 255);
      border: 1.5px solid rgb(255, 255, 255);
      box-shadow: 1px 1px 0px 0px rgb(224, 32, 158);
      padding: 2px 5px;
    }

    .location {
      display: inline-block;
      color: rgb(255, 255, 255);
      background: rgb(2, 0, 46);
      border: 1.5px solid rgb(255, 255, 255);
      box-shadow: 1px 1px 0px 0px rgb(224, 32, 158);
      padding: 2px 5px;
    }
  }

  .tickets {
    background: rgb(224, 32, 158);
    box-shadow: 4px 4px 0px 0px rgb(247, 243, 0);
    padding: 23px 40px;
    color: rgb(247, 243, 0);
    font-family: Prototype, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
  }
}

.about {
  background: top left 32px / 120px no-repeat url(/assets/images/about-background.svg) #010101;
  padding: 120px 16px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-shadow: 0px 0px 10px rgb(224, 32, 158);
    color: rgb(255, 255, 255);
    font-family: Prototype;
    font-size: 32px;
    letter-spacing: 1.6px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 37px;
  }

  p {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    text-align: center;
    padding: 0 16px;

    &.rustfest {
      font-size: 24px;
      margin-top: 32px;
    }
  }

  .rustfest-logo {
    margin-top: 32px;
    width: 232px;
    height: auto;
  }
}

.speak {
  background: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 52%, rgba(255, 255, 255, 0) 100%)
  rgb(247, 243, 0);
  padding: 80px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: rgb(2, 0, 46);
    font-family: Prototype;
    font-size: 32px;
    letter-spacing: 1.6px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 37px;
  }
  
  p {
    color: rgb(2, 0, 46);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    text-align: center;
    padding: 0 16px;
    margin-bottom: 37px;
  }

  .cfp {
    background: rgb(224, 32, 158);
    box-shadow: 4px 4px 0px 0px rgb(2, 0, 46);
    padding: 23px 40px;
    color: rgb(247, 243, 0);
    font-family: Prototype, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transform: rotate(-4deg);
  }
}

.talks {
  background: top 80px center / 100% no-repeat url(/assets/images/talks-background-top.svg), bottom 80px center / 100% no-repeat url(/assets/images/talks-background-bottom.svg) #010101;
  padding: 280px 16px 280px;

  .title {
    text-shadow: 0px 0px 10px rgb(224, 32, 158);
    color: rgb(255, 255, 255);
    font-family: Prototype;
    font-size: 32px;
    letter-spacing: 1.6px;
    text-align: center;
    text-transform: uppercase;
    margin: -20px 0 17px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      display: inline-block;
      background: center center / cover url(/assets/images/yellow-diamond.svg);
      height: 62px;
      width: 62px;
    }

    &:after {
      content: "";
      display: inline-block;
      background: center center / cover url(/assets/images/yellow-diamond.svg);
      height: 62px;
      width: 62px;
    }
  }
  
  p {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    text-align: center;
    padding: 0 16px;
    margin-bottom: 60px;
  }

  .topics {
    list-style-type: none;
    color: rgb(2, 0, 46);
    font-family: Prototype, sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-align: justify;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      transform: rotate(-4deg);
      display: inline-block;
      background: rgb(255, 255, 255);
      border: 1.5px solid rgb(255, 255, 255);
      box-shadow: 1px 1px 0px 0px rgb(224, 32, 158);
      padding: 2px 5px;
    }

    li + li {
      margin-top: 40px;
    }
  }
}

.get-involved {
  background: bottom 80px center / 180px no-repeat url(/assets/images/get-involved-background-bottom.svg) #010101;
  padding: 60px 16px 280px;
  
  .title {
    text-shadow: 0px 0px 10px rgb(224, 32, 158);
    color: rgb(255, 255, 255);
    font-family: Prototype;
    font-size: 32px;
    letter-spacing: 1.6px;
    text-align: center;
    text-transform: uppercase;
    margin: -20px 0 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .actions {
    background: center center / cover url(/assets/images/background-actions.png);
    padding: 40px 16px;

    a {
      display: block;
      background: rgb(247, 243, 0);
      background-position: top 23px center;
      background-repeat: no-repeat;
      box-shadow: 4px 4px 0px 0px rgb(224, 32, 158);
      padding: 64px 40px 23px;
      color: rgb(224, 32, 158);
      font-family: Prototype, sans-serif;
      font-size: 18px;
      letter-spacing: 1.5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      &.twitter {
        background-image: url(/assets/images/twitter.svg);
        margin-bottom: 40px;
      }

      &.mailing-list {
        background-image: url(/assets/images/mailing-list.svg);
      }
    }
  }
}
