---
---

@import "./reset.scss";

.hero {
  background: top center / cover url(/assets/images/hero-background.jpg) #010101;
  padding: 130px 16px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .link {
    display: block;
    margin-bottom: 43px;

    img {
      width: 100vw;
      height: auto;
    }
  }

  .facts {
    color: rgb(2, 0, 46);
    font-family: Prototype, sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-align: justify;
    text-transform: uppercase;
    transform: rotate(-4deg);
    margin-bottom: 100px;

    .date {
      display: inline-block;
      background: rgb(255, 255, 255);
      border: 1.5px solid rgb(255, 255, 255);
      box-shadow: 1px 1px 0px 0px rgb(224, 32, 158);
      padding: 2px 5px;
    }

    .location {
      display: inline-block;
      color: rgb(255, 255, 255);
      background: rgb(2, 0, 46);
      border: 1.5px solid rgb(255, 255, 255);
      box-shadow: 1px 1px 0px 0px rgb(224, 32, 158);
      padding: 2px 5px;
    }
  }

  .tickets {
    background: rgb(224, 32, 158);
    box-shadow: 4px 4px 0px 0px rgb(247, 243, 0);
    padding: 23px 40px;
    color: rgb(247, 243, 0);
    font-family: Prototype, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
  }
}

.about {
  background: top left 32px / 120px no-repeat url(/assets/images/about-background.svg) #010101;
  padding: 120px 16px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-shadow: 0px 0px 10px rgb(224, 32, 158);
    color: rgb(255, 255, 255);
    font-family: Prototype;
    font-size: 32px;
    letter-spacing: 1.6px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 37px;
  }

  p {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    text-align: center;
    padding: 0 16px;

    &.rustfest {
      font-size: 24px;
      margin-top: 32px;
    }
  }

  .rustfest-logo {
    margin-top: 32px;
    width: 232px;
    height: auto;
  }
}
