<section class="about">
  <div class="about__grid">
    <h1>What we cover</h1>
    <div class="about__grid-container">
      <ul class="about__grid-list">
        <li>Rust Patterns & Idioms</li>
        <li>Distributed Systems</li>
        <li>Embedded Systems</li>
        <li>Rust case studies</li>
        <li>Servers</li>
        <li>Wasm</li>
      </ul>
      <img
        class="about__grid-image"
        src="images/rust-logo.png"
        alt="Rust Lang"
        width="576"
        height="576"
      />
    </div>
  </div>
</section>
