<main class="hero">
  <div class="hero__grid">
    <div class="hero__grid-meta">
      <p class="hero__grid-meta-info">
        October 9 and 10, 2025<br />
        Paris and online
      </p>
      <img class="hero__logo" alt="EuroRust" src="/2025/images/logo-250307.svg" width="718" height="395" />

      <div class="hero__canvas">
        <canvas></canvas>
      </div>
    </div>

    <div class="hero__grid-content">
      <div class="p-2">
        <h1 class="pb-4">2 day Conference for the European Rust Community</h1>
        <p class="hero__grid-content-about">
          We cover all things Rust: from Rust patterns and idioms to system programming and CLI
          tooling, servers Wasm, and embedded systems
        </p>
      </div>
      <div class="py-3 hero__grid-buttons">
        <a href="https://ti.to/events-matter/eurorust-2025" class="hero__grid-content-ticket-button"
          >Get tickets</a
        >
         <a href="/2025/schedule" class="hero__grid-content-schedule-button"
          >View schedule</a
        >
      </div>
    </div>
  </div>
</main>
