<section class="about-schedule">
 <div class="separator__top">
    <div class="separator__content"></div>
  </div>

  <div class="about-schedule__inner-container">
    <div class="about-schedule__section about">
      <h1 class="about-schedule__h1">What we cover</h1>
      <div class="about-schedule__topics-grid">
        <div class="about-schedule__topics-list">
          <p class="about-schedule__topic line-1">Rust Patterns & Idioms</p>
          <p class="about-schedule__topic line-2">Distributed Systems</p>
          <p class="about-schedule__topic line-3">Embedded Systems</p>
          <p class="about-schedule__topic line-4">Rust case studies</p>
          <div class="about-schedule__topic line-5"></div>
          <p class="about-schedule__topic line-6">Servers</p>
          <p class="about-schedule__topic line-7">Wasm</p>
        </div>
        
        <div class="about-schedule__topics-image">
          <div class="about-schedule__image-wrapper">
            <img src="images/rust-logo.png" alt="Rust Lang" width="320" height="320" loading="lazy" />
          </div>
        </div>
      </div>
    </div>

    <div class="about-schedule__section">
      <h1 class="about-schedule__h1">Schedule Overview</h1>
      <div class="about-schedule__timeline-grid">
        <div class="about-schedule__day-column">
          <h3 class="about-schedule__date">October&nbsp;14 <br> Wed</h3>
          <div class="about-schedule__day-card">
            <h2 class="about-schedule__day-title about-schedule__day-title--1">Day 1</h2>
            <p class="about-schedule__day-desc">Workshops and side activities</p>
          </div>
        </div>
        
        <div class="about-schedule__day-column">
          <h3 class="about-schedule__date">October&nbsp;15 <br> Thu</h3>
          <div class="about-schedule__day-card">
            <h2 class="about-schedule__day-title about-schedule__day-title--2">Day 2</h2>
            <p class="about-schedule__day-desc">Conference day 1</p>
          </div>
        </div>

        <div class="about-schedule__day-column">
          <h3 class="about-schedule__date">October&nbsp;16 <br> Fri</h3>
          <div class="about-schedule__day-card">
            <h2 class="about-schedule__day-title about-schedule__day-title--3">Day 3</h2>
            <p class="about-schedule__day-desc">Conference day 2 and closing party</p>
          </div>
        </div>

        <div class="about-schedule__day-column">
          <h3 class="about-schedule__date">October&nbsp;17 <br> Sat</h3>
          <div class="about-schedule__day-card">
            <h2 class="about-schedule__day-title about-schedule__day-title--4">Day 4</h2>
            <p class="about-schedule__day-desc">impl day and side activities</p>
          </div>
        </div>
      </div>
    </div>

  </div>

 <div class="separator__bottom">
    <div class="separator__content"></div>
  </div>
</section>