<section class="container about">
  <div class="container-ab background">
    <div class="topic-list">
      <h2>What we cover</h2>
      <div class="list">
        <div class="event-topic">
          <div class="square-bullet">
            <div class="square-bullet-child">
            </div>
            <div class="square-bullet-item">
            </div>
          </div>
          <h3>Rust Patterns & Idioms</h3>
        </div>
        <div class="event-topic">
          <div class="square-bullet">
            <div class="square-bullet-child">
            </div>
            <div class="square-bullet-item">
            </div>
          </div>
          <h3>Distributed Systems</h3>
        </div>
        <div class="event-topic">
          <div class="square-bullet">
            <div class="square-bullet-child">
            </div>
            <div class="square-bullet-item">
            </div>
          </div>
          <h3>Embedded Systems</h3>
        </div>
        <div class="event-topic">
          <div class="square-bullet">
            <div class="square-bullet-child">
            </div>
            <div class="square-bullet-item">
            </div>
          </div>
          <h3>Rust case studies</h3>
        </div>
        <div class="event-topic">
          <div class="square-bullet">
            <div class="square-bullet-child">
            </div>
            <div class="square-bullet-item">
            </div>
          </div>
          <h3>Servers</h3>
        </div>
        <div class="event-topic">
          <div class="square-bullet">
            <div class="square-bullet-child">
            </div>
            <div class="square-bullet-item">
            </div>
          </div>
          <h3>Wasm</h3>
        </div>
      </div>
    </div>
    <div class="logo-wrapper">
      <img class="rust-logo-icon" src="images/fdiaz/rust-logo.png" alt="Rust Logo Icon">
    </div>
  </div>
  <img class="code-blocks-icon" src="images/fdiaz/code-blocks.svg" alt="Code Blocks Icon">
</section>