<section class="about">
  <div class="separator__top">
    <div class="separator__content"></div>
  </div>
  <div class="about__grid">
    <h1>What we cover</h1>
    <div class="about__grid-container">
      <div class="about__grid-list">
        <p class="about__grid-list__line line-1">Rust Patterns & Idioms</p>
        <p class="about__grid-list__line line-2">Distributed Systems</p>
        <p class="about__grid-list__line line-3">Embedded Systems</p>
        <p class="about__grid-list__line line-4">Rust case studies</p>
        <div class="about__grid-list__line line-5"></div>
        <p class="about__grid-list__line line-6">Servers</p>
        <p class="about__grid-list__line line-7">Wasm</p>
      </div>
      <div class="about__grid-image">
        <div class="about__grid-image__content">
          <img
          src="images/rust-logo.png"
          alt="Rust Lang"
          width="320"
          height="320"
          loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="separator__bottom">
    <div class="separator__content"></div>
  </div>
</section>
