<footer class="footer">
  <div class="border-b">
    <div class="container">
      <ul class="meta mb-4">
        <li>
          <p>&copy; Events Matter UG</p>
        </li>
        <li>
          <a
        href="https://mainmatter.com/rust-consulting/?utm_source=eurorust"
        target="_blank"
        rel="noopener noreferrer" class="btn__secondary">Presented by Mainmatter</a>
        </li>
        <li>
          <a href="/2022" class="btn__secondary">2022</a>
        </li>
        <li>
          <a href="/2023" class="btn__secondary">2023</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container ">
    <div class="links footer-bottom mt-4 mb-10">
      <ul class="pages">
        <li>
          <a href="/sponsorship-prospectus.pdf">Sponsorships</a>
        </li>
        <li>
          <a href="/code-of-conduct" class="btn__secondary">Code of Conduct</a>
        </li>
        <li>
          <a href="/imprint" class="btn__secondary">Imprint</a>
        </li>
      </ul>

      <div>
        <ul class="social">
        <div class="social_inner">
          <li>
            <a
        href="https://www.youtube.com/@eurorust"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/images/icons/youtube.svg" alt="YouTube icon"/></a>
          </li>
          <li>
            <a
        href="https://fosstodon.org/@eurorust"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/images/icons/mastodon.svg" alt="Mastodon icon"/></a>
          </li>
          <li>
            <a
        href="https://twitter.com/euro_rust"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/images/icons/twitter-footer-white.svg" alt="Twitter icon"/></a>
          </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</footer>