<aside>
  <div class="footer__container">
    <ul class="footer__meta-links">
      <li class="footer__meta-non-link">
        <p>&copy; Events Matter UG</p>
      </li>
      <li>
        <a href="https://mainmatter.com/rust-consulting/?utm_source=eurorust" target="_blank" rel="noopener noreferrer">Presented by Mainmatter</a>
      </li>
      <li>
        <a href="/2022">2022</a>
      </li>
      <li>
        <a href="/2023">2023</a>
      </li>
      <li>
        <a href="/2024">2024</a>
      </li>
      <li>
        <a href="/">2025</a>
      </li>
    </ul>
  </div>
</aside>

<footer class="end">
  <div class="footer__container">
    <div class="footer__meta-container">
      <ul class="footer__meta-pages pt-4">
        <li>
          <a href="/sponsorship-prospectus-2025.pdf">Sponsorships</a>
        </li>
        <li>
          <a href="https://www.papercall.io/eurorust-2025" target="_blank">Call for Papers</a>
        </li>
        <li>
          <a href="/code-of-conduct">Code of Conduct</a>
        </li>
        <li>
          <a href="/privacy">Privacy Policy</a>
        </li>
      </ul>
      <ul class="footer__meta-pages py-4">
        <li>
          <a href="/cancellation">Cancellation Policy</a>
        </li>
        <li>
          <a href="/imprint">Imprint</a>
        </li>
        <li>
          <a href="/image-credits">Image Credits</a>
        </li>
      </ul>
      <ul class="footer__meta-social pt-4">
        <li>
          <a
          class="btn__icon"
          href="https://www.youtube.com/@eurorust"
          target="_blank"
          rel="noopener noreferrer"><img src="/images/icons/youtube.svg" alt="YouTube" width="42" height="42"></a>
        </li>
        <li>
          <a
          class="btn__icon"
          href="https://fosstodon.org/@eurorust"
          target="_blank"
          rel="noopener noreferrer"><img src="/images/icons/mastodon.svg" alt="Mastodon" width="42" height="42"></a>
        </li>
        <li>
          <a
          class="btn__icon"
          href="https://bsky.app/profile/eurorust.eu"
          target="_blank"
          rel="noopener noreferrer"><img src="/images/icons/bluesky.svg" alt="Bluesky" width="42" height="42"></a>
        </li>
        <li>
          <a
          class="btn__icon"
          href="https://twitter.com/euro_rust"
          target="_blank"
          rel="noopener noreferrer"><img src="/images/icons/twitter.svg" alt="Twitter" width="42" height="42"></a>
        </li>
        <li>
          <a
          class="btn__icon"
          href="http://eepurl.com/h5i1k1"
          target="_blank"
          rel="noopener noreferrer"><img src="/images/icons/mail-icon.svg" alt="Mail" width="42" height="42"></a>
        </li>
      </ul>
      <p class="footer__meta-rust pt-8">RUST and the Rust Logo are trademarks of The Rust Foundation. Used with permission.</p>
    </div>
</div>
</footer>
