<aside class="pre-footer">
  <img class="footer__image" src="images/cursor.png" alt="" role="presentation" loading="lazy" />
  <div class="separator__bottom">
    <div class="separator__content"></div>
  </div>
</aside>
<footer class="footer">
  <div class="footer__container">
    <ul class="footer__meta-links">
      <li class="footer__meta-non-link">
        <p>&copy; Events Matter UG</p>
      </li>
      <li>
        <a
          href="https://mainmatter.com/rust-consulting/?utm_source=eurorust"
          target="_blank"
          rel="noopener noreferrer"
          class="footer__link"
          >Presented by Mainmatter</a
        >
      </li>
      <li>
        <a 
          href="/2022"
          class="footer__link"
          >2022</a
        >
      </li>
      <li>
        <a
          href="/2023"
          class="footer__link">2023</a
        >
      </li>
      <li>
        <a
          href="/2024"
          class="footer__link">2024</a
        >
      </li>
      <li>
        <a
          href="/2025"
          class="footer__link">2025</a
        >
      </li>
       <li>
        <a
          href="/"
          class="footer__link"
          >2026</a
        >
      </li>
    </ul>
      <ul class="footer__meta-pages">
        <li>
          <a 
            href="/2026-sponsorship-prospectus.pdf"
            class="footer__link">Become a Sponsor</a
            >
        </li>
        <li>
          <a 
            href="/code-of-conduct"
            class="footer__link">Code of Conduct</a
            >
        </li>
        <li>          
          <a
            href="/privacy"
            class="footer__link">Privacy Policy</a
            >
        </li>
        <li>
          <a
            href="/imprint"
            class="footer__link">Imprint</a
            >
        </li>
      </ul>
      <ul class="footer__meta-social pt-4">
        <li>
          <a
            class="btn__icon"
            href="https://www.youtube.com/@eurorust"
            target="_blank"
            rel="noopener noreferrer"
            ><img src="/images/icons/youtube-dark.svg" alt="YouTube" width="42" height="42"
          /></a>
        </li>
        <li>
          <a
            class="btn__icon"
            href="https://fosstodon.org/@eurorust"
            target="_blank"
            rel="noopener noreferrer"
            ><img src="/images/icons/mastodon-dark.svg" alt="Mastodon" width="42" height="42"
          /></a>
        </li>
        <li>
          <a
            class="btn__icon"
            href="https://bsky.app/profile/eurorust.eu"
            target="_blank"
            rel="noopener noreferrer"
            ><img src="/images/icons/bluesky-dark.svg" alt="Bluesky" width="42" height="42"
          /></a>
        </li>
        <li>
          <a
            class="btn__icon"
            href="https://twitter.com/euro_rust"
            target="_blank"
            rel="noopener noreferrer"
            ><img src="/images/icons/twitter-dark.svg" alt="Twitter" width="42" height="42"
          /></a>
        </li>
        <li>
          <a
            class="btn__icon"
            href="http://eepurl.com/h5i1k1"
            target="_blank"
            rel="noopener noreferrer"
            ><img src="/images/icons/mail-icon-dark.svg" alt="Mail" width="42" height="42"
          /></a>
        </li>
      </ul>
      <p class="footer__meta-rust">
        RUST and the Rust Logo are trademarks of The Rust Foundation. Used with permission.
      </p>

  </div>
</footer>
