<section class="get-involved">
	<div class="actions">
		<a href="https://twitter.com/euro_rust" class="social-link twitter" alt="follow us on twitter" target="_blank"
			rel="noopener noreferrer">Follow us on
			Twitter</a>
		<a href="https://twitter.com/euro_rust" class="neon book-ticket" alt="book your ticket" target="_blank"
			rel="noopener noreferrer">Book
			Your Ticket</a>
		<a href="http://eepurl.com/h5i1k1" class="social-link mailing-list" alt="sign up to mailing list"
			target="_blank" rel="noopener noreferrer">Sign up to
			mailing list</a>
	</div>
	<div class="rustfest-promo">
		<p>EuroRust is part of the RustFest family of events</p>
		<a href="https://rustfest.eu/" class="rustfest-link" target="_blank" rel="noopener noreferrer">
			<img src="/images/rustfest-logo.svg" alt="RustFest" />
		</a>
	</div>
</section>