<section class="get-involved py-4 border-b">
	<div class="container actions">
		<a
        href="https://fosstodon.org/@eurorust"
        target="_blank"
        rel="noopener noreferrer" class="btn__secondary social-link mastodon" alt="follow us on mastodon">Follow us on Mastodon</a>
		<a
        href="https://bsky.app/profile/eurorust.eu"
        target="_blank"
        rel="noopener noreferrer" class="btn__secondary social-link bluesky" alt="follow us on bluesky">Follow us on Bluesky</a>                
		<a 
		href="https://twitter.com/euro_rust"
		target="_blank"
		rel="noopener noreferrer" class="btn__secondary social-link twitter" alt="follow us on twitter">Follow us on Twitter</a>
		<a 
		href="http://eepurl.com/h5i1k1"
		target="_blank"
		rel="noopener noreferrer" class="btn__secondary social-link mailing-list" alt="sign up to mailing list">Sign up to mailing list</a>
	</div>
</section>