<section class="hero" id="hero">
    <div class="hero__grid container">
        <div class="hero__grid-element">
            <div class="hero__wrapper-meta">
                <p class="large">
                    October 9 and 10, 2025
            </p>
                <p class="large">
                Paris and online
            </p>
            </div>
            <div class="hero__wrapper-graphic">
                <div class="logo-wrapper">
                <img class="logo" alt="logo euroust" src="/images/eurorust-logo.png">
                <img class="logo-white" alt="logo euroust" src="/images/eurorust-logo-light.png">
                </div>
                <canvas class="canvas__hero"></canvas>
            </div>
        </div>
        <div class="hero__grid-element">
            <div class="hero__wrapper-content">
                <h1 class="h1 pb-7">
            Thank you and see you in 2025!
            </h1>
                <p class="pb-8 mw-70">
            We are Eurorust, a 2 day conference for the European Rust community. We cover all things Rust: from Rust patterns and idioms to system programming and CLI tooling, servers WASM and embedded systems
            </p>
                {# <div class="btn__primary">
                    <tito-button event="events-matter/eurorust-2024" save-metadata-parameters="utm_*" class="btn__primary--link">Get your ticket</tito-button>
                </div> #}
            </div>
        </div>
    </div>

</section>
