<section class="hero" id="hero">
  <div class="hero__grid">
    <div class="hero__grid-meta">
      <p class="hero__grid-meta-info">
        October 9 and 10, 2025<br>
        Paris and online
      </p>
      <div class="hero__grid-logo-wrapper">
        <img class="logo" alt="logo euroust" src="/images/logo.svg">
      </div>
      <canvas class="hero__grid-canvas"></canvas>
    </div>
    <div class="hero__grid-content">
      <div>
        <h2>
          2 day Conference for the European Rust Community
        </h2>
        <p class="hero__grid-content-about">
          We cover all things Rust: from Rust patterns and idioms to system programming and CLI tooling, servers WASM and embedded systems
        </p>
      </div>
      <tito-button event="events-matter/eurorust-2025" save-metadata-parameters="utm_*" class="hero__grid-content-ticket-button">Get tickets</tito-button>
    </div>
  </div>
</section>
