<section class="moderators">
  <div class="container py-10">
      <h2 class="mb-9">Moderators</h2>
      <ul class="speakers-list">
        {% for moderator in section.extra.moderators %}
          <li>
            <div class="photo-container">
              <div class="photo-container-overlay"></div>
              <img
            alt="{{ moderator.name }} moderator profile photo"
            src="/images/moderators/{{moderator.image}}"
            class="photo"/>
            </div>
            <p class="large mt-4">
              {{ moderator.name }}
            </p>
            <ul class="social mt-3">
              {% if moderator.twitter %}
                <li>
                  <a
        href="https://twitter.com/{{ moderator.twitter }}"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/images/icons/twitter-footer-white.svg" alt="Twitter icon"/></a>
                </li>
              {% endif %}
              {% if moderator.web %}
                <li>
                  <a
        href="{{ moderator.web }}"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/images/icons/external-link-white.svg" alt="email icon"/></a>
                </li>
              {% endif %}

            </ul>
          </li>
        {% endfor %}
      </ul>
  </div>
</section>