<section class="moderators">
  <h3>Moderators</h3>
  <ul class="moderators-list">
    <li>
      <div class="photo-container">
        <picture>
          <img
            alt="Sara Vieira profile photo"
            src="/images/moderators/sara-vieira.jpg"
            class="photo" />
        </picture>
      </div>
      <a href="/moderators/sara-vieira" alt="Sara Vieira">Sara Vieira</a>
      <div class="links">
        <a
          href="https://twitter.com/NikkitaFTW"
          target="_blank"
          rel="noopener noreferrer"><img alt="twitter icon" src="/images/icons/twitter-white.svg" /></a>
        <a
          href="https://iamsaravieira.com"
          target="_blank"
          rel="noopener noreferrer"><img alt="external link icon" src="/images/icons/external-link-white.svg" /></a>
      </div>
    </li>
    <li>
      <div class="photo-container">
        <picture>
          <img
            alt="Stefan Baumgartner profile photo"
            src="/images/speakers/stefan.jpg"
            class="photo" />
        </picture>
      </div>
      <a href="/speakers/stefan-baumgartner/" alt="Stefan Baumgartner">Stefan Baumgartner</a>
      <div class="links">
        <a
          href="https://twitter.com/ddprrt"
          target="_blank"
          rel="noopener noreferrer"><img alt="twitter icon" src="/images/icons/twitter-white.svg" /></a>
        <a
          href="https://fettblog.eu"
          target="_blank"
          rel="noopener noreferrer"><img alt="external link icon" src="/images/icons/external-link-white.svg" /></a>
      </div>
    </li>
  </ul>
</section>