<nav class="nav">
  <div class="nav__wrapper">
    <div class="nav__logo">
      <a href="/" class="link">
        <h1>EuroRust</h1>
      </a>
    </div>
    <div class="nav__links">
      <div class="nav__links-mm">
        Presented by
        <a href="https://www.mainmatter.com/rust?utm_source=eurorust" target="_blank"><img src="/images/mainmatter-logo-light.svg" /></a>
      </div>
      <a href="https://ti.to/events-matter/eurorust-2026" class="nav__tito-button" target="_blank">Get your ticket</a>
    </div>
  </div>
</nav>
