<nav>
    <div class="nav__wrapper border-y py-4">
        <div class="nav__logo">
                <img class="logo" alt="logo euroust" src="/images/logo-horizontal.png">
            </div>
        <div class="nav__links">
            <ul class="social">
                <li>
                    <a
        href="#"
        target="_blank"
        rel="noopener noreferrer" class="btn__secondary">Book your ticket</a>
                </li>
                <div class="social_inner">
                <li>
                    <a
        href="https://fosstodon.org/@eurorust"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/images/icons/mastodon.svg" alt="Mastodon icon"/></a>
                </li>
                <li>
                    <a
        href="https://twitter.com/euro_rust"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/images/icons/twitter-footer-white.svg" alt="Twitter icon"/></a>
                </li>
                <li>
                    <a
        href="#"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/images/icons/mail-icon.svg" alt="email icon"/></a>
                </li>
                </div>
            </ul>
        </div>
    </div>
</nav>