<nav class="nav">
  <div class="nav__wrapper">
    <a class="nav__logo" href="#hero"><img class="logonavbardesktop-icon" src="/images/fdiaz/logo-header.svg"
        alt="Eurorust Logo"></a>
    <a class="nav__menu_btn"><img class="logonavbardesktop-icon" src="/images/fdiaz/mobile-burger.png"
        alt="Eurorust Logo"></a>
    <ul class="nav__links">
      <li class="nav__links-mm">
        <a href="#sponsors">Sponsors</a>
      </li>
      <li class="nav__links-mm">
        <a href="#speakers">Speakers</a>
      </li>
      <li class="nav__links-mm">
        <a href="#venue">venue</a>
      </li>
      <a class="button solid" href="https://ti.to/events-matter/eurorust-2026" target="_blank">Get your ticket</a>
    </ul>
  </div>
</nav>