<section class="past-speakers">
  <h3 class="pill-title">{{ section.extra.section.speakers.title }}</h3>
  <ul class="speakers">
    {% for speaker in section.extra.speakers %}
    <li>
      <div class="photo-container">
        <img alt="{{ speaker.name }} speaker profile photo" src="/images/speakers/{{speaker.image}}.jpeg"
          class="photo" />
      </div>
      <p>{{ speaker.name }}</p>
      <div class="links">
        <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank" rel="noopener noreferrer"><img
            alt="twitter icon" src="/images/icons/twitter-white.svg" /></a>
        <a href="{{ speaker.web }}" target="_blank" rel="noopener noreferrer"><img alt="external link icon"
            src="/images/icons/external-link-white.svg" /></a>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>