<section class="sponsors">
  <h1 class="pb-6">Past Sponsors</h1>
  <div class="sponsors-grid">
    <div class="sponsors-grid--main_partners">
      {% for sponsor in section.extra.past_sponsors %}
        <a href="{{ sponsor.link }}" aria-label="{{ sponsor.title }}" rel="noopener noreferrer">
          {% set meta = get_image_metadata(path=sponsor.image) %}
          <img
            alt="{{ sponsor.title }}"
            src="{{ sponsor.image }}"
            width="{{ meta.width }}"
            height="{{ meta.height }}"
            loading="lazy"
          />
        </a>
      {% endfor %}
    </div>
  </div>
</section>
