<section class="speakers">
    <div class="container py-10">
        <h5 class="mb-4">{{ section.extra.section.speakers.title }}</h5>
        <h2 class="mb-9">These experts (and many others) talked about Rust at EuroRust 2023</h2>
        <ul class="speakers-list">
            {% for speaker in section.extra.speakers %}
                <li>
                    <div class="photo-container">
                        <div class="photo-container-overlay">
                        </div>
                        <img
            alt="{{ speaker.name }} speaker profile photo"
            src="/images/speakers/{{speaker.image}}"
            class="photo"/>
                    </div>
                    <p class="large mt-4">
                        {{ speaker.name }}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>