<section class="schedule-overview">
  <div class="container">
    <h1 id="schedule mb-2">Schedule Overview</h1>
    <div class="workshops p-4">
      <h3 class="mt-4">Pre Conference Day</h3>
      <h4 class="mt-3 mb-6">October 8, 2025</h4>
      <ul class="m-4">
        <li><strong>10:00&ndash;16:00</strong> Workshops</li>
        <li><strong>During the day and in the evening:</strong> Side activities</li>
      </ul>
    </div>
    <div class="workshops p-4">
      <h3 class="mt-4">Conference Day 1</h3>
      <h4 class="mt-3 mb-6">October 9, 2025</h4>
      <ul>
        <li><strong>9:00</strong> Doors open</li>
        <li><strong>10:00&ndash;18:00</strong> Talks (main stage + side track)</li>
        <li><strong>Evening:</strong> Side activities</li>
      </ul>
    </div>
    <div class="workshops p-4">
      <h3 class="mt-4">Conference Day 2</h3>
      <h4 class="mt-3 mb-6">October 10, 2025</h4>
      <ul>
        <li><strong>9:00</strong> Doors open</li>
        <li><strong>10:00&ndash;18:00</strong> Talks (main stage + side track)</li>
        <li><strong>Evening:</strong> Closing party</li>
      </ul>
    </div>
    <div class="workshops p-4">
      <h3 class="mt-4">Post Conference Day</h3>
      <h4 class="mt-3 mb-6">October 11, 2025</h4>
      <ul class="m-4">
        <li><strong>During the day:</strong> Side activities</li>
      </ul>
    </div>
  </div>
</section>
