{% set schedule = load_data(path = "data/schedule.json") %}
<section class="schedule">
  {% for day in schedule %}
    <div class="day">
      <div class="content">
        <h3>Day {{loop.index}}</h3>
        <h4>{{day.date}}</h4>
        <p class="timezones-note">Times are local, CEST</p>
        <table>
          {% for talk in day.talks %}
          <tr>
            <td class="time">
              {{talk.time}}
            </td>
            <td class="title">
              {{talk.title | safe}}
              {% if talk.speakers %}
                – 
                {% for speaker in talk.speakers %}
                  {% set path = "speakers/" ~ speaker ~ ".md" %}
                  {% set speaker = get_page(path = path) %}
                  <a href="{{speaker.path}}" class="speaker">{{speaker.extra.name}}</a>
                {% endfor %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <a class="full-schedule-link" href="/schedule/day/{{loop.index}}">See Full Schedule</a>
    </div>
  {% endfor %}
</section>