<section class="schedule border-t py-10">
  <div class="container">
  <h5 class="mb-4">Schedule</h5>
        <h2 class="mb-9">This is your EuroRust experience</h2>
  <div class="schedule__grid day-one">
    <div class="schedule__main-stage pe-9 border-r">
      <h4 class="mb-4">Main stage</h4>
      <ol>
        <li class="mb-3">
        <p class="large">9:00 - 18:00</p>
        <p>Talks</p>
      </li>
      </ol>
    </div>

    <div class="schedule__side-track ps-9">
    <h4 class="mb-4">Side track</h4>
      <ol>
        <li class="mb-3">
        <p class="large">9:00 - 12:00</p>
        <p>tba</p>
      </li>
      <li class="mb-3">
        <p class="large">13:30 - 15:30</p>
        <p>Deep Dive Talks</p>
      </li>
      <li class="mb-3">
        <p class="large">16:00 - 18:00</p>
        <p>tba</p>
      </li>
      </ol>

  </div>
  </div>

</section>