<section class="schedule border-t py-10">
  <div class="container">
    <h5 class="mb-4">Schedule</h5>
    <h2 class="mb-7">This is your EuroRust experience</h2>
    <div class="workshops mb-9">
      <h4 class="mb-4">Workshop Day - Oct. 9th, 2024</h4>
      <p>Paragraph of text TBA</p>
    </div>
    <div class="conference mb-7">
      <h4>Conference Days - Oct. 10th + 11th, 2024</h4>
    </div>
    <div class="schedule__grid day-one mb-10">
      <div class="schedule__main-stage border-r">
        <h4 class="mb-4">Main stage</h4>
        <ol>
          <li class="mb-3">
            <p class="large">10:00 - 18:00</p>
            <p>Talks</p>
          </li>
        </ol>
      </div>
      <div class="schedule__side-track">
        <h4 class="mb-4">Side track</h4>
        <ol>
          <li class="mb-3">
            <p class="large">10:00 - 12:00</p>
            <p>tba</p>
          </li>
          <li class="mb-3">
            <p class="large">13:30 - 15:30</p>
            <p>Deep Dive Talks</p>
          </li>
          <li class="mb-3">
            <p class="large">16:00 - 18:00</p>
            <p>tba</p>
          </li>
        </ol>
      </div>
    </div>
    <div class="closing-party closing-party__grid">
      <div class="closing-party__content">
        <h4 class="mb-4">Closing Party - Oct. 11th, 18:00</h4>
        <p>Paragraph of text TBA</p>
      </div>
      <div class="closing-party__image">
        <div class="closing-party__image-overlay"></div>
        <img class="image-party" src="/images/closingparty2023.jpg" alt="closing party at eurorust 2023"/>
      </div>
    </div>

  </section>