{% set data = load_data(path="data/schedule.json") %}

<section class="schedule">
  <div class="content">
    <div class="timetable">
      {% for conference_day in data.days %}
      <div class="timetable">
        <h3 class="table-title">Day {{conference_day.day}}</h3>
        <h4 class="table-subtitle">{{ conference_day.date}}</h4>
        <h4 class="table-subtitle timezone">(Times are local, CEST)</h4>
        <table class="table schedule-table">
          {% for talk in conference_day.talks %}
          <tr>
            <td>
              <div class="talk-info">
                <p class="h3 table-entry time">{{ talk.time }}</p>
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <p class="h3 table-entry talk-title">{{ talk.title }}</p>
                {% if not talk.isBreak and talk.speaker %}
                <div id="{{ talk.id }}" class="speaker">
                  {% if not talk.hideLink %}
                  <a href="/speakers/{{ talk.id }}" alt="speaker profile">
                    {% endif %}
                    <p class="table-entry name">{{ talk.speaker }}</p>
                    {% if not talk.hideLink %}
                  </a>
                  {% endif %}
                </div>
                {% endif %}
                {% if not talk.isBreak and talk.speaker2 %}
                <div id="{{ talk.id2 }}" class="speaker">
                  {% if not talk.hideLink %}
                  <a href="/speakers/{{ talk.id2 }}" alt="speaker profile" class="name">
                    {% endif %}
                    <p class="name">{{ talk.speaker2 }}</p>
                    {% if not talk.hideLink %}
                  </a>
                  {% endif %}
                </div>
                {% endif %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% endfor %}
      <div class="full-schedule">
        <a href="/schedule"> See full schedule </a>
      </div>
    </div>
  </div>
</section>