<section class="speakers">
  <div class="container py-10">
    {% if section.extra.speakers %}
      <h2 class="mb-9">{{ section.extra.section.speakers.title }}</h2>
      <ul class="speakers-list">
        {% for speaker in section.extra.speakers %}
          <li>
            <div class="photo-container">
              <div class="photo-container-overlay"></div>
              <img
            alt="{{ speaker.name }} speaker profile photo"
            src="/images/speakers/{{speaker.image}}"
            class="photo"/>
            </div>
            <p class="large mt-4">
              <a href="{{ speaker.link }}" class="speaker_link">{{ speaker.name }}</a>
            </p>
            <p class="">
              {{ speaker.job_title }}
            </p>
            <ul class="social mt-3">
              <li>
                <a
        href="https://twitter.com/{{ speaker.twitter }}"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/images/icons/twitter-footer-white.svg" alt="Twitter icon"/></a>
              </li>
              <li>
                <a
        href="{{ speaker.web }}"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/images/icons/external-link-white.svg" alt="email icon"/></a>
              </li>

            </ul>
          </li>
        {% endfor %}
      </ul>
      <div class="center mt-10">
        <div class="btn__primary">
          <a href="https://www.papercall.io/events/6500" target="_blank" rel="noopener noreferrer" class="btn__primary--link">Submit a talk</a>
        </div>
      </div>
    {% endif %}
  </div>
</section>