<section class="sponsors">
  <p class="thanks_message">THANKS TO OUR SPONSORS</p>
  <div class="sponsors-grid-container">
    {% if section.extra.sponsors.premier_partners %}
    <div>
      <p>Premier Partner{% if section.extra.sponsors.premier_partners | length > 1 %}s{% endif %}</p>
      <div class="sponsors-grid premier-partners">
        {% for premier_partner in section.extra.sponsors.premier_partners %}
        <a href="{{ premier_partner.link }}" alt="{{ premier_partner.title }}">
          <img alt="{{ premier_partner.title }} logo"
            src="/images/sponsors/current_sponsors/{{ premier_partner.title }}.{{ premier_partner.image_format }}" />
        </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if section.extra.sponsors.head_partners %}
    <div>
      <p>Head Partner{% if section.extra.sponsors.head_partners | length > 1 %}s{% endif %} + One of a kind</p>
      <div class="sponsors-grid head-partners">
        {% for head_partner in section.extra.sponsors.head_partners %}
        <a href="{{ head_partner.link }}" alt="{{ head_partner.title }}">
          <img alt="{{ head_partner.title }} logo"
            src="/images/sponsors/current_sponsors/{{ head_partner.title }}.{{ head_partner.image_format }}" />
        </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if section.extra.sponsors.partners %}
    <div>
      <p>Partner{% if section.extra.sponsors.partners | length > 1 %}s{% endif %}</p>
      <div class="sponsors-grid partners">
        {% for partner in section.extra.sponsors.partners %}
        <a href="{{ partner.link }}" alt="{{ partner.title }}">
          <img alt="{{ partner.title }} logo"
            src="/images/sponsors/current_sponsors/{{ partner.title }}.{{ partner.image_format }}" />
        </a>
        {% endfor %}
      </div>
    </div>
    {% endif %} {% if section.extra.sponsors.supporters %}
    <div>
      <p>Supporter{% if section.extra.sponsors.supporters | length > 1 %}s{% endif %}</p>
      <div class="sponsors-grid supporters">
        {% for supporter in section.extra.sponsors.supporters %}
        <a href="{{ supporter.link }}" alt="{{ supporter.title }}">
          <img alt="{{ supporter.title }} logo"
            src="/images/sponsors/current_sponsors/{{ supporter.title }}.{{ supporter.image_format }}" />
        </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</section>