<section class="venue">
	<h3>conference venue</h3>
	<div class="image-venue-container">
		<img class="image-venue" src="/images/venue/loewe-saal-2023.png" alt="venue picture" />
	</div>

	<p>EuroRust will take place in the Loewe Saal in Berlin's Tiergarten district. The venue is located at
		Wiebestraße
		42-45.
		It has a spacious main hall, as well as a large court area.</p>
	<a class="map-link" href="https://goo.gl/maps/Vaj5U4Ho2cQ2Yfbt8" alt="Google Maps for conference venue address">Check on Map</a>
</section>