<div id="venue" class="container venue">
  <h2>Venue</h2>
  <div class="box">
      <img class="venue-image" src="/images/fdiaz/venue image.png" alt="">
    <div class="venue-description">
      <h4>This year EuroRust is going to Barcelona, Spain. You'll find us at Auditori L’illa, right in the heart of
        the city. <br>Come for EuroRust, stay to explore Barcelona!</h4>
        <a class="button lined" href="https://maps.app.goo.gl/MEGq17W6g4dniPTY8" target="_blank">See On Map</a>
    <img class="venue-icon" src="/images/fdiaz/distance.svg" alt="Venue Icon">
  </div>
</div>