<section class="venue">
  <h1 class="pb-8">Venue</h1>
  <picture>
    <source
      srcset="/images/venue-short.webp"
      media="(max-width: 60rem)"
    />
    <img
      src="/images/venue.webp"
      alt="Sketch of the Cite des Sciences in Paris with a photo of the sphere outside"
      width="2439"
      height="530"
    >
  </picture>
  <div class="venue__description">
    <p class="pb-4">
      Our venue this year is the fantastic Cité des Sciences et de l'Industrie in Paris. Come for Eurorust, stay for the science!
    </p>
    <a href="https://maps.app.goo.gl/Kay6EEX1vZUc1yjcA" class="map-button mb-3" target="_blank">See on map</a>
  </div>
</section>
