<div class="container py-8">
  <div class="sponsor__grid">
    <div class="sponsor__grid-title">
      <h5 class="mb-4">Workshop venue</h5>
    </div>
    <div class="sponsor__grid-name">
      <h2 class="mb-4">Cité des sciences et de l'industrie</h2>
    </div>
    <div class="sponsor__grid-bio blurred-background">
      <p class=""></p>
      <p class="mb-4">
        Workshops held on October 9 and 10 will take place in the main conference venue, Cité des sciences et de l'industrie.
      </p>
      <a href="https://maps.app.goo.gl/EQRqFQK1dyVkxvNeA" target="_blank">View on map</a>
    </div>
    <div class="sponsor__grid-photo-links">
      <div class="photo-container">
        <img class="image-workshop-venue" src="/images/cite.jpg" alt="venue picture" />
      </div>
    </div>
  </div>
</div>
