<section class="workshop-schedule border-t py-10">
  <div class="container">
    <h1 class="mb-4">Workshops</h1>
    <p class="mb-4 workshop-cta">Deepen your Rust skills hands-on!</p>
    {% set workshops = load_data(path = "data/workshops.json") %}
      <div class="workshop-schedule__grid">
       {% for workshop in workshops %}
          <div class="mb-4">
            <div class="activity-card activity-card__workshop">
              {% set path = "workshops/" ~ workshop.slug~ ".md" %}
              {% set workshopData = get_page(path = path) %}
              
                <div class="activity-card__content">
                  <h3>{{ workshop.title }}</h3>
                  {% if workshop.sponsor %}
                    <p>This workshop is sponsored by {{ workshop.sponsor }}.</p>
                  {% endif %}
                  {%for mentor in workshop.mentors %}
                    <p class="mentor mt-3">{{ mentor }}</p>
                  {% endfor %}
                  <a class="activity-card__link" href="{{workshopData.path}}">
                    <p class="workshop-schedule__cta mt-0">Learn more</p>
                  </a>
                </div>
            </div>
          </div>
        {% endfor %}
        </div
    
  </section>
