<div class="container py-8">
  <div class="sponsor__grid">
    <div class="sponsor__grid-title">
      <h5 class="mb-4">Workshop venue</h5>
    </div>
    <div class="sponsor__grid-name">
      <h2 class="mb-4">Fiap Paris</h2>
    </div>
    <div class="sponsor__grid-bio blurred-background">
      <p class=""></p>
      <p class="mb-4">
        All October 8 workshops will take place in Fiap.Paris, located at 30 Rue Cabanis, 75014 Paris, France.
      </p>
      <a href="https://maps.app.goo.gl/KVWt3iy6rVuuQQ3h7" target="_blank">View on map</a>
    </div>
    <div class="sponsor__grid-photo-links">
      <div class="photo-container">
        <img class="image-workshop-venue" src="/images/fiap.jpg" alt="venue picture" />
      </div>
    </div>
  </div>
</div>
