<div class="container py-8">
  <div class="sponsor__grid">
    <div class="sponsor__grid-title">
      <h5 class="mb-4">Workshop venue</h5>
    </div>
    <div class="sponsor__grid-name">
      <h2 class="mb-4">WeWork Glories Barcelona</h2>
    </div>
    <div class="sponsor__grid-bio">
      <p class=""></p>
      <p class="mb-4">
        The EuroRust workshops will take place in WeWork Glories Barcelona, located at
        Carrer Tànger 86 Barcelona, B 08018.
      </p>
      <a href="https://maps.app.goo.gl/7Z6BTBWQxF3JDxp78" target="_blank" rel="noopener noreferrer">View on map</a>
    </div>
    <div class="sponsor__grid-photo-links">
      <div class="photo-container">
        <img
          class="image-workshop-venue"
          src="/images/workshops/location-glories.webp"
          alt="WeWork Glories Barcelona workshop venue"
        />
      </div>
    </div>
  </div>
</div>
