<section class="schedule border-t py-10">
  <div class="container">
    <h2 class="h5 mb-4">Workshops</h2>
    <p class="h2 mb-4">Deepen your Rust skills hands-on!</p>
    <div class="workshops mb-9">
    {% set workshops = load_data(path = "data/workshops.json") %}
      <p class="mb-5 mw-70">The EuroRust workshops will take place in a separate venue in the city center – details to be announced soon.</p>
      <ol>
        {% for workshop in workshops %}
          <li class="mb-7 border">
            <p class="h4 p-4 border-b" id="workshop-{{ loop.index }}">{{ workshop.title }}</p>
            <div class="p-4">
              <p>{{ workshop.date }}, {{ workshop.time }}</p>
              <p>This workshop is instructed by {{ workshop.mentor}}</p>
              {% if workshop.sponsor %}
              <p>This workshop is sponsored by {{ workshop.sponsor}}</p>
              {% endif %}
              <p class="mt-3"><a href="/workshops/{{ workshop.slug }}" aria-describedby="workshop-{{ loop.index }}">More information</a></p>
            </div>
          </li>
        {% endfor %}
        </ol>
    </div>

    <div class="workshops__image mt-10">
				<img class="image-oval" src="/images/oval.png" alt=""/>
		</div>
  </section>
