<section class="venue pb-10">
	<div class="container">
		<div class="venue__grid">
			<div class="venue__wrapper-image">
				<div class="venue__wrapper-image-overlay"></div>
				<img class="image-workshop-venue" src="/images/wexelerate.jpg" alt="venue picture"/>
			</div>
			<div class="venue__wrapper-content">
				<h5 class="mb-4">Workshop Venue</h5>
				<h2 class="mb-4">The place to learn</h2>
				<p class="mb-8">The EuroRust workshops will take place in WEXELERATE, located at <a class="btn__secondary" href="https://maps.app.goo.gl/APG7SV8pm7qkycPV6" alt="Google Maps for workshop venue address"
					target="_blank" rel="noopener noreferrer">Praterstrasse 1, 1020 Vienna, Austria.</a></p>
			</div>
		</div>
	</div>
</section>
