<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="EuroRust - the European Full Stack Rust Conference" />
  <meta name="keywords" content="" />
  <meta name="language" content="en" />
  <meta name="content-language" content="en" />
  <meta name="publisher" content="EuroRust" />
  <title>EuroRust – October 13-14, Berlin and online</title>
  <link rel="stylesheet" href="/app.css" />
  <link rel="icon" type="image/x-icon" href="/images/icons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="/images/icons/favicon-192x192.png" />
  <link rel="icon" type="image/png" sizes="256x256" href="/images/icons/favicon-256x256.png" />
  <link rel="stylesheet" href="https://css.tito.io/v1.1" />
  <script src="https://js.tito.io/v1" async></script>
  <script>
    TitoDevelopmentMode = window.location.hostname === "localhost";
  </script>
</head>

<body>
  {% include "partials/main_header.html" %}
  {% block content %} {% endblock %}
  {% include "partials/footer.html" %}
</body>

</html>