<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="EuroRust - the European Full Stack Rust Conference" />
  <meta name="keywords" content="" />
  <meta name="language" content="en" />
  <meta name="content-language" content="en" />
  <meta name="publisher" content="EuroRust" />
  <title>EuroRust 2023, October 12–13, Brussels & online</title>
  <link rel="stylesheet" href="/app.css" />
  <script type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@0.161.0/build/three.module.js",
      "three/addons/": "https://unpkg.com/three@0.161.0/examples/jsm/"
    }
  }
</script>
  <link rel="icon" type="image/x-icon" href="/images/icons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="/images/icons/favicon-192x192.png" />
  <link rel="icon" type="image/png" sizes="256x256" href="/images/icons/favicon-256x256.png" />
  <!--  Essential META Tags -->
  <meta property="og:title" content="EuroRust 2023, October 12–13, Brussels & online" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="/" />
  <meta property="og:image" content="/images/euro-rust-2023-social.png" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="EuroRust 2023, October 12–13, Brussels & online">
  <meta name="twitter:description" content="2 day conference for the European Rust community">
  <meta name="twitter:image" content="/images/euro-rust-2023-social.png">

  <!--  Non-Essential, But Recommended -->
  <meta property="og:description" content="2 day conference for the European Rust community">
  <meta property="og:site_name" content="EuroRust">
  <meta name="twitter:image:alt" content="EuroRust 2023">

  <!--  Non-Essential, But Required for Analytics -->
  <meta name="twitter:site" content="@euro_rust">

  {% block head %} {% endblock %}
  <script defer data-domain="eurorust.eu" src="https://plausible.io/js/script.tagged-events.outbound-links.js"></script>
  <script type="module" src="/js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
  
</head>

<body>
  {% block content %} {% endblock %}
</body>

</html>