{% extends "base.html" %}

{% block head %}
<link rel="preload" as="image" href="/images/background-generic-1.webp" media="(min-width: 640.1px)">
<link rel="preload" as="image" href="/images/background-generic-mobile-1.webp" media="(max-width: 640px)">
<link rel="preload" as="image" href="/images/logo-mobile.webp" media="(min-width: 640.1px)">
<link rel="preload" as="image" href="/images/logo-compact.webp" media="(max-width: 640px)">
{% endblock head %}

{% block content %}

<div class="generic-block {{ page.title | lower | replace(from=' ', to='_')  }}">

  {% include "sections/nav.html" %}

  <main>
    <section class="generic-content container py-5">
      <h3 class="title">{{ page.title }}</h3>
      {% if page.extra.subtitle %}
      <h3>{{ page.extra.subtitle }}</h3>
      {% endif %}
      {{ page.content | safe }}
    </section>
  </main>

  {% include "sections/footer.html" %}
</div>

{% endblock content %}