{% extends "base.html" %}

{% block content %}
  <div class="generic-block {{ page.title | lower | replace(from=' ', to='_') }}">
    {% include "sections/nav.html" %}

    <main tabindex="-1" id="main">
      <section class="generic-content container py-8">
        <h1 class="title pb-6">{{ page.title }}</h1>
        {% if page.extra.subtitle %}
          <h3 class="mb-3">{{ page.extra.subtitle }}</h3>
        {% endif %}
        {{ page.content | safe }}
      </section>
    </main>

    {% include "sections/footer.html" %}
  </div>
{% endblock content %}
