{% extends "base.html" %}

{% block content %}
  {% include "sections/nav.html" %}
  <main tabindex="-1" id="main" class="sections">
    {% include "sections/hero.html" %}
    <!-- TODO: RustFest -->
    <!-- TODO: about EuroRust -->
    {% include "sections/speakers.html" %}
    {% include "sections/submit.html" %}
    {% include "sections/venue.html" %}
    <!-- TODO: mood video -->
    {% include "sections/presented-by.html" %}
    {% include "sections/sponsors.html" %}
  </main>
  {% include "sections/footer.html" %}
{% endblock content %}
