{% extends "base.html" %}
{% block og_image %}
  <meta property="og:image" content="{{ config.base_url | safe }}{{ page.extra.ogimage | safe }}" />
  <meta name="twitter:image" content="{{ config.base_url | safe }}{{ page.extra.ogimage | safe }}" />
{% endblock %}

{% block head %}
  <script>
    if (!window.tito) {
      var script = document.createElement("script");
      script.src = `https://js.tito.io/v2${
        ["localhost", "127.0.0.1"].includes(window.location.hostname) ? "/with/development_mode" : ""
      }`;
      script.async = true;
      document.head.appendChild(script);
    }
  </script>
{% endblock head %}

{% block content %}
  <div class="generic-block workshop {{ page.title | lower | replace(from=' ', to='_') }}">
    {% include "sections/nav.html" %}

    <main tabindex="-1" id="main">
      <section class="workshop-hero">
        <div class="container blurred-background p-1">
          <div class="mb-7 workshop-hero__topline">
            <p class="workshop-hero__details">
              <a href="/schedule" class="inline">»Schedule</a><br />
              {{ page.extra.date | safe }}<br />
              {{ page.extra.time | safe }}<br />
              Location: {{ page.extra.location_name | safe }}, {{ page.extra.location | safe }}
            </p>
            <div class="workshop-hero__sponsor-container">
              <div class="workshop-hero__sponsor">
                <p>Hosted by</p>
                <img src="/images/workshops/workshop-sponsors/amo.png" alt="amo logo" />
              </div>
            </div>
          </div>

          <div class="">
            <div class="wrapper-content">
              <div class="h1 pb-7">{{ page.title | safe }}</div>
              <div class="workshop-hero__grid">
                <h2 class="mb-4 workshop-hero__title">About</h2>
                {% if page.extra.abstract %}
                  <p class="pb-8 workshop-hero__abstract">{{ page.extra.abstract | safe }}</p>
                {% endif %}
                {% if page.extra.heroimage %}
                  <div class="photo-container">
                    <img class="photo" src="{{ page.extra.heroimage }}" alt="{{ page.extra.heroimage_alt }}" />
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="ticket-button">
        <a href="https://www.meetup.com/rust-paris/events/310424476/" class="workshop__ticket-button">Register</a>
      </section>

      <section class="workshop-sponsor mt-9 mb-4 py-6">
        <div class="container py-8">
          <div class="sponsor__grid">
            <div class="sponsor__grid-title">
              <h5 class="mb-4">Hosted by</h5>
            </div>
            <div class="sponsor__grid-name">
              <h2 class="mb-4">amo</h2>
            </div>
            <div class="sponsor__grid-bio blurred-background">
              <p class="">
                amo are building “a new kind of social company”—with apps like ID, Bump, and Sugar designed not to make you scroll endlessly at strangers, but to bring the messy, joyful chaos of real‑life friendship back into your phone’s home screen.
              </p>
            </div>
            <div class="sponsor__grid-photo-links">
              <div class="photo-container">
                <img
                  class="photo sponsor-logo"
                  src="/images/workshops/workshop-sponsors/amo.png"
                  alt="amo logo"
                />
              </div>
              <div class="links mt-5">
                <ul class="social mt-3">
                  <li>
                    <a
                      href="https://amo.co/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="btn__icon"
                      ><img src="/images/icons/web.svg" alt="Website"
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <hr class="separator" />

        <div class="container py-8">
          <div class="sponsor__grid">
            <div class="sponsor__grid-title">
              <h5 class="mb-4">Rust Meetup venue</h5>
            </div>
            <div class="sponsor__grid-name">
              <h2 class="mb-4">amo HQ</h2>
            </div>
            <div class="sponsor__grid-bio blurred-background">
              <p class=""></p>
              <p class="mb-4">
                amo will host the Paris Rust meetup in their office at {{ page.extra.location | safe }}.
              </p>
              <a href="{{ page.extra.location_url }}" target="_blank">View on map</a>
            </div>
            <div class="sponsor__grid-photo-links">
              <div class="photo-container">
                <img class="image-workshop-venue" src="/images/amo-office.jpg" alt="venue picture" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="ticket-button mb-8">
        <a href="https://ti.to/events-matter/eurorust-2025" class="workshop__ticket-button">Get tickets</a>
      </section>
    </main>

    {% include "sections/footer.html" %}
  </div>
{% endblock content %}
