{% extends "base.html" %}

{% block content %}
  <div class="clouds clouds-top">
    <div class="clouds-3"></div>
    <div class="clouds-4"></div>
  </div>

  <div class="schedule">
    {% include "sections/nav.html" %}

    <main tabindex="-1" id="main">
      <section class="schedule-hero pb-10">
        <div class="container p-1">
          <h1 class="schedule-hero__title mb-7">This is your Eurorust experience</h1>
          <div class="schedule-hero__nav schedule__day">
            <p><strong>Jump to:</strong></p>
            <ul>
              <li>
                <a href="#workshop-day">Workshop day</a>
              </li>
              <li>
                <a href="#day1">Day 1</a>
              </li>
              <li>
                <a href="#day2">Day 2</a>
              </li>
              <li>
                <a href="#post-day">Post-conference day</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      {% set schedule = load_data(path = "data/workshop-day-schedule.json") %}
      {% set_global sideCount = 0 %}
      {% set_global currentRowspan = 0 %}
      {% set_global sideRow = 0 %}
      {% for day in schedule %}
        <section id="workshop-day" class="mt-6 mb-8">
          <div class="clouds workshop__clouds">
            <div class="clouds-3"></div>
            <div class="clouds-4"></div>
          </div>
          <div class="container">
            <div class="schedule__container">
              <div class="schedule__day schedule__day--w">
                <h1>Workshop Day</h1>
                <h2 class="mt-3 mb-6">{{ day.date }}</h2>
                <div class="mobile-schedule schedule__grid day-one">
                  <div class="schedule__main-stage">
                    <h2 class="schedule__track mb-4">Workshops</h2>
                    <ol class="schedule__list">
                      <li class="schedule__day-body">
                        <p class="span-columns">
                          <strong
                            >The EuroRust workshops will take place in a separate venue,
                            <a
                              style="display:inline; text-shadow:none"
                              href="https://maps.app.goo.gl/KVWt3iy6rVuuQQ3h7"
                              target="_blank"
                              >Fiap Paris</a
                            ></strong
                          >
                        </p>
                      </li>
                      {% for activity in day.workshop %}
                        <li class="schedule__day-body">{% include "partials/activity-card-workshop.html" %}</li>
                      {% endfor %}
                    </ol>
                  </div>
                  <div class="schedule__side-track">
                    <h2 class="schedule__track mt-5 mb-5">Side activities</h2>
                    <ol class="schedule__list">
                      {% for activity in day.side %}
                        <li class="schedule__day-body">{% include "partials/activity-card-side.html" %}</li>
                      {% endfor %}
                    </ol>
                  </div>
                </div>
                <div class="desktop-schedule">
                  <table class="schedule__table">
                    <tr class="schedule__track">
                      <th scope="col" class="visually-hidden">Time</th>
                      <th scope="col"><h2>Workshops</h2></th>
                      <th scope="col" class="schedule__table-side"><h2>Side activities</h2></th>
                    </tr>
                    <tr class="schedule__bottom-line">
                      <td scope="row" class="visually-hidden"></td>
                      <td class="venue-warning">
                        <p class="pb-4">
                          <strong
                            >The EuroRust workshops will take place in a separate venue,
                            <a
                              style="display:inline; text-shadow:none"
                              href="https://maps.app.goo.gl/KVWt3iy6rVuuQQ3h7"
                              target="_blank"
                              >Fiap Paris</a
                            ></strong
                          >
                        </p>
                      </td>
                      <td class="schedule-table__side"></td>
                    </tr>
                    {% set_global sideCount = 1 %}
                    {% set_global currentRowspan = 0 %}
                    {% set_global sideRow = 0 %}
                    {% for activity in day.workshop %}
                      <tr class="schedule__day-body">
                        <td scope="row" class="visually-hidden">{{ activity.time }}</td>
                        <td
                          colspan="{% if activity.isBreak %}2{% else %}1{% endif %}"
                          class="{% if activity.isBreak %}schedule{% endif %}"
                        >
                          <!-- siderow: {{ sideRow }} count: {{ sideCount }} currentRowSpan {{ currentRowspan }} -->
                          {% include "partials/activity-card-workshop.html" %}
                        </td>
                        {% if currentRowspan and sideCount - sideRow < currentRowspan %}

                        {% else %}
                          {% if day.side[sideRow] %}
                            {% if day.side[sideRow].rowspan %}
                              {% set activity = day.side[sideRow] %}
                              {% set_global currentRowspan = activity.rowspan %}
                            {% else %}
                              {% set_global currentRowspan = 0 %}
                            {% endif %}
                            {% if not activity.isBreak %}
                              {% set activity = false %}
                              {% set activity = day.side[sideRow] %}
                              <td
                                class="schedule__table-side"
                                {% if activity.rowspan %}rowspan="{{ activity.rowspan }}"{% endif %}
                              >
                                {% include "partials/activity-card-side.html" %}
                              </td>
                            {% endif %}
                            {% set_global sideRow = sideRow + 1 %}
                          {% endif %}
                        {% endif %}
                        {% set_global sideCount = sideCount + 1 %}
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endfor %}

      {% set schedule = load_data(path = "data/schedule.json") %}
      {% set_global sideCount = 0 %}
      {% set_global currentRowspan = 0 %}
      {% set_global sideRow = 0 %}
      {% for day in schedule %}
        {% set is_day1 = loop.first %}

        {% if day.day == "1" %}
          {{ '<div class="schedule__sections">' | safe }}
          <div class="separator__top">
            <div class="separator__content"></div>
          </div>
          {{ '<div class="schedule__sections-inner">' | safe }}
        {% endif %}
        <section id="day{{ day.day }}">
          <div class="container">
            <div class="schedule__container">
              <div class="schedule__day schedule__day--{{ day.day }}">
                <h1>Conference Day {{ day.day }}</h1>
                <h2 class="mt-3 mb-6">{{ day.date }}</h2>
                <div class="mobile-schedule schedule__grid day-one">
                  <div class="schedule__main-stage">
                    <h2 class="schedule__track mb-4">Main stage</h2>
                    <ol class="schedule__list">
                      {% for activity in day.mainStage %}
                        <li class="schedule__day-body">
                          {% set_global card = activity %}
                          {% include "partials/activity-card.html" %}
                        </li>
                      {% endfor %}
                    </ol>
                  </div>
                  <div class="schedule__side-track">
                    <h2 class="schedule__track mb-5 mt-5">Side track</h2>
                    <ol class="schedule__list">
                      {% for activity in day.side %}
                        <li class="schedule__day-body">
                          {% set_global card = activity %}
                          {% include "partials/activity-card.html" %}
                        </li>
                      {% endfor %}
                    </ol>
                  </div>
                  {% if day.day == "1" %}
                    <div class="closing-party closing-party__grid schedule__shared">
                      <h2 class="schedule__track pb-5 border-bottom mt-5">Side activities</h2>
                      <div class="closing-party__content schedule__day-body">
                        <img
                          class="image-party py-3"
                          src="/images/activities/dinner.webp"
                          alt="Plate, fork, and spoon"
                        />
                        <p><strong>20:00</strong></p>
                        <p><strong>Group Dinners: Meet & Eat!</strong></p>
                        <p class="pb-5">
                          We have reservations at various local restaurants in Paris. Sign up at the conference venue to
                          join fellow Rustaceans for a dinner of your choice!
                        </p>
                      </div>
                    </div>
                    <div class="closing-party closing-party__grid schedule__shared schedule__day-body">
                      <a class="activity-card__link" href="/activities/karaoke/">
                        <div class="closing-party__content">
                          <img class="image-party py-3" src="/images/activities/karaoke.webp" alt="Retro mic" />
                          <p><strong>21:00–23:00</strong></p>
                          <p><strong>Karaoke Night</strong></p>
                        </div>
                      </a>
                    </div>
                  {% endif %}
                  {% if day.day == "2" %}
                    <div class="closing-party closing-party__grid schedule__shared">
                      <h2 class="schedule__track pt-5 border-bottom pb-5">Side activity</h2>
                      <div class="closing-party__content schedule__day-body">
                        <img class="image-party py-3" src="/images/activities/party.webp" alt="Disco ball" />
                        <p>18:30–22:00</p>
                        <p><strong>Closing Party</strong></p>
                        <p>
                          Like every year, we'll be ending the conference with a closing party. It will be held directly
                          at the conference venue, right after the closing talk on Friday, October 10.
                        </p>
                      </div>
                    </div>
                  {% endif %}
                </div>
                <div class="desktop-schedule">
                  <table class="schedule__table">
                    <thead>
                      <tr class="schedule__track schedule__bottom-line">
                        <th scope="col" class="visually-hidden">Time</th>
                        <th scope="col"><h2>Main Stage</h2></th>
                        <th scope="col" class="schedule__table-side"><h2>Side Track</h2></th>
                      </tr>
                    </thead>
                    {% set_global sideCount = 1 %}
                    {% set_global currentRowspan = 0 %}
                    {% set_global sideRow = 0 %}
                    {% for activity in day.mainStage %}
                      <tr class="schedule__day-body">
                        <td scope="row" class="visually-hidden">{{ activity.time }}</td>
                        <td
                          colspan="{% if activity.isBreak or activity.isSpan %}2{% else %}1{% endif %}"
                          class="{% if activity.isBreak %}schedule{% endif %}"
                        >
                          <!-- siderow: {{ sideRow }} count: {{ sideCount }} currentRowSpan {{ currentRowspan }} -->
                          {% set_global card = activity %}
                          {% include "partials/activity-card.html" %}
                        </td>
                        {% if currentRowspan and sideCount - sideRow < currentRowspan %}

                        {% else %}
                          {% if day.side[sideRow] %}
                            {% set_global card = day.side[sideRow] %}
                            {% if card.rowspan %}
                              {% set_global currentRowspan = card.rowspan %}
                            {% else %}
                              {% set_global currentRowspan = 0 %}
                            {% endif %}
                            {% if not card.isBreak and not activity.isSpan %}
                              <td
                                class="schedule__table-side"
                                {% if card.rowspan %}rowspan="{{ card.rowspan }}"{% endif %}
                              >
                                {% include "partials/activity-card.html" %}
                              </td>
                            {% endif %}
                          {% endif %}
                          {% set_global sideRow = sideRow + 1 %}
                        {% endif %}
                        {% set_global sideCount = sideCount + 1 %}
                      </tr>
                    {% endfor %}
                    {% if day.day == "1" %}
                      <tr class="schedule__day-body">
                        <td class="visually-hidden">20:00</td>
                        <td colspan="2">
                          <div class="closing-party closing-party__grid schedule__shared">
                            <div class="closing-party__content">
                              <img class="image-party py-3" src="/images/activities/dinner.webp" alt="Plate of food" />
                              <p><strong>20:00</strong></p>
                              <p><strong>Group Dinners: Meet & Eat!</strong></p>
                              <p>
                                We have reservations at various local restaurants in Paris. Sign up at the conference
                                venue to join fellow Rustaceans for a dinner of your choice!
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr class="schedule__day-body">
                        <td class="visually-hidden">20:40–22:40</td>
                        <td colspan="2">
                          <div class="closing-party closing-party__grid schedule__shared">
                            <a class="activity-card__link" href="/activities/karaoke/">
                              <div class="closing-party__content">
                                <img class="image-party py-3" src="/images/activities/karaoke.webp" alt="Retro mic" />
                                <p><strong>21:00–23:00</strong></p>
                                <p><strong>Karaoke Night</strong></p>
                              </div>
                            </a>
                          </div>
                        </td>
                      </tr>
                    {% endif %}
                    {% if day.day == "2" %}
                      <tr class="schedule__day-body">
                        <td class="visually-hidden">18:30-22:00</td>
                        <td colspan="2">
                          <div class="closing-party closing-party__grid schedule__shared">
                            <div class="closing-party__content">
                              <img class="image-party py-3" src="/images/activities/party.webp" alt="Disco ball" />
                              <p>18:30–22:00</p>
                              <p><strong>Closing Party</strong></p>
                              <p>
                                Like every year, we'll be ending the conference with a closing party. It will be held
                                directly at the conference venue, right after the closing talk on Friday, October 10.
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endif %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% if day.day == "1" %}
          {{ "</div>" | safe }}
          <div class="separator__bottom">
            <div class="separator__content"></div>
          </div>
          {{ "</div>" | safe }}
        {% endif %}
      {% endfor %}

      {% set schedule = load_data(path = "data/post-conference-day-schedule.json") %}
      {% set_global sideCount = 0 %}
      {% set_global currentRowspan = 0 %}
      {% set_global sideRow = 0 %}
      {% for day in schedule %}
        <section id="post-day" class="mt-6 mb-9">
          <div class="clouds post-day__clouds">
            <div class="clouds-3"></div>
            <div class="clouds-4"></div>
          </div>
          <div class="container">
            <div class="schedule__container">
              <div class="schedule__day schedule__day--3">
                <h1>Post-Conference Day</h1>
                <h2 class="mt-3 mb-6 schedule__track pb-3">{{ day.date }}</h2>
                <div class="schedule__grid mb-5 schedule__day-body">
                  <div class="schedule__main-stage">
                    <ol class="schedule__list">
                      {% for activity in day.side %}
                        <li>{% include "partials/activity-card-side.html" %}</li>
                      {% endfor %}
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endfor %}
    </main>
    {% include "sections/footer.html" %}
  </div>
{% endblock content %}
