{% extends "base.html" %} {% block content %}
{% set data = load_data(path="data/schedule.json") %}

<section class="schedule full-schedule">
  <div class="content">
    <h3 class="title">Schedule</h3>
    {% for conference_day in data.days %}
    <div class="timetable">
      <h5>Day {{conference_day.day}}</h5>
      <h6>{{ conference_day.date}}</h6>
      <h6 class="timezone">(Times are local, CEST)</h6>
      <table class="table schedule-table">
        <thead>
          <tr>
            <th class="time">Schedule</th>
          </tr>
        </thead>
        <tbody>
          {% for talk in conference_day.talks %}
          <tr>
            <td>
              <div class="talk-info">
                <h3 class="time">{{ talk.time }}</h3>
                {% if not talk.isBreak and talk.speaker %}
                <div id="{{ talk.id }}" class="speaker">
                  {% if not talk.hideImage %}
                  {% if talk.showLink %}
                  <a href="/speakers/{{ talk.id }}" alt="speaker profile">
                    {% endif %}
                    <img class="photo" src="/images/speakers/{{ talk.id }}.jpeg" />
                    {% if talk.showLink %}
                  </a>
                  {% endif %}
                  {% endif %}
                  {% if talk.showLink %}
                  <a href="/speakers/{{ talk.id }}" alt="speaker profile">
                    {% endif %}
                    <h4 class="name">{{ talk.speaker }}</h4>
                    {% if talk.showLink %}
                  </a>
                  {% endif %}
                </div>
                {% endif %}
                {% if not talk.isBreak and talk.speaker2 %}
                <div id="{{ talk.id2 }}" class="speaker">
                  {% if not talk.hideImage %}
                  {% if talk.showLink %}
                  <a href="/speakers/{{ talk.id2 }}" alt="speaker profile">
                    {% endif %}
                    <img class="photo" src="/images/speakers/{{ talk.id2 }}.jpeg" />
                    {% if talk.showLink %}
                  </a>
                  {% endif %}
                  {% endif %}
                  {% if talk.showLink %}
                  <a href="/speakers/{{ talk.id2 }}" alt="speaker profile" class="name">
                    {% endif %}
                    <h4 class="name">{{ talk.speaker2 }}</h4>
                    {% if talk.showLink %}
                  </a>
                  {% endif %}
                </div>
                {% endif %}
              </div>
            </td>
            <td class="schedule-table--timeslot">
              <div class="talk">
                <h3 class="talk-title">{{ talk.title }}</h3>
                {% if not talk.isBreak %}
                <div class="talk-description">{{ talk.description | safe }}</div>
                {% endif %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock content %}