{% extends "base.html" %}

{% block content %}
  <div class="generic-block speaker">
    {% include "sections/nav-generic.html" %}

    <main tabindex="-1" id="main" class="mt-5 mb-10">
      <section class="speaker-details container py-5">
        <div class="title">
          <div class="photo-container">
            <div class="photo-container-overlay"></div>
            {% if page.extra.image and not page.extra.image is containing("/.") %}
              <img class="photo" src="{{ page.extra.image }}" alt="Photo of {{ page.extra.name }}" />
            {% else %}
              <img class="photo" src="/images/talks/placeholder.webp" alt="" />
            {% endif %}
          </div>
        </div>
        <div>
          <div class="speaker-info">
            <h1 class="h3">{{ page.extra.name }}</h1>
            {% if page.extra.role %}
              <p class="h4">{{ page.extra.role }}</p>
            {% endif %}
          </div>
          {% if page.extra.bio %}
            <div class="bio mt-3">{{ page.extra.bio | safe }}</div>
          {% endif %}
          <div class="links mt-5">
            <ul class="social mt-3">
              {% if page.extra.twitter %}
                <li>
                  <a
                    href="https://twitter.com/{{ page.extra.twitter }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn__icon"
                    ><img src="/images/icons/twitter.svg" alt="X"
                  /></a>
                </li>
              {% endif %}
              {% if page.extra.bluesky %}
                <li>
                  <a href="{{ page.extra.bluesky }}" target="_blank" rel="noopener noreferrer" class="btn__icon"
                    ><img src="/images/icons/bluesky.svg" alt="Bluesky"
                  /></a>
                </li>
              {% endif %}
              {% if page.extra.mastodon %}
                <li>
                  <a href="{{ page.extra.mastodon }}" target="_blank" rel="noopener noreferrer" class="btn__icon"
                    ><img src="/images/icons/mastodon.svg" alt="Mastodon"
                  /></a>
                </li>
              {% endif %}
              {% if page.extra.linkedin %}
                <li>
                  <a href="{{ page.extra.linkedin }}" target="_blank" rel="noopener noreferrer" class="btn__icon"
                    ><img src="/images/icons/linkedin.svg" alt="LinkedIn"
                  /></a>
                </li>
              {% endif %}
              {% if page.extra.github %}
                <li>
                  <a href="{{ page.extra.github }}" target="_blank" rel="noopener noreferrer" class="btn__icon"
                    ><img src="/images/icons/github.svg" alt="GitHub"
                  /></a>
                </li>
              {% endif %}
              {% if page.extra.url %}
                <li>
                  <a href="{{ page.extra.url }}" target="_blank" rel="noopener noreferrer" class="btn__icon"
                    ><img src="/images/icons/web.svg" alt="Website"
                  /></a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </section>
    </main>

    {% include "sections/footer.html" %}
  </div>
{% endblock content %}
