{% extends "base.html" %}

{% block content %}

<main>
	<section class="speaker-profile">
		<img class="profile-image" alt="{{ page.extra.speaker_name }} profile picture"
			src="/images/speakers/{{ page.extra.speaker_image }}.jpeg" />
		<div class="speaker-details">
			<h2>{{ page.extra.speaker_name }}</h2>
			<h3>
				{{ page.extra.job_title }} at
				<span class="speaker-section_company">{{ page.extra.company }}</span>
			</h3>
			<p>
				{{ page.extra.bio | safe }}
			</p>
			{% if page.extra.talk %}
			<div class="talk">
				<h2>Talk</h2>
				<h3>{{ page.extra.talk }}</h3>
				{% if page.extra.enable_talk_details %}
				<a href="/schedule#{{ page.extra.speaker_image }}" alt="speaker talk details">See talk details</a>
				{% endif %}
			</div>
			{% endif %}
			<h3>Social Media</h3>
			<div class="links">
				<a href="https://twitter.com/{{ page.extra.twitter }}"><img src="/images/icons/twitter.svg"></a>
				<a href="{{ page.extra.web }}"><img src="/images/icons/external-link.svg"></a>
			</div>
		</div>
		</div>
	</section>
</main>

{% endblock content %}