{% extends "base.html" %}

{% block content %}
  <div class="generic-block sponsor">
    {% include "sections/nav.html" %}

    <main tabindex="-1" id="main" class="sponsor-page">
      <section class="sponsor-page__hero">
        <div class="container blurred-background p-1">
          <div class="mb-7 hero__topline">
            <p class="hero__details">
              »Sponsors // {{ page.extra.sponsor_type | safe }}s // {{ page.title | safe }}
            </p>
          </div>
          <div class="sponsor-page__hero__grid">
            <div class="photo-container">
              <img class="sponsor_logo" src="{{ page.extra.image }}" alt="{{ page.title }}" />
            </div>
            <h1 class="pb-3">{{ page.extra.tagline | safe }}</h1>
          </div>
        </div>
      </section>

      {{ page.content | safe }}

      <section class="sponsor-page__btn mb-8">
        <div class="CTA__buttons pb-8">
            <a href="{{ page.extra.url }}" target="_blank" class="CTA__ticket-button" >
              {% if page.extra.cta %}
                {{ page.extra.cta | safe }}
              {% else %}
                Visit {{ page.title | safe }} website
              {% endif %}
            </a>
        </div>
      </section>

      {% include "sections/footer.html" %}
    </main>
  </div>
{% endblock content %}
