{% extends "base.html" %}

{% block head %}
  <script>
    if (!window.tito) {
      var script = document.createElement('script');
      script.src = `https://js.tito.io/v2${
      ['localhost', '127.0.0.1'].includes(window.location.hostname)
        ? '/with/development_mode'
        : ''}`;
      script.async = true;
      document
        .head
        .appendChild(script);
    }
  </script>
{% endblock head %}

{% block content %}

  <div class="generic-block workshop {{ page.title | lower | replace(from=' ', to='_')  }}">

    {% include "sections/nav.html" %}

    <main>
      <section class="workshops workshop-details py-8 container">
        <div class="workshop-header">
          <p class="workshop-date mb-3">{{ page.extra.date }}</p>
          <h1 class="workshop-title mb-7">{{ page.title }}</h1>
          {% if page.extra.sponsor == "mainmatter" %}
            <div class="sponsored-by">
              <img alt="Mainmatter logo" src="/images/icons/mainmatter.svg"/>
              <p>Workshop run by Mainmatter</p>
            </div>
          {% elif page.extra.sponsor == "hightec" %}
            <div class="sponsored-by">
              <img alt="HighTec logo" src="/images/icons/hightec.png"/>
              <p>Workshop run by HighTec in collaboration with Veecle</p>
            </div>
          {% endif %}
        </div>

        <div class="workshop">
          {{ page.content | safe }}
        </div>
        <div class="btn__primary mt-8 mb-10">
          <tito-button event="events-matter/eurorust-2024" save-metadata-parameters="utm_*" class="btn__primary--link">Get your ticket</tito-button>
        </div>
        <div class="author-and-booking">
          <div class="mentor__grid">
            {% if page.extra.bio %}
              <div class="mentor__wrapper-content">
                <h5 class="mb-4">Mentor</h5>
                <h2 class="mb-4">{{ page.extra.mentor }}</h2>
                <p class="">{{ page.extra.bio | safe }}</p>
                <div class="links mt-5">
                  <ul class="social mt-3">
                    {%if page.extra.twitter %}
                      <li>
                        <a
        href="https://twitter.com/{{ page.extra.twitter }}"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/images/icons/twitter-footer-white.svg" alt="Twitter icon"/></a>
                      </li>
                    {% endif %}
                    {%if page.extra.url%}
                      <li>
                        <a
        href="{{ page.extra.url }}"
        target="_blank"
        rel="noopener noreferrer" class="btn__icon"><img src="/images/icons/external-link-white.svg" alt="email icon"/></a>
                      </li>
                    {% endif %}
                  </ul>
                </div>

              </div>
            {% endif %}
            {% if page.extra.avatar %}
              <div class="photo-container mentor__wrapper-image">
                <div class="photo-container-overlay"></div>
                <img
                  class="photo"
                  src="/images/workshops/{{ page.extra.avatar }}"
                  alt="{{ page.extra.avatar_alt }}">
              </div>
            {% endif %}
          </div>
        </div>

      </section>

      {% include "sections/workshop-venue.html" %}
    </main>

    {% include "sections/footer.html" %}
  </div>

{% endblock content %}