{% extends "2024/base.html" %}

{% block head %}
  <script>
    if (!window.tito) {
      var script = document.createElement('script');
      script.src = `https://js.tito.io/v2${
      ['localhost', '127.0.0.1'].includes(window.location.hostname)
        ? '/with/development_mode'
        : ''}`;
      script.async = true;
      document
        .head
        .appendChild(script);
    }
  </script>
{% endblock head %}

{% block content %}
  {% set schedule = load_data(path = "data/schedule.json") %}
  {% set day = schedule[page.extra.day] %}

  <div class="generic-block full-schedule">

    {% include "sections/nav.html" %}

    <main tabindex="-1" id="main">
      <section class="hero pb-10 border-b">
        <div class="container">
          <div class="title">
            <div class="my-7">
              <p class="large">Schedule Day {{ page.extra.day + 1 }}</p>
              <a class="link-to-other-day button" href="/schedule/day/{% if page.extra.day == 0 %}2{% else %}1{% endif %}">Day {% if page.extra.day == 0 %}2{% else %}1{% endif %}</a>
            </div>
            <h1 class="date pb-7">{{ page.extra.date }}</h1>
          </div>
          
          {% set_global sideCount = 0 %}
          {% set_global currentRowspan = 0 %}
          {% set_global sideRow = 0 %}
      
          {% set is_day1 = page.extra.day == 1 %}
      <div>
        <div class="mobile-schedule schedule__grid day-one mb-10">
            <div class="schedule__main-stage border-r">
            <h4 class="schedule__track mb-4">Main stage</h4>
            <ol class="schedule__list">
              {% for activity in day.mainStage %}
                <li>
                  {% include "2024/partials/activity-card.html" %}
                </li>
              {% endfor %}
            </ol>
          </div>
          <div class="schedule__side-track">
            <h4 class="schedule__track mb-4">Side track</h4>
            <ol class="schedule__list">
              {% for activity in day.side %}
                {% include "2024/partials/activity-card.html" %}
              {% endfor %}
            </ol>
          </div>
          <div class="closing-party closing-party__grid schedule__shared">
            <div class="closing-party__content">
              <h3 class="large mb-2">Meet the Rust-programmed robo-soccer team!</h3>
                  <p>The HULKs RoboCup SPL Team is coming to EuroRust. They'll be showing their robots, code showcases, as well as debugging tools and more during both conference days. 🤖</p>
            </div>
            <div class="closing-party__image">
              <div class="closing-party__image-overlay"></div>
              <img class="image-party" src="/2024/images/robots.jpg" alt="robot playing soccer"/>
            </div>
          </div>
          {% if page.extra.day == 0 %}
            <div class="closing-party closing-party__grid schedule__shared">
              <div class="closing-party__content">
                <h3 class="large mb-2">19:00: Karaoke – let's sing!</h3>
                <p>The EuroRust team reserved 30 spots at the Karaoke bar <a href="https://www.babuders.at" target="_blank">Babuder's</a> for Rustaceans who like to sing after the first conference day 🧑‍🎤.</p>
              </div>
              <div class="closing-party__image">
                <div class="closing-party__image-overlay"></div>
                <img class="image-party" src="/2024/images/karaoke.jpg" alt="boy singing into a microphone"/>
              </div>
            </div>
            <div class="closing-party closing-party__grid schedule__shared">
              <div class="closing-party__content">
                <h3 class="large mb-2">19:30: Group Dinners – Meet & Eat!</h3>
                <p>We have reservations at various local restaurants in Vienna. Sign up at the conference venue to join fellow Rustaceans for dinner at your choice! 🍕🥗🍲</p>
              </div>
              <div class="closing-party__image">
                <div class="closing-party__image-overlay"></div>
                <img class="image-party" src="/2024/images/diner.jpg" alt="boy singing into a microphone"/>
              </div>
            </div>
          {% endif %}
          {% if page.extra.day == 1  %}
            <div class="closing-party closing-party__grid schedule__shared">
              <div class="closing-party__content">
                <h3 class="large mb-2">18:00 - Closing Party</h3>
                <p>Like every year, we'll be ending the conference with a closing party – at the conference venue, right after the closing talk on Friday, 11th around 18:00.</p>
              </div>
              <div class="closing-party__image">
                <div class="closing-party__image-overlay"></div>
                <img class="image-party" src="/2024/images/closingparty2023.jpg" alt="closing party at eurorust 2023"/>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="desktop-schedule">
          <table class="schedule__table">
            <tr class="schedule__track h4">
              <th scope="col" class="visually-hidden">Time</th>
              <th scope="col">Main Stage</th>
              <th scope="col" class="schedule__table-side">Side track</th>
            </tr>
            {% set_global sideCount = 1 %}
            {% set_global currentRowspan = 0 %}
            {% set_global sideRow = 0 %}
            {% for activity in day.mainStage %}
              <tr>
                <td scope="row" class="visually-hidden">{{activity.time}}</td>
                <td {% if activity.isBreak %}colspan="2" class="schedule{% endif %}>
                  <!-- siderow: {{ sideRow }} count: {{ sideCount }} currentRowSpan {{ currentRowspan }} -->
                  {% include "2024/partials/activity-card.html" %}
                </td>
                  {% if currentRowspan and sideCount - sideRow < currentRowspan %}
                  {% else %}
                    {% if day.side[sideRow] %}
                      {% if day.side[sideRow].rowspan %}
                        {% set activity = day.side[sideRow] %}
                        {% set_global currentRowspan = activity.rowspan %}
                      {% else %}
                        {% set_global currentRowspan = 0 %}
                      {% endif %}
                      {% if not activity.isBreak %}
                        {% set activity = false %}
                        {% set activity = day.side[sideRow] %}
                        <td class="schedule__table-side" {% if activity.rowspan %}rowspan="{{ activity.rowspan }}"{% endif %}>
                          {% include "2024/partials/activity-card.html" %}
                        </td>
                      {% endif %}
                      {% set_global sideRow = sideRow + 1 %}
                    {% endif %}
                  {% endif %}
                  {% set_global sideCount = sideCount + 1 %}
              </tr>
              {% if loop.last %}
                <tr>
                  <td class="visually-hidden">&nbsp;</td>
                  <td colspan="2">
                    <div class="closing-party closing-party__grid schedule__shared">
                      <div class="closing-party__content">
                        <h3 class="large mb-2">Meet the Rust-programmed robo-soccer team!</h3>
  <p>The HULKs RoboCup SPL Team is coming to EuroRust. They'll be showing their robots, code showcases, as well as debugging tools and more during both conference days. 🤖</p>
                        </p>
                      </div>
                      <div class="closing-party__image">
                        <div class="closing-party__image-overlay"></div>
                        <img class="image-party" src="/2024/images/robots.jpg" alt="robot playing soccer"/>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endif %}
              {% if page.extra.day == 0 and loop.last %}
                <tr>
                  <td class="visually-hidden">19:00</td>
                  <td colspan="2">
                    <div class="closing-party closing-party__grid schedule__shared">
                      <div class="closing-party__content">
                        <h3 class="large mb-2">19:00: Karaoke – let's sing!</h3>
                        <p>The EuroRust team reserved 30 spots at the Karaoke bar <a href="https://www.babuders.at" target="_blank">Babuder's</a> for Rustaceans who like to sing after the first conference day 🧑‍🎤.</p>
                      </div>
                      <div class="closing-party__image">
                        <div class="closing-party__image-overlay"></div>
                        <img class="image-party" src="/2024/images/karaoke.jpg" alt="boy singing into a microphone"/>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="visually-hidden">19:00</td>
                  <td colspan="2">
                    <div class="closing-party closing-party__grid schedule__shared">
                      <div class="closing-party__content">
                        <h3 class="large mb-2">19:30: Group Dinners – Meet & Eat!</h3>
                        <p>We have reservations at various local restaurants in Vienna. Sign up a the conference venue to join fellow Rustaceans for dinner at your choice! 🍕🥗🍲</p>
                      </div>
                      <div class="closing-party__image">
                        <div class="closing-party__image-overlay"></div>
                        <img class="image-party" src="/2024/images/diner.jpg" alt="boy singing into a microphone"/>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
            {% if page.extra.day == 1  %}
              <tr>
                <td class="visually-hidden">18:00</td>
                <td colspan="2">
                  <div class="closing-party closing-party__grid schedule__shared">
                    <div class="closing-party__content">
                      <h3 class="large mb-2">18:00 - Closing Party</h3>
                      <p>Like every year, we'll be ending the conference with a closing party – at the conference venue, right after the closing talk on Friday, 11th around 18:00.</p>
                    </div>
                    <div class="closing-party__image">
                      <div class="closing-party__image-overlay"></div>
                      <img class="image-party" src="/2024/images/closingparty2023.jpg" alt="closing party at eurorust 2023"/>
                    </div>
                  </div>
                </td>
              </tr>
            {% endif %}
          </table>
        </div>
      </div>
 
        </div>
      </section>
    </main>

    {% include "sections/footer.html" %}
  </div>
{% endblock content %}
