{% extends "2024/base.html" %}

{% block head %}
  <script>
    if (!window.tito) {
      var script = document.createElement('script');
      script.src = `https://js.tito.io/v2${
      ['localhost', '127.0.0.1'].includes(window.location.hostname)
        ? '/with/development_mode'
        : ''}`;
      script.async = true;
      document
        .head
        .appendChild(script);
    }
  </script>
{% endblock head %}

{% block content %}

  <div class="generic-block speaker">

    {% include "sections/nav.html" %}

    <main tabindex="-1" id="main" class="mt-5 mb-10">
      <section class="speaker-details container py-5">
        <div class="title">
          <div class="photo-container">

            <div class="photo-container-overlay"></div>
            {%if page.extra.image and not page.extra.image is containing("/.")  %}
              <img
                class="photo"
                src="{{ page.extra.image }}"
                alt="Photo of {{ page.extra.name }}">
            {% else %}
              <img
                class="photo"
                src="/2024/images/speakers/placeholder.png"
                alt="">
            {% endif %}
          </div>
        </div>
        <div>
          <div class="speaker-info">
            <h1 class="h3">{{page.extra.name}}</h1>
            {%if page.extra.title %}
              <p class="h4">{{page.extra.title}}</p>
            {% endif %}
          </div>
          <div class="bio mt-3">
            {%if page.extra.bio %}
              {{ page.extra.bio | safe }}
            {% endif %}
          </div>
          <div class="links mt-5">
            <ul class="social mt-3">
  {%if page.extra.twitter %}
              <li>
                <a
          href="https://twitter.com/{{ page.extra.twitter }}"
          target="_blank"
          rel="noopener noreferrer" class="btn__icon"><img src="/2024/images/icons/twitter-footer-white.svg" alt="Twitter icon"/></a>
              </li>
              {% endif %}
              {%if page.extra.url%}
              <li>
                <a
          href="{{ page.extra.url }}"
          target="_blank"
          rel="noopener noreferrer" class="btn__icon"><img src="/2024/images/icons/external-link-white.svg" alt="email icon"/></a>
              </li>
  {% endif %}
            </ul>
          </div>
        </div>
      </section>
    </main>

    {% include "sections/footer.html" %}
  </div>

{% endblock content %}
