{% extends "2023/base.html" %}

{% block head %}
  <script>
    if (!window.tito) {
      var script = document.createElement('script');
      script.src = `https://js.tito.io/v2${
        ['localhost', '127.0.0.1'].includes(window.location.hostname)
          ? '/with/development_mode'
          : ''
        }`;
      script.async = true;
      document.head.appendChild(script);
    }
  </script>
{% endblock head %}

{% block content %}

  <div class="generic-block workshop {{ page.title | lower | replace(from=' ', to='_')  }}">

    {% include "2023/partials/header-workshops.html" %}

    <main tabindex="-1" id="main">
      <section class="workshops workshop-details">
        <div class="workshop-header">
          <p class="workshop-date">{{ page.extra.date }}</p>
          <h3 class="workshop-title">{{ page.title }}</h3>
          {% if page.extra.sponsor == "mainmatter" %}
            <div class="sponsored-by">
              <img alt="Mainmatter logo" src="/2023/images/icons/mainmatter.svg" />
              <p>Workshop run by Mainmatter</p>
            </div>
          {% elif page.extra.sponsor == "hightec" %}
            <div class="sponsored-by">
              <img alt="HighTec logo" src="/2023/images/icons/hightec.png" />
              <p>Workshop run by HighTec in collaboration with Veecle</p>
            </div>
          {% endif %}
        </div>

        <div class="workshop box">
          {{ page.content | safe }}
          <div class="author-and-booking">
            {% if page.extra.avatar %}
              <div class="photo-container">
                <img
                  class="photo"
                  src="/2023/images/workshops/{{ page.extra.avatar }}"
                  alt="{{ page.extra.avatar_alt }}">
              </div>
            {% endif %}
          </div>
        </div>
      </section>

      {% include "2023/partials/workshop-venue.html" %}
    </main>

    {% include "2023/partials/footer.html" %}
  </div>

{% endblock content %}
