---
layout: default
title: EuroRust – Accessibility
---

{% include main_header.html %}

<main>
  <section class="generic-content">
    <h2 class="title">Accessibility Statement</h2>
    <p>If you need any help, please contact us at <a href="mailto:mail@eurorust.eu">mail@eurorust.eu</a></p>
    <p class="note">
      EuroRust is an inclusive conference and strives to be accessible to everyone. We offer significantly discounted tickets for concession holders as well as complimentary tickets for assistants of disabled participants. If you’re not sure whether the concession rate should apply to you, please do get in touch.
    </p>
    <p>
      Our goal is that the conference and related events are accessible to disabled people. However, we are aware that accessibility issues are diverse and we may not have everything covered off in our plans - please reach out, and we will do our very best to confirm we have those requirements under control. Send a mail to <a href="mailto:mail@eurorust.eu">mail@eurorust.eu</a>.
    </p>
    <p>
      We are currently clarifying details with the conference venue and will keep this page updated.
    </p>
  </section>
</main>

{% include footer.html %}
