@import "./reset.scss";
@import "./mixins.scss";
@import "./fonts.scss";
@import "./typography.scss";
@import "./colors.scss";
@import "./workshops.scss";
@import "./schedule.scss";
@import "./speaker.scss";
@import "./tito-button.scss";

body {
  background-color: var(--black);
  color: var(--white);
  --margin-between-sections: 55px;
  @include desktop-and-tablet-only {
    --margin-between-sections: 180px;
  }
}

.sections {
  display: flex;
  flex-direction: column;

  .top-block {
    @include min-screen-width(601px) {
      background-image: url(/images/top-background-desktop-with-atomium.webp);
      background-size: cover;
      background-position: bottom center;
      background-repeat: no-repeat;
      padding-bottom: var(--margin-between-sections);
    }
  }

  .middle-block {
    background: url(/images/background-generic-2.webp) top left no-repeat;
    background-size: 100% 100%;
  }

  .bottom-block {
    transform: scaleX(-1);
    background: url(/images/background-generic-2.webp) top left no-repeat;
    background-size: 100% 100%;
    .bottom-block-content {
      transform: scaleX(-1);
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include min-max-screen-width(1px, 600px) {
      background-image: url(/images/atomium-mobile.webp);
      background-position: top center;
      background-repeat: no-repeat;
    }

    @include min-screen-width(500px) {
      justify-content: space-around;
    }

    @include desktop-and-tablet-only {
      height: 100vh;
      min-height: 900px;
    }

    & > div:first-child {
      @include desktop-and-tablet-only {
        margin-top: 50px;
      }
    }

    @include mobile-xxs-only {
      height: 130%;
    }

    @include mobile-and-phablet-only {
      padding-top: 2rem;
      gap: 2.5rem;
    }

    h1 {
      text-align: center;
    }

    .logo img {
      width: 320px;

      @include desktop-and-tablet-only {
        width: 70%;
      }
    }

    .about {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 70vw));
      @include mobile-only {
        grid-template-columns: repeat(auto-fit, minmax(300px, 100vw));
      }
      row-gap: 70px;
      column-gap: 10px;

      @include desktop-only {
        max-width: 1300px;
        height: fit-content;
        grid-template-columns: 0.45fr 0.35fr;
        gap: 60px;
        align-items: center;
        justify-content: center;
      }

      h3 {
        text-align: center;
        margin: 0px 12px;
        @include desktop-only {
          text-align: right;
        }
      }

      .transparent-box {
        letter-spacing: 0;
        line-height: 24px;
        background-color: var(--white);
        background: var(--transparent-white);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: 15px 25px;
        margin: 0px 10px;
        @include desktop-and-tablet-only {
          border: 1px solid var(--gray);
          padding: 18px 22px;
          margin: 0px;
        }
      }
    }
  }

  .get-involved {
    margin: auto;
    max-width: 1100px;
    width: 95%;

    @include min-screen-width(1210px) {
      width: 90%;
    }

    margin-top: var(--margin-between-sections);

    .actions {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      gap: 30px;
      margin: auto;
      @include desktop-and-tablet-only {
        gap: 80px;
        margin-bottom: 100px;
      }
      max-width: 400px;
      width: 100%;
      @include min-screen-width(1210px) {
        max-width: 100%;
      }
      margin-bottom: 30px;
      align-items: center;
      justify-content: center;
    }

    @include pill-button(
      ".social-link.twitter",
      2.5rem,
      "twitter-white.svg",
      23px,
      29px
    );
    @include pill-button(
      ".social-link.mailing-list",
      1.5rem,
      "email-white.svg"
    );

    .book-ticket {
      justify-self: center;
      margin-bottom: 20px;
      order: -1;
      @include min-screen-width(1210px) {
        justify-self: auto;
        order: 0;
      }
    }

    .neon span {
      margin: 16px;
      text-transform: uppercase;
      border: 3.2px solid var(--pink);
      @include neon-border-style(true);
      border-radius: 50%;
      width: 200px;
      height: 200px;
      font-family: Poppins-Light;
      font-size: 40px;
      color: var(--pink);
      letter-spacing: 0;
      text-align: center;
      line-height: 35px;
      text-shadow: 0 0 8px var(--pink);
      display: flex;
      align-items: center;
    }

    .rustfest-promo {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-bottom: 80px;
      margin-top: 20px;
      margin: 50px auto 80px;
      width: 60%;
      @include mobile-only {
        max-width: 300px;
      }

      @include desktop-and-tablet-only {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin: auto;
        width: 60%;
      }

      p {
        font-size: 18px;
        color: var(--pink);
        text-align: center;
        @include desktop-and-tablet-only {
          font-size: 22px;
          text-align: right;
        }
      }

      .rustfest-link {
        @include mobile-and-phablet-only {
          justify-self: center;
        }
        img {
          width: 180px;
        }
      }
    }
  }

  .topics {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    margin: 0 auto 80px;
    align-items: center;
    justify-content: center;
    max-width: 90%;

    @include desktop-and-tablet-only {
      max-width: 1500px;
      gap: 72px;
      // margin-top: var(--margin-between-sections);
      width: 90%;
    }

    h3 {
      text-align: center;
      @include desktop-and-tablet-only {
        max-width: 50%;
        text-align: left;
      }
    }

    img {
      height: 265px;
      align-self: center;
      margin: auto;
      @include desktop-and-tablet-only {
        height: 330px;
      }
    }
  }

  .past-event-highlights {
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
    margin: 0 auto 80px;
    align-items: center;
    justify-content: center;

    @include desktop-and-tablet-only {
      gap: 80px;
      margin-bottom: 0;
      margin-top: var(--margin-between-sections);
    }

    video {
      width: 100%;
      @include desktop-and-tablet-only {
        width: 90%;
      }
      max-width: 900px;
    }

    h4 {
      text-align: center;
      max-width: 80%;
      @include desktop-and-tablet-only {
        max-width: 50%;
      }
    }
  }

  .speakers,
  .moderators {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    align-self: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 100px;
    margin: 0 auto 80px;

    @include desktop-and-tablet-only {
      margin-top: var(--margin-between-sections);
    }

    @include mobile-only {
      margin-bottom: 60px;
    }
    width: 90%;
    max-width: 1200px;

    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      @include mobile-and-phablet-only {
        padding: 10px 50px;
      }
      margin: auto;
    }

    .speakers-list,
    .moderators-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;

      gap: 32px 25px;

      @include min-screen-width(640px) {
        gap: 55px;
      }

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
      }

      .photo,
      .photo-container {
        border-radius: 50%;
      }

      .photo-container {
        border: 3.2px solid var(--pink);
        @include neon-border-style(true);
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile-only {
          height: 150px;
          width: 150px;
        }
        height: 240px;
        width: 240px;
      }

      .photo {
        align-self: center;
        justify-self: center;

        display: inline-block;
        border: 2px solid var(--white);
        display: inline-block;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);

        @include mobile-only {
          height: 130px;
          width: 130px;
        }
        height: 210px;
        width: 210px;
      }

      a,
      p {
        color: rgb(253, 248, 244);
        font-family: Poppins-Regular;
        font-size: 18px;
        @include desktop-and-tablet-only {
          font-size: 22px;
          line-height: 28px;
          letter-spacing: 0;
        }
        text-align: center;
        @include desktop-and-tablet-only {
          margin-bottom: 10px;
        }

        &.speaker,
        &.moderator {
          margin-bottom: 0;
        }

        &.talk-title {
          margin-top: 0;
          font-size: 1rem;
        }
      }
      a {
        text-decoration: underline;
      }

      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        a {
          background-color: var(--transparent-gray);
          border-radius: 50%;
          width: 21px;
          height: 21px;
          padding: 10.5px;
          img {
            height: 21px;
            width: 21px;
          }
        }
      }
    }
  }

  .workshops {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    @include desktop-and-tablet-only {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 60px;
    }
    align-items: center;
    max-width: 1000px;
    margin: 0 35px 80px;
    @include desktop-and-tablet-only {
      margin: 0 auto 100px;
    }

    h3 {
      @include desktop-and-tablet-only {
        grid-column: 1 / 3;
      }
      grid-row: 1;
      text-align: center;
    }

    p {
      font-size: 22px;
      letter-spacing: 0;
      line-height: 28px;
      text-align: center;
      @include desktop-and-tablet-only {
        grid-column: 1;
        grid-row: 2;
        text-align: right;
      }
    }

    @include pill-button(
      ".link-to-workshops",
      2.5rem,
      "right_arrow.svg",
      24px,
      30px
    );

    a {
      max-width: 216px;
      margin: auto;
      @include desktop-and-tablet-only {
        margin: initial;
        grid-column: 2;
        grid-row: 2;
      }
    }
  }

  .presented-by {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 90%;
    margin: 0 auto 80px;
    @include desktop-and-tablet-only {
      gap: 80px;
      margin: var(--margin-between-sections) auto 0;
    }
    img {
      height: 50px;
      @include desktop-and-tablet-only {
        height: 100px;
      }
    }
  }

  .sponsors {
    display: grid;
    gap: 30px;
    @include desktop-and-tablet-only {
      margin-top: var(--margin-between-sections);
      gap: 44px;
    }
    align-items: center;
    margin-bottom: 80px;
    @include desktop-and-tablet-only {
      margin-bottom: 0;
    }
    .sponsors-grid-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 10px;
      row-gap: 20px;
      @include desktop-and-tablet-only {
        margin: 0 10%;
      }
      & > div {
        width: 100%;
        & > p {
          margin-bottom: 10px;
          font-family: Poppins-Light;
        }
      }
    }

    .thanks_message {
      font-family: Poppins-Light;
      color: var(--white);
      text-align: center;
      font-size: 25px;
      max-width: 60%;
      margin: auto;
      line-height: 30px;
      @include desktop-and-tablet-only {
        font-size: 40px;
        line-height: 50px;
      }
    }

    img {
      height: 2.5vw;
      min-height: 30px;
    }

    .sponsors-grid {
      display: flex;
      width: auto;
      justify-content: center;
      flex-flow: row wrap;
      justify-self: center;
      align-items: center;
      background-color: var(--transparent-white);
      border-radius: 10px;
      padding: 20px 18px;
      @include desktop-and-tablet-only {
        padding: 40px 0;
      }

      --max-width-premier-partners: 270px;
      --head-partner-size-ratio: 1.26;
      --partner-size-ratio: 1.6;
      --supporter-size-ratio: 1;

      @include desktop-and-tablet-only {
        --max-width-premier-partners: 308px;
        --head-partner-size-ratio: 1.5;
        --partner-size-ratio: 1.5;
      }

      --max-width-head-partners: calc(
        var(--max-width-premier-partners) / var(--head-partner-size-ratio)
      );

      --max-width-partners: calc(
        var(--max-width-head-partners) / var(--partner-size-ratio)
      );

      --max-width-supporters: calc(
        var(--max-width-partners) / var(--supporter-size-ratio)
      );

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      img.gensyn {
        @include desktop-and-tablet-only {
          height: 57px;
        }
        height: 48px;
      }

      &.premier-partners {
        gap: 39px;
        @include desktop-and-tablet-only {
          gap: 109px;
        }
        img {
          max-width: var(--max-width-premier-partners);
        }
      }

      &.head-partners {
        gap: 30px;
        @include desktop-and-tablet-only {
          gap: 58px;
        }
        img {
          max-width: var(--max-width-head-partners);
          max-height: 75px;
        }
      }

      &.partners {
        gap: 30px;
        justify-content: center;
        @include desktop-and-tablet-only {
          gap: 46px;
        }
        img {
          max-width: var(--max-width-partners);
        }
      }

      &.supporters {
        gap: 30px;
        justify-content: center;
        @include desktop-and-tablet-only {
          gap: 46px;
        }
        img {
          max-width: var(--max-width-supporters);
          max-height: 80px;
        }
      }
    }
  }
}

.venue,
.workshop-venue {
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: 1fr;
  row-gap: 40px;
  column-gap: 66px;
  margin: 0 35px 80px;

  @include desktop-only {
    row-gap: 0;
  }
  @include desktop-and-tablet-only {
    margin: var(--margin-between-sections) auto 0;
  }
  @include desktop-only {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    max-width: 1100px;
    width: 80%;
  }

  --min-max-venue-column: 500px;

  .image-venue-container {
    width: auto;

    @include desktop-only {
      grid-column: 1;
      grid-row-start: 1;
      grid-row-end: 4;
    }

    .image-venue {
      --neon-padding: 8px;
      @include desktop-only {
        --neon-padding: 14px;
      }
      --max-width-venue-img: calc(
        min(100% - (var(--neon-padding) * 2), var(--min-max-venue-column))
      );
      border-radius: 8px;
      border: 3.2px solid var(--pink);
      @include neon-border-style(true);
      padding: var(--neon-padding);
      max-width: var(--max-width-venue-img);
    }
  }

  h3 {
    letter-spacing: 0;
    text-align: center;
    width: calc(min(20rem, calc(100% - 35px * 2)));
    margin: auto;
    @include desktop-only {
      margin: 0;
      text-align: left;
      grid-column: 2;
      grid-row: 1;
    }
  }

  p {
    text-align: left;
    @include mobile-only {
      margin: auto 10px;
    }
    max-width: var(--min-max-venue-column);
    justify-self: center;
    @include desktop-only {
      justify-self: auto;
      grid-column: 2;
      grid-row: 2;
    }
  }

  @include pill-button(".map-link", 2.5rem, "location.svg", 35px);

  a {
    justify-self: center;
    @include desktop-only {
      justify-self: left;
      grid-column: 2;
      grid-row: 3;
    }
  }
}

.footer {
  display: grid;
  @include mobile-only {
    column-gap: 15px;
  }
  padding: 0 21px 40px;
  @include desktop-and-tablet-only {
    padding: 0;
    margin: var(--margin-between-sections) auto 60px;
    max-width: 1400px;
    width: 80%;
  }

  .rust {
    padding-top: 3rem;
  }
  
  p,
  a {
    font-family: Poppins-Light;
    font-size: 15px;
    @include desktop-and-tablet-only {
      font-size: 18px;
    }
    color: var(--white);
  }

  .meta,
  .pages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    line-height: 30px;
    @include desktop-and-tablet-only {
      line-height: 35px;
    }

    li:not(:last-child)::after {
      content: "·";
      margin-left: 10px;
      font-family: Poppins-Light;
      font-size: 15px;
      @include desktop-and-tablet-only {
        font-size: 18px;
      }
    }

    li > p {
      display: inline-block;
    }
  }

  .meta {
    grid-column-start: 1;
    grid-column-end: 3;
    @include mobile-only {
      grid-row: 1;
      grid-column: 1;
    }
  }

  hr {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    @include mobile-only {
      height: 0px;
      grid-row: 2;
      grid-column: 1;
    }
  }

  .links {
    display: grid;
    grid-column: 1;
    @include mobile-and-phablet-only {
      grid-row: 3;
      display: flex;
    }
    grid-template-columns: 1fr 75px;
    align-items: center;
    a {
      text-decoration: none;
    }
  }

  .social {
    grid-column: 2;
    display: flex;
    column-gap: 20px;
    @include mobile-only {
      display: grid;
      grid-row-start: 1;
      grid-row-end: 4;
      gap: 10px;
    }
    justify-self: end;
  }
}

.generic-block {
  background: url("/images/background-generic-1.webp") top right no-repeat;
  background-size: auto 100%;
  @include mobile-only {
    background: url("/images/background-generic-mobile-1.webp") top right
      no-repeat;
    background-size: 100% auto;
  }

  &.conference_code_of_conduct,
  &.workshop_schedule,
  &.workshop,
  &.full-schedule,
  &.speaker {
    background: url("/images/background-generic-1.webp") top right no-repeat,
      url("/images/background-generic-2.webp") bottom left no-repeat;
    background-size: 100% 50%, 100% 50%;

    @include mobile-xs-only {
      background: url("/images/background-generic-mobile-1.webp") top right
          no-repeat,
        url("/images/background-generic-mobile-2.webp") top left no-repeat,
        url("/images/background-generic-mobile-3.webp") bottom right no-repeat,
        url("/images/background-generic-mobile-2.webp") bottom left no-repeat;
      background-position-y: 0, 65rem, 145rem, 215rem;
      background-size: 100% auto, 100% auto, 100% auto, 100% auto;
    }
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    margin: 0px auto 40px;
    @include desktop-and-tablet-only {
      gap: 60px;
      padding-top: 100px;
      margin: 0px auto 100px;
    }
    max-width: 100%;

    h2 {
      font-size: 22px;
      line-height: 28px;
      text-align: left;
      @include desktop-and-tablet-only {
        font-size: 55px;
        line-height: 65px;
        text-align: center;
      }
    }

    .logo {
      max-height: 60px;
      @include desktop-and-tablet-only {
        max-height: 163px;
      }
      height: 100%;
    }
  }

  .generic-content,
  .workshops,
  .full-schedule-day,
  .speaker-details {
    margin: 0 auto 80px;
    @include desktop-and-tablet-only {
      max-width: 770px;
      width: 100%;
      margin-bottom: 180px;
    }
    max-width: 90%;

    ul {
      list-style: disc;
      display: flex;
      flex-direction: column;
      gap: 26px;
      @include mobile-and-phablet-only {
        margin-left: 10px;
      }
    }

    .group-download {
      margin-top: 80px;
      @include desktop-and-tablet-only {
        margin-top: 140px;
      }
    }

    h3 {
      text-align: left;
      margin-bottom: 20px;
      @include desktop-and-tablet-only {
        margin-bottom: 40px;
      }
    }

    @include pill-button(".download", 3.5rem) {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    h5 {
      text-align: center;
      margin: 0 15px 80px;
      @include desktop-and-tablet-only {
        margin: 0 50px 180px;
      }
    }

    a:not(.button) {
      text-decoration: underline;
    }

    .box-title {
      display: flex;
      justify-content: space-between;
      h3 {
        flex-basis: 70%;
        @include desktop-and-tablet-only {
          flex-basis: 75%;
        }
      }
    }

    .languages {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 5px 10px;
      margin: 20px 0;
    }

    .box {
      padding: 20px;
      margin-bottom: 40px;
      @include desktop-and-tablet-only {
        padding: 40px;
        margin-bottom: 80px;
      }
      background: var(--transparent-white);
      border-radius: 10px;
      letter-spacing: 0;
      letter-spacing: 0;
      word-break: break-word;
    }
  }

  .generic-content {
    ul {
      gap: 10px;
    }
  }
}
