:root {
  --black: #000000;
  --dark-gray: #595959;
  --pink: #f4025b;
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.1);
  --transparent-gray: rgba(255, 255, 255, 0.4);
  --neon-green: #00ffc4;
}
