name: CI

on:
  push:
    branches:
      - main
  pull_request: {}
  schedule:
    - cron: "0 3 * * *" # daily, at 3am

jobs:
  gravity:
    name: "Gravity"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: install @gravityci/cli
        run: npm i -g @gravityci/cli

      - name: Build
        uses: shalzz/zola-deploy-action@v0.21.0
        env:
          BUILD_ONLY: true

      - name: Run Gravity
        run: gravityci "public/**/!(*.pdf|*.mp4|*.webm)"
        env:
          GRAVITY_TOKEN: ${{ secrets.GRAVITY_TOKEN }}
